GeneratedSchemaLibraries/UK CabinetOffice/VICTER-eis/Referral.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.17.0 (http://www.liquid-technologies.com)-->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Andrew Harding (The Rent Service) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by David Duncan for The Rent Service -->
<xsd:schema xmlns:hb="http://www.therentservice.gov.uk/schema/HbReferral.xsd" xmlns:cmn="http://www.therentservice.gov.uk/schema/Common.xsd" xmlns:rfr="http://www.therentservice.gov.uk/schema/Referral.xsd" xmlns:rd="http://www.therentservice.gov.uk/schema/ReDetReferral.xsd" xmlns:pt="http://www.therentservice.gov.uk/schema/PTDReferral.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.therentservice.gov.uk/schema/Referral.xsd" version="3.9" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="HbReferral.xsd" namespace="http://www.therentservice.gov.uk/schema/HbReferral.xsd" />
  <xsd:import schemaLocation="PTDReferral.xsd" namespace="http://www.therentservice.gov.uk/schema/PTDReferral.xsd" />
  <xsd:import schemaLocation="ReDetReferral.xsd" namespace="http://www.therentservice.gov.uk/schema/ReDetReferral.xsd" />
  <xsd:import schemaLocation="Common.xsd" namespace="http://www.therentservice.gov.uk/schema/Common.xsd" />
  <xsd:annotation>
    <xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Creator>The Rent Service (webmaster@therentservice.gov.uk)</Creator>
				<Date>
					<Created>2004-02-16</Created>
					<Updated>2009-03-01</Updated>
				</Date>
				<Description>Schema for the validation of referrals</Description>
				<Identifier>Referral.xsd-v4.0</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>The Rent Service, 5 Welbeck Street, London, W1G 9YQ</Publisher>
				<Subject>
					<Category>People, communities and living</Category>
					<Keyword>Housing Benefit</Keyword>
					<Keyword>Rent Service</Keyword>
					<Keyword>Appeal</Keyword>
					<Keyword>Redetermination</Keyword>
				</Subject>
				<Title>Master schema for HB, PTD and redet referrals</Title>
			</Metadata>
		</xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Referral">
    <xsd:annotation>
      <xsd:documentation>Local Authority Referrals</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>Single occurence</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="Manifest" type="cmn:Manifest">
          <xsd:annotation>
            <xsd:documentation>Manifest specifying control information</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Case">
          <xsd:annotation>
            <xsd:documentation>Case Submissions</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:complexContent mixed="false">
              <xsd:extension base="rfr:Case">
                <xsd:attribute name="TransactionType" type="cmn:TypeTransaction" use="required" />
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Case">
    <xsd:annotation>
      <xsd:documentation>Case Defintion includes mandatory attribute CaseType to identifiy the type of case HB=Houing Benefit, PT=Pre-Tenency, RD=Redetermination</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation>Choice of Case Types</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="HBCase" type="hb:HousingBenefitCase">
          <xsd:annotation>
            <xsd:documentation>Housing Benefit Case</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PTCase" type="pt:PreTenancyCase">
          <xsd:annotation>
            <xsd:documentation>Pre-Tenancy Determination caes</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="RDCase" type="rd:ReDeterminationCase">
          <xsd:annotation>
            <xsd:documentation>Redetermination Case</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="Substitute" type="cmn:Substitute">
        <xsd:annotation>
          <xsd:documentation>Substitute details if this is a substitute application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="CaseType" type="cmn:TypeCase" use="required" />
  </xsd:complexType>
</xsd:schema>