GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/AnnotatedDefinedTermType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="AnnotatedDefinedTermType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ScaleAnnotationType.xsd" />
  <xsd:include schemaLocation="DefinedTermSetType.xsd" />
  <xsd:complexType name="AnnotatedDefinedTermType">
    <xsd:annotation>
      <xsd:documentation>Word, name, acronym, phrase, defined in a controlled value space (e.g., taxonomy, glossary, dictionary, tag list, and other forms of enumeration). Note(s): Used in the context of JDX to assign terms from occupation, industry and instructional program classifications, skills and abilities, and abstract concepts to JDX entities. Through the class' relationship with the ScaledAnnotation class, terms can be conditioned through applications of scales for attributes such as importance and frequency.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="annotation" type="hropen:ScaleAnnotationType">
        <xsd:annotation>
          <xsd:documentation>Entity providing qualifying notations including application of scales and other weights to concepts and competencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>A description of the item. Note(s): Some online job boards and other services (e.g., Google Jobs) require the general description of a JobPosting to be HTML tagged; in such instances, use the formattedDescription property (if available) instead of the description property.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="inDefinedTermSet" type="hropen:DefinedTermSetType">
        <xsd:annotation>
          <xsd:documentation>A defined term set that contains this term.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The name of the item. Note(s): NOTE: For the name of the hiring organization, use the subproperty legalName.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="termCode">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>A code that identifies this DefinedTerm within a DefinedTermSet.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="AnnotatedDefinedTerm" type="hropen:AnnotatedDefinedTermType" />
</xsd:schema>