GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/JDXOrganizationType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="JDXOrganizationType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../../common/xml/communication/AddressType.xsd" />
  <xsd:include schemaLocation="AnnotatedDefinedTermType.xsd" />
  <xsd:include schemaLocation="PlaceType.xsd" />
  <xsd:include schemaLocation="../../../common/xml/base/GeoType.xsd" />
  <xsd:include schemaLocation="../../../common/xml/work/JobType.xsd" />
  <xsd:include schemaLocation="../../../common/xml/communication/AddressTypeArray.xsd" />
  <xsd:complexType name="JDXOrganizationType">
    <xsd:annotation>
      <xsd:documentation>An organization such as a corporate body, employer, distribution channel provider.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="address" type="hropen:AddressType">
        <xsd:annotation>
          <xsd:documentation>Physical address of the entity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="contactPoint" type="hropen:AddressTypeArray">
        <xsd:annotation>
          <xsd:documentation>A contact point for a person or organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="department" type="hropen:JDXOrganizationType">
        <xsd:annotation>
          <xsd:documentation>Relationship between an organization and a department of that organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>A description of the item. Note(s): Some online job boards and other services (e.g., Google Jobs) require the general description of a JobPosting to be HTML tagged; in such instances, use the formattedDescription property (if available) instead of the description property.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="duns">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Dun &amp; Bradstreet DUNS number for identifying an organization or business person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="email">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Email address of an organization or person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="faxNumber">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Fax number of an organization or person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="fein">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Federal Employer Identification Number (FEIN) identifying organizations, persons, states, government agencies, corporations, and companies.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="geo" type="hropen:GeoType">
        <xsd:annotation>
          <xsd:documentation>The geo coordinates of the place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="job" type="hropen:JobType">
        <xsd:annotation>
          <xsd:documentation>Entity referenced is a full description of a job defined and to be offered by the organization being described.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="industries">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Description of the most critical economic or work activities performed (e.g. software development, electronic manufacturing, motor vehicle production, or diagnostic and therapeutic services). Note(s): NOTE: The industry description expected here is a brief narrative of the most critical economic or work activities performed. To identify a formal industry code, such as NAICS in the U.S., use the industryCode property.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="industryCodes">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Code from a controlled vocabulary of industry types identifying the primary economic activity of an establishment defined as a single physical location where business is conducted or where services or industrial operations are performed. Note(s): 1.) Use a value selected from a controlled vocabulary of industry types used in the country where the job is located; e.g., NAICS in the U.S. and ESCO in the European Union. 2.) In a JDX job description, there my be multiple levels and locations for an organization identified and each may have different industry codes based on the kinds of work performed at those locations.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AnnotatedDefinedTermType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="isicV4">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>International Standard of Industrial Classification of All Economic Activities (ISIC), Revision 4 code for a particular organization, business person, or place.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="jobLocation" type="hropen:PlaceType">
        <xsd:annotation>
          <xsd:documentation>Typically single geographic location where the work is performed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="legalName">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The official name of the organization, e.g. the registered company name.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="leiCode">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>An organization identifier that uniquely identifies a legal entity as defined in ISO 17442.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="logo">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>An associated logo.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="naics">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The North American Industry Classification System (NAICS) code for a particular organization or business person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The name of the item. Note(s): NOTE: For the name of the hiring organization, use the subproperty legalName.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="numberOfEmployees">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Number of employees in the hiring organization.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="parentOrganization" type="hropen:JDXOrganizationType">
        <xsd:annotation>
          <xsd:documentation>The larger organization that this organization is a subOrganization of, if any.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="sameAs">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="subOrganization" type="hropen:JDXOrganizationType">
        <xsd:annotation>
          <xsd:documentation>A relationship between two organizations where the first includes the second, e.g., as a subsidiary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="telephone">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The telephone number of an organization or person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="url">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>URL of the item.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="JDXOrganization" type="hropen:JDXOrganizationType" />
</xsd:schema>