GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/PostingInstructionsType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="PostingInstructionsType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../../common/xml/communication/AddressTypeArray.xsd" />
  <xsd:include schemaLocation="../../../common/xml/base/DateTimeType.xsd" />
  <xsd:include schemaLocation="PlaceType.xsd" />
  <xsd:complexType name="PostingInstructionsType">
    <xsd:annotation>
      <xsd:documentation>Entity providing information about where and how a posting should be communicated. Note(s): A posting channel usually would be a job board or other advertising medium (HR).</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="applicationCloseDate" type="hropen:DateTimeType">
        <xsd:annotation>
          <xsd:documentation>Closing date for accepting applications.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="applicationContact" type="hropen:AddressTypeArray">
        <xsd:annotation>
          <xsd:documentation>Organization or person contact point for the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="applicationInstructions">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Narrative instructions for applying for this position.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="applicationLocation" type="hropen:PlaceType">
        <xsd:annotation>
          <xsd:documentation>Physical location where job applications can be submitted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="distributionChannel">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Identifies a job board or media channel associated with a job posting.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="postingEndDate" type="hropen:DateTimeType">
        <xsd:annotation>
          <xsd:documentation>End date (time) for the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="postingStartDate" type="hropen:DateTimeType">
        <xsd:annotation>
          <xsd:documentation>Start date (time) for the posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PostingInstructions" type="hropen:PostingInstructionsType" />
</xsd:schema>