GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/QuantitativeValueType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="QuantitativeValueType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="QuantitativeValueType">
    <xsd:annotation>
      <xsd:documentation>Point value or interval for product characteristics and other purposes.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="maxValue">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The upper value of some characteristic or property.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:decimal" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="minValue">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The lower value of some characteristic or property.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:decimal" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="unitText">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Unit of measurement on which values for MonetaryAmount or QuantitativeValue are based; select from an existing enumeration of such types. An example of MonetaryAmount is $100 per day where unitText equals DAY. </xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="value">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Value of the quantitative value or property value node.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="QuantitativeValue" type="hropen:QuantitativeValueType" />
</xsd:schema>