LinqToXsd.Schemas/UK CabinetOffice/PlanningPortal/Contactsv05.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "PINSTypesv06.xsd"
	 targetNamespace = "PINSTypesv06.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "">
	<xsd:annotation>
		<xsd:documentation>This schema defines all the structures and contents required to describe a contact directory record as part of the Planning Portal Programme. It was developed by Cap Gemini Ernst and Young.

This schema was designed to be compliant (as far as practical) with the e-GIF guidelines and the best practice advice of the Office of the e-Envoy in respect of Schema design. This includes the addition of documentation entries within the schema.

This schema makes use of external schemas. The documentation of elements and attributes defined externally is included within the external schemas.

Understanding of this and related schemas is facilitated by associated documentation which describe the overall schema set, the function of individual schemas and the underlying data models. Specifically this includes a definition of schema architecture (PINS Data Interchange ArchitectureV01.doc) and the UML data model underpinning this schema (Contactv01.mdl). These resources were developed by Cap Gemini Ernst and Young and are owned by the Planning Portal Programme. It is recommended that these resources are accessed to maximise the understanding of this and related schemas, these are available from the Planning Portal Programme.
</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "PINSTypesv06.xsd"/>
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	<xsd:element name = "Contact">
		<xsd:annotation>
			<xsd:documentation>The root container for all the information about a contact directory record. A contact directory record contains information about a cotact organisation or person to be included within a directory, including informmation about their name, role within the planning community, expertise, location etc. and can have graphical and geographic information connected with it.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ContactName" minOccurs = "0"/>
				<xsd:element ref = "ContactRole" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "JobTitle" minOccurs = "0"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0"/>
				<xsd:element ref = "ContactDetails"/>
				<xsd:element ref = "AreaOfExpertise" maxOccurs = "unbounded"/>
				<xsd:element ref = "ExpertiseSubject"/>
				<xsd:element ref = "Organisation" minOccurs = "0"/>
				<xsd:element ref = "AssociatedSpatialItem" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "Language" type = "xsd:language">
				<xsd:annotation>
					<xsd:documentation>Working language for the Contact. The language is denominated in accordance with ISO 639.
In this schema the value for this attribute defaults to 'en' (English) and should be set to 'cy' if Welsh is required. Where another language is required this can be identified from ISO 639 </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ContactName" type = "PersonName">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the name of the Contact. The overall collection of the components represents the name of the Contact, as a minimum this must include a first name and a last name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactDetails">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the contact details for the Contact. As a minimum this must include an address, at least one telephone number and a identification of which medium is preferred by the Contact</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Availability" minOccurs = "0"/>
				<xsd:element ref = "FullAddress"/>
				<xsd:element ref = "Email" minOccurs = "0"/>
				<xsd:element ref = "FullFax" minOccurs = "0"/>
				<xsd:element ref = "FullTelephone" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "PreferredContactMedium" use = "required">
				<xsd:annotation>
					<xsd:documentation>Contact's preferred (but not necessarily exclusive) medium for being contacted</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Post"/>
						<xsd:enumeration value = "E-mail"/>
						<xsd:enumeration value = "Fax"/>
						<xsd:enumeration value = "Telephone"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AreaOfExpertise">
		<xsd:annotation>
			<xsd:documentation>Container for constrained classification of Contact's area of expertise. Note this element follows the convention of enumerations (i.e. choice form a defined set of options) being defined as attributes, thus the element AreaOfExpertise has only an attribute (ExpertiseCategory) associated with it</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "ExpertiseCategory" use = "required">
				<xsd:annotation>
					<xsd:documentation>Classification of Contact's expertise. This is a constrained classification and is complemented by the element ExpertiseSubject</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Countryside Conservation"/>
						<xsd:enumeration value = "Urban Conservation"/>
						<xsd:enumeration value = "Development Control"/>
						<xsd:enumeration value = "Listed Buildings"/>
						<xsd:enumeration value = "Development Plans"/>
						<xsd:enumeration value = "Appeals"/>
						<xsd:enumeration value = "Minerals And Waste"/>
						<xsd:enumeration value = "Retail Development"/>
						<xsd:enumeration value = "Highways Development Control"/>
						<xsd:enumeration value = "Transport Planning"/>
						<xsd:enumeration value = "Nature Conservation"/>
						<xsd:enumeration value = "Environmental Pollution"/>
						<xsd:enumeration value = "Recreation And Sports"/>
						<xsd:enumeration value = "Urban Redevelopment"/>
						<xsd:enumeration value = "Residential Development"/>
						<xsd:enumeration value = "Commercial Development"/>
						<xsd:enumeration value = "Household And Small Development"/>
						<xsd:enumeration value = "Other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Organisation">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the organisation, where the organisation may be the Contact OR the organisation represented by the Contact. As a minimum this must include an Organisation's name, type and a description of its nature of business</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OrgName"/>
				<xsd:element ref = "RegisteredName" minOccurs = "0"/>
				<xsd:element ref = "VATRegNo" minOccurs = "0"/>
				<xsd:element ref = "URL" minOccurs = "0"/>
				<xsd:element ref = "NatureOfBusiness"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "OrganisationType" use = "required">
				<xsd:annotation>
					<xsd:documentation>Classification of organisation (classification options are currently indeterminate). This is a constrained classification and is complemented by the element NatureOfBusiness</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Type1"/>
						<xsd:enumeration value = "Type2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "JobTitle" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>Job Title of the Contact. This is the official job title of this contact which may not indicate the contact's role or expertise (both defined elsewhere within this schema)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactGraphic">
		<xsd:annotation>
			<xsd:documentation>Container for the components of a Contact's graphic - the components here include the classification of graphic type and a link to the graphic. 
Note that no constraints exist upon the content of the graphic, but by convention graphic contents should relate to the parent structure of the ContactGraphic element, thus for example photographs of people should relate to a contact, maps could relate to an address or organisation etc</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "GraphicType">
					<xsd:attribute name = "GraphicType" use = "required">
						<xsd:annotation>
							<xsd:documentation>Classification of graphic. Note that by convention graphic type should relate to the parent structure of the ContactGraphic element, thus for example photographs of people should relate to a contact, maps could relate to an address or organisation etc</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base = "xsd:string">
								<xsd:enumeration value = "Map"/>
								<xsd:enumeration value = "Logo"/>
								<xsd:enumeration value = "Photograph"/>
								<xsd:enumeration value = "Other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FullFax">
		<xsd:annotation>
			<xsd:documentation>Container for the contents of a fax number of a Contact. As a minimum this must include the intenational code, national code and local number</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "LineNo">
					<xsd:sequence>
						<xsd:element ref = "GTNCode" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FullTelephone">
		<xsd:annotation>
			<xsd:documentation>Container for the contents of a telephone number. As a minimum this must include the intenational code, national code, local number and an identification of whether the number is the preferred telephone number for the Contact</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "LineNo">
					<xsd:sequence>
						<xsd:element ref = "GTNCode" minOccurs = "0"/>
					</xsd:sequence>
					<xsd:attribute name = "PreferredTelephone" use = "required" type = "xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Identification of whether the telephone number is 'preferred' by the Contact</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name = "TelephoneType">
						<xsd:annotation>
							<xsd:documentation>Classification of telephone (number)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base = "xsd:string">
								<xsd:enumeration value = "Office"/>
								<xsd:enumeration value = "Mobile"/>
								<xsd:enumeration value = "VoiceMail"/>
								<xsd:enumeration value = "Other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExpertiseSubject" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>Unconstrained description of a Contact's expertise. This description should be used to complement the constrained options within the element AreaOfExpertise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "RegisteredName" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>Name of organisation as registered with appropriate registration authority (e.g. Companies House)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "VATRegNo">
		<xsd:annotation>
			<xsd:documentation>VAT Registration number of organisation as registered appropriate registration authority (e.g. Customs and Excise)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base = "xsd:integer">
				<xsd:maxInclusive value = "999999999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "URL" type = "xsd:anyURI">
		<xsd:annotation>
			<xsd:documentation>Universal Resource Locator (Web Link/Address) to organisation's web site</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "NatureOfBusiness" type = "xsd:string">
		<xsd:annotation>
			<xsd:documentation>Unconstrained description of organisation's nature of business. This description should be used to complement the constrained options within the attribute OrganisationType</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "FullAddress">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the address of a Contact, this may include an internal location and graphic of the Contact in addition to the external address.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ExternalAddress"/>
				<xsd:element ref = "InternalLocation" minOccurs = "0"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GTNCode" type = "xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Government Telephone Network (GTN) is a closed telecommunication infrastructure operating within some public sector organisations. This allows telecommunication between GTN enabled participants using this infrastructure.
A GTN Code is a dial code for telephone/fax communication with a GTN-enabled Contact using the GTN infrastructure</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactRole">
		<xsd:annotation>
			<xsd:documentation>Container for the constrained description of Contact's role. Note this is distinct from the Contact's job title and expertise (both defined elsewhere within this schema)
Note this element follows the convention of enumerations (i.e. choice from a defined set of options) being defined as attributes, thus the element ContactRole has only an attribute (ContactRoleType) associated with it</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "ContactRoleType" use = "required">
				<xsd:annotation>
					<xsd:documentation>Constrained classification of the Contact's role (classification options are currently indeterminate). </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Type1"/>
						<xsd:enumeration value = "Type2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AssociatedSpatialItem" type = "SpatialItem">
		<xsd:annotation>
			<xsd:documentation>Spatial item (typically a feature created within a GIS system) associated with the Contact record. e.g. A map.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>