LinqToXsd.Schemas/UK CabinetOffice/PlanningPortal/PPForms-v2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Alan M Owen (Cywir Limited) -->
<xsd:schema targetNamespace="http://www.planningportal.gov.uk/schema/XForm-2003" xmlns="http://www.planningportal.gov.uk/schema/XForm-2003" 
xmlns:pType="http://www.govtalk.gov.uk/planning/PINSTypes-2003" 
xmlns:brch="http://www.govtalk.gov.uk/planning/OnlinePlanningBreachComplaint-200401" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" version="2.0.1">
	<xsd:import namespace="http://www.govtalk.gov.uk/planning/PINSTypes-2003" schemaLocation="PINSTypes-v2-0.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/planning/OnlinePlanningBreachComplaint-200401" schemaLocation="OnlinePlanningBreachComplaint-v1-1.xsd"/>

	<xsd:annotation>
		<xsd:documentation>
			Schema definition for the types used within the individual form schemas
		</xsd:documentation>
	</xsd:annotation>
	<!-- Generic types -->
	<xsd:element name="Duration">
		<xsd:annotation>
			<xsd:documentation>Duration of time</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Years" type="xsd:integer" default="0" minOccurs="0"/>
				<xsd:element name="Months" type="xsd:integer" default="0" minOccurs="0"/>
				<xsd:element name="Days" type="xsd:integer" default="0" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ApplicantName">
		<xsd:annotation>
			<xsd:documentation>
				Name of the applicant (either organisation or person, or both)
				CRM - Changed the following model as it was non-deterministic
				This model is backward compatable but therefore also allows 2 orgnames (or personnames).
				Other option would be to allow:

				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="pType:OrgName"/>
						<xsd:element name="PersonName" type="pType:PersonName" minOccurs="0"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="PersonName" type="pType:PersonName"/>
						<xsd:element ref="pType:OrgName" minOccurs="0"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="2">
			<xsd:element ref="pType:OrgName"/>
			<xsd:element name="PersonName" type="pType:PersonName"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="PersonName" type="pType:PersonName"/>
	<xsd:complexType name="Plan">
		<xsd:annotation>
			<xsd:documentation>Generic plan description</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element name="Number" type="xsd:string" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TotalTableRow">
		<xsd:annotation>
			<xsd:documentation>
				Type used for describing a row in a table that illustrates existing/proposed
				information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="Existing" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="New" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>New number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Total" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Total number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="TableRow">
		<xsd:annotation>
			<xsd:documentation>
				Type used for describing a row in a table that illustrates existing/proposed
				information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Existing" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Proposed" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Net" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmploymentTableRow">
		<xsd:annotation>
			<xsd:documentation>
				Type used for describing a row in a table that illustrates existing/proposed
				information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="FullTime" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartTime" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Total" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="FloorspaceTableRow">
		<xsd:annotation>
			<xsd:documentation>
				Type used for describing a row in a table that illustrates existing/proposed
				information
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Existing" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToDemolish" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>To be demolished</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Proposed" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Total" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DocRef">
		<xsd:annotation>
			<xsd:documentation>
				A Document reference, this is only as described in the form (ie. application
				date/ref #)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="RefNo" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Reference Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AppDate" type="OptionalDate">
					<xsd:annotation>
						<xsd:documentation>Application Date</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="OptionalDate">
		<xsd:annotation>
			<xsd:documentation>Optional Date - can take date or blank</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalTime">
		<xsd:annotation>
			<xsd:documentation>Optional Date - can take date or blank</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:time">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<!-- End of Generic definitions -->
	<!-- Section 1:  Applicant address -->
	<xsd:complexType name="ApplicantAddress">
		<xsd:annotation>
			<xsd:documentation>Name/contact information for the applicant</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="ApplicantName">
				<xsd:annotation>
					<xsd:documentation>Applicant name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactName" type="pType:PersonName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						A contact name (need if for example name of applicant is an organisation)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactDetails" type="pType:ShortContactDetails">
				<xsd:annotation>
					<xsd:documentation>Phone/Address contact information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayTimeTelNo" type="pType:TelephoneStructure">
				<xsd:annotation>
					<xsd:documentation>Daytime Telephone Number not in standard types schema</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DXNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A reference number?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 2:  Agent Address -->
	<xsd:complexType name="AgentAddress">
		<xsd:annotation>
			<xsd:documentation>Name/contact information for the agent</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="ApplicantName">
				<xsd:annotation>
					<xsd:documentation>Person name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactDetails" type="pType:ShortContactDetails">
				<xsd:annotation>
					<xsd:documentation>Contact phone number/address</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DayTimeTelNo" type="pType:TelephoneStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Daytime Telephone Number not in standard types schema</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DXNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference number?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 3:  Site Location -->
	<xsd:complexType name="SiteLocation">
		<xsd:annotation>
			<xsd:documentation>Location of the site</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SameAsApplicant" type="xsd:boolean" default="false"/>
			<xsd:element ref="pType:ExternalAddress"/>
			<xsd:element name="uprn" type="xsd:integer"/>
			<xsd:element name="OtherLocation" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						If there is no address, a free-text description of where it is
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="uprnType2">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}|^\s*$"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Section 4:   Description of Proposals -->
	<xsd:complexType name="ProposalDescription">
		<xsd:annotation>
			<xsd:documentation>Generic description of the proposal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProposalState">
		<xsd:annotation>
			<xsd:documentation>State of the proposal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProposalStarted" type="xsd:boolean"/>
			<xsd:element name="StartDate" type="OptionalDate" minOccurs="0"/>
			<xsd:element name="Perminent" type="xsd:boolean"/>
			<xsd:element name="Length" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 5:   Type of Application -->
	<xsd:complexType name="TypeOfApplication">
		<xsd:annotation>
			<xsd:documentation>The type of application</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="OUTLINE"/>
						<xsd:enumeration value="APPROVAL"/>
						<xsd:enumeration value="FULL"/>
						<xsd:enumeration value="RENEWALTEMP"/>
						<xsd:enumeration value="RENEWALUNEXPIRED"/>
						<xsd:enumeration value="CONDITIONREMOVAL"/>
						<xsd:enumeration value="CONDITIONVARIATION"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ReservedMatters">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Siting" type="xsd:boolean" default="false"/>
						<xsd:element name="Design" type="xsd:boolean" default="false"/>
						<xsd:element name="ExternalAppearance" type="xsd:boolean" default="false"/>
						<xsd:element name="MeansOfAccess" type="xsd:boolean" default="false"/>
						<xsd:element name="Landscaping" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ExistingRefNo" type="xsd:string"/>
			<xsd:element name="PreviousDecisionDate" type="OptionalDate"/>
			<xsd:element name="ConditionNo" type="xsd:string"/>
			<xsd:element name="ProposalType">
				<xsd:annotation>
					<xsd:documentation>Types of proposal</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="NewBuilding" type="xsd:boolean" default="false"/>
						<xsd:element name="AlterBuilding" type="xsd:boolean" default="false"/>
						<xsd:element name="ChangeUse" type="xsd:boolean" default="false"/>
						<xsd:element name="Demolition" type="xsd:boolean" default="false"/>
						<xsd:element name="OtherOperation" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 6:   Access -->
	<xsd:complexType name="AccessType">
		<xsd:annotation>
			<xsd:documentation>
				The types of access that can be altered Pedestrian and/or Vehicular
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="Pedestrian" type="xsd:boolean" default="false"/>
			<xsd:element name="Vehicular" type="xsd:boolean" default="false"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Access">
		<xsd:annotation>
			<xsd:documentation>The types of access available/proposed</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AccessAffected" type="AccessType"/>
			<xsd:element name="AccessProposed" type="AccessType"/>
			<xsd:element name="DisabilityAccess" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 7   Other Information -->
	<xsd:complexType name="OtherInformation">
		<xsd:annotation>
			<xsd:documentation>Additional planning information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Disabilities" type="xsd:boolean" default="false" minOccurs="0"/>
			<xsd:element name="AddPlant" type="xsd:boolean" default="false" minOccurs="0"/>
			<xsd:element name="RemovePlant" type="xsd:boolean" default="false" minOccurs="0"/>
			<xsd:element name="StoreRefuse" type="xsd:boolean" default="false" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 8   Submitted Drawings -->
	<xsd:complexType name="SubmittedDrawings">
		<xsd:annotation>
			<xsd:documentation>A list of plans submitted</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Plan" type="Plan" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 9   Site Area & Floorspace -->
	<xsd:element name="Units">
		<xsd:annotation>
			<xsd:documentation>Possible site area unit types</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="sq.metres"/>
				<xsd:enumeration value="Hectares"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name="SiteArea">
		<xsd:annotation>
			<xsd:documentation>Site area and floorspace</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExistingFloorspace" type="xsd:decimal" default="0" minOccurs="0"/>
			<xsd:element name="ProposedFloorspace" type="xsd:decimal" default="0" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SiteAreaFull">
		<xsd:complexContent>
			<xsd:extension base="SiteArea">
				<xsd:sequence>
					<xsd:element name="SiteAreaValues" type="xsd:decimal" default="0"/>
					<xsd:element ref="Units"/>
					<xsd:element name="FrontageSize" type="xsd:decimal" default="0" minOccurs="0"/>
					<xsd:element name="NewBuildingWork" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="SiteAreaChangeofUse" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="ChangeUseFloorspace" type="xsd:decimal" default="0" minOccurs="0"/>
					<xsd:element name="RemoveBuildingPart" type="xsd:boolean" default="true" minOccurs="0"/>
					<xsd:element name="Plan" type="Plan" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Section 10   Existing uses -->
	<xsd:complexType name="UseClass.Types">
		<xsd:annotation>
			<xsd:documentation>List of boolean questions for the Use Class types</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="A1" type="xsd:boolean" default="false"/>
			<xsd:element name="A2" type="xsd:boolean" default="false"/>
			<xsd:element name="A3" type="xsd:boolean" default="false"/>
			<xsd:element name="B1" type="xsd:boolean" default="false"/>
			<xsd:element name="B2-4-7" type="xsd:boolean" default="false"/>
			<xsd:element name="B8" type="xsd:boolean" default="false"/>
			<xsd:element name="C1" type="xsd:boolean" default="false"/>
			<xsd:element name="C2" type="xsd:boolean" default="false"/>
			<xsd:element name="C3" type="xsd:boolean" default="false"/>
			<xsd:element name="D1" type="xsd:boolean" default="false"/>
			<xsd:element name="D2" type="xsd:boolean" default="false"/>
			<xsd:element name="SG" type="xsd:boolean" default="false"/>
			<xsd:element name="Uncertain" type="xsd:boolean" default="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExistingUses">
		<xsd:sequence>
			<xsd:element name="CurrentUse" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExistingUsesPA">
		<xsd:complexContent>
			<xsd:extension base="ExistingUses">
				<xsd:sequence>
					<xsd:element name="PreviousUse" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--
	<xsd:complexType name="ExistingUsesLDC">
		<xsd:complexContent>
			<xsd:extension base="ExistingUsesPA">
				<xsd:sequence>
					<xsd:element name="IsVacant" type="xsd:boolean"/>
					<xsd:element name="LastUseDate" type="xsd:date"/>
					<xsd:element name="UseClass" type="UseClass.Types"/>
					<xsd:element name="LawfulDetails" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	-->
	<xsd:complexType name="ExistingUsesLDC">
		<xsd:complexContent>
			<xsd:extension base="ExistingUses">
				<xsd:sequence>
					<xsd:element name="ChangeOfUse" type="xsd:string"/>
					<xsd:element name="LawfulDetails" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Section 11   Materials -->
	<xsd:complexType name="Materials">
		<xsd:sequence>
			<xsd:element name="Walls" type="xsd:string"/>
			<xsd:element name="Roof" type="xsd:string"/>
			<xsd:element name="Boundaries" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 12   Height -->
	<xsd:complexType name="Height">
		<xsd:sequence>
			<xsd:element name="PropHeight" type="xsd:int" default="0">
				<xsd:annotation>
					<xsd:documentation>Height of proposal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 13   Details -->
	<xsd:complexType name="Details">
		<xsd:sequence>
			<xsd:element name="RetroApplication" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:documentation>Retrospective application yes/no</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicationFor">
				<xsd:annotation>
					<xsd:documentation>Is the application used for any of these purposes...</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Industry" type="xsd:boolean" default="false"/>
						<xsd:element name="Office" type="xsd:boolean" default="false"/>
						<xsd:element name="Warehousing" type="xsd:boolean" default="false"/>
						<xsd:element name="Storage" type="xsd:boolean" default="false"/>
						<xsd:element name="Shopping" type="xsd:boolean" default="false"/>
						<xsd:element name="GeneralCommerical" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 14   Interest -->
	<xsd:complexType name="Interest">
		<xsd:annotation>
			<xsd:documentation>Interest the applicant has in the proposal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="InterestBasic">
		<xsd:complexContent>
			<xsd:extension base="Interest">
				<xsd:sequence>
					<xsd:element name="ApplicantInterest">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Owner"/>
								<xsd:enumeration value="Lessee"/>
								<xsd:enumeration value="ProspectivePurchaser"/>
								<xsd:enumeration value="Other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OtherDetails" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestBasicOwner">
		<xsd:complexContent>
			<xsd:extension base="InterestBasic">
				<xsd:sequence>
					<xsd:element name="OwnerDetails" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestFull">
		<xsd:complexContent>
			<xsd:extension base="InterestBasic">
				<xsd:sequence>
					<xsd:element name="OwnAdjoining" type="xsd:boolean" default="false">
						<xsd:annotation>
							<xsd:documentation>Applicant owns/controls adjoining land</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CouncilOwned" type="xsd:boolean" default="false">
						<xsd:annotation>
							<xsd:documentation>
								Has any part of the site ever been in council ownership
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InterestAdv">
		<xsd:complexContent>
			<xsd:extension base="Interest">
				<xsd:sequence>
					<xsd:element name="ApplicantLandInterest" type="xsd:boolean" default="false">
						<xsd:annotation>
							<xsd:documentation>
								Used in the Advertisement consent form to establish ownership
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OwnerPermission" type="xsd:boolean" default="false">
						<xsd:annotation>
							<xsd:documentation>
								Used in the Advertisement consent form to indicate permission
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Section 15   Public rights of way -->
	<xsd:complexType name="PublicRightOfWay">
		<xsd:annotation>
			<xsd:documentation>Effects on public rights of way</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsAltering" type="xsd:boolean" default="true"/>
			<xsd:element name="IsAdjacent" type="xsd:boolean" default="false"/>
			<xsd:element name="Plan" type="Plan" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 16   Car Parking -->
	<xsd:complexType name="Parking">
		<xsd:annotation>
			<xsd:documentation>Effects on parking</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cars" type="TotalTableRow"/>
			<xsd:element name="GoodsVehicle" type="TotalTableRow"/>
			<xsd:element name="MotorCycle" type="TotalTableRow"/>
			<xsd:element name="Disability" type="TotalTableRow"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 17   Drainage -->
	<xsd:complexType name="Drainage">
		<xsd:annotation>
			<xsd:documentation>Drainage issues</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SurfaceWater" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Method of disposal of surface water</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FoulSewage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Method of disposal of foul water</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SepticTankGroundInvestigated" type="xsd:boolean" default="false"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 18   Previous Applications -->
	<xsd:complexType name="PreviousApplications">
		<xsd:annotation>
			<xsd:documentation>Any previous applications</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AnyPreviousApplications" type="xsd:boolean" default="true"/>
			<xsd:element ref="DocRef" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 19   Planning Fee -->
	<xsd:complexType name="PlanningFee">
		<xsd:sequence>
			<xsd:element name="IsEnclosed" type="xsd:boolean"/>
			<xsd:element name="FeeAmount" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 20   Residential Information -->
	<xsd:complexType name="ResidentialOther">
		<xsd:complexContent>
			<xsd:extension base="TableRow">
				<xsd:sequence>
					<xsd:element name="OtherType" type="xsd:string" default="Other"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ResidentialUnitChanges">
		<xsd:annotation>
			<xsd:documentation>Changes to the number of residential units</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="House" type="TableRow"/>
				<xsd:element name="Flat" type="TableRow"/>
				<xsd:element name="Bedsit" type="TableRow"/>
				<xsd:element name="Other" type="ResidentialOther"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LandType">
		<xsd:annotation>
			<xsd:documentation>Possible land types</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Brownfield"/>
				<xsd:enumeration value="Greenfield"/>
				<xsd:enumeration value="Both"/>
				<xsd:enumeration value="Unknown"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name="ResidentialInformation">
		<xsd:sequence>
			<xsd:element name="HasResidentialUnitChanged" type="xsd:boolean" default="true" minOccurs="0"/>
			<xsd:element ref="ResidentialUnitChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResidentialInformationPA">
		<xsd:complexContent>
			<xsd:extension base="ResidentialInformation">
				<xsd:sequence>
					<xsd:element ref="LandType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Section 21   Industrial Or Commercial -->
	<xsd:complexType name="IndustrialUse">
		<xsd:sequence>
			<xsd:element name="ProcessesAndProducts" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Description of processes carries out and the end products
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Machinery" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Type of machinery to be installed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 22   Related Development -->
	<xsd:complexType name="RelatedDevelopment">
		<xsd:annotation>
			<xsd:documentation>Description of any related developments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExistingUseNearby" type="xsd:boolean" default="true"/>
			<xsd:element name="ExistingUseNearbyDetails" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LargerScheme" type="xsd:boolean" default="true"/>
			<xsd:element name="LargerSchemeDetails" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 23   Floorspace -->
	<xsd:complexType name="FloorspaceOther">
		<xsd:complexContent>
			<xsd:extension base="FloorspaceTableRow">
				<xsd:sequence>
					<xsd:element name="OtherType" type="xsd:string" default="Other"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="FloorspaceChanges">
		<xsd:annotation>
			<xsd:documentation>Describes the amount of floorspace/changes to floorspace</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Shop" type="FloorspaceTableRow"/>
				<xsd:element name="ProfessionalFinancial" type="FloorspaceTableRow"/>
				<xsd:element name="Restaurant" type="FloorspaceTableRow"/>
				<xsd:element name="Office" type="FloorspaceTableRow"/>
				<xsd:element name="Industrial" type="FloorspaceTableRow"/>
				<xsd:element name="Warehouse" type="FloorspaceTableRow"/>
				<xsd:element name="Hotel" type="FloorspaceTableRow"/>
				<xsd:element name="Other" type="FloorspaceOther"/>
				<xsd:element name="Total" type="FloorspaceTableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Floorspace">
		<xsd:sequence>
			<xsd:element ref="FloorspaceChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 24   Employment -->
	<xsd:element name="EmploymentChanges">
		<xsd:annotation>
			<xsd:documentation>Describes changes in the number of people employed</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Existing" type="EmploymentTableRow"/>
				<xsd:element name="Proposed" type="EmploymentTableRow"/>
				<xsd:element name="Total" type="EmploymentTableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Employment">
		<xsd:sequence>
			<xsd:element ref="EmploymentChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 25   Traffic Flow -->
	<xsd:element name="TrafficFlowChanges">
		<xsd:annotation>
			<xsd:documentation>Describe the change in the number of vehicles</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Car" type="TotalTableRow"/>
				<xsd:element name="HGV" type="TotalTableRow"/>
				<xsd:element name="Other" type="TotalTableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TrafficFlow">
		<xsd:sequence>
			<xsd:element ref="TrafficFlowChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 26   Servicing -->
	<xsd:complexType name="Servicing">
		<xsd:sequence>
			<xsd:element name="VehicleProvision" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Provisions that will be made for loading/unloading and turning of
						vehicles
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 27   Hours of working/opening -->
	<xsd:complexType name="TimePeriod">
		<xsd:annotation>
			<xsd:documentation>A length of time, with a start and end time</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartTime" type="OptionalTime"/>
			<xsd:element name="StopTime" type="OptionalTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HoursOfWorkTableRow">
		<xsd:sequence>
			<xsd:element name="Existing" type="TimePeriod"/>
			<xsd:element name="Proposed" type="TimePeriod"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HoursOfWorkTable">
		<xsd:annotation>
			<xsd:documentation>
				Table describing a set of timeperiods, one for each day of the week
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mon" type="HoursOfWorkTableRow"/>
			<xsd:element name="Tue" type="HoursOfWorkTableRow"/>
			<xsd:element name="Wed" type="HoursOfWorkTableRow"/>
			<xsd:element name="Thu" type="HoursOfWorkTableRow"/>
			<xsd:element name="Fri" type="HoursOfWorkTableRow"/>
			<xsd:element name="Sat" type="HoursOfWorkTableRow"/>
			<xsd:element name="Sun" type="HoursOfWorkTableRow"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HoursOfWork">
		<xsd:annotation>
			<xsd:documentation>
				The hours that people will be working at the site, and the opening hours of the
				site
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Working" type="HoursOfWorkTable">
				<xsd:annotation>
					<xsd:documentation>The working hours of the site</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Opening" type="HoursOfWorkTable">
				<xsd:annotation>
					<xsd:documentation>The opening hours of the site</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 28   Hazardous Substances -->
	<xsd:complexType name="HazardousSubstances">
		<xsd:annotation>
			<xsd:documentation>Description of both hazardous materials and trade waste</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TradeWaste" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Description of the nature/volume and means of disposal of trade
						waste
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HazardousStorage" type="xsd:boolean" default="true"/>
			<xsd:element name="HazardousMaterial" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 29   Previous History -->
	<xsd:complexType name="PreviousHistory">
		<xsd:annotation>
			<xsd:documentation>References to previous applications</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AnyPreviousHistory" type="xsd:boolean"/>
			<xsd:element ref="DocRef" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 30   Application Type -->
	<xsd:complexType name="ListedBuildingAppType">
		<xsd:sequence>
			<xsd:element name="ListedBuilding">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Demolition" type="xsd:boolean" default="false"/>
						<xsd:element name="Alteration" type="xsd:boolean" default="false"/>
						<xsd:element name="Extension" type="xsd:boolean" default="false"/>
						<xsd:element name="ChangeCondition" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConservationArea">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="Demolition" type="xsd:boolean" default="false"/>
						<xsd:element name="ChangeCondition" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 31   Building Information -->
	<xsd:complexType name="BuildingInformation">
		<xsd:sequence>
			<xsd:element name="Grade">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="One" type="xsd:boolean" default="false"/>
						<xsd:element name="Two" type="xsd:boolean" default="false"/>
						<xsd:element name="TwoStar" type="xsd:boolean" default="false"/>
						<xsd:element name="Ecclesiastical" type="xsd:boolean" default="false"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Type" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 32   Proposed Works and Materials -->
	<xsd:complexType name="ProposedWorks">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes to be made</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Exterior">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Works" type="xsd:string"/>
						<xsd:element name="Materials" type="xsd:string"/>
						<xsd:element name="Colours" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Interior">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Works" type="xsd:string"/>
						<xsd:element name="Materials" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!--<xsd:element name="Boundaries" type="xsd:string"/>-->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 33   Grant Aid -->
	<xsd:complexType name="GrantAid">
		<xsd:annotation>
			<xsd:documentation>
				Information about any grants/aid packages provided for the building
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasAid" type="xsd:boolean"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 34   Type of Existing Development/Use -->
	<xsd:complexType name="ExistingDevelopmentType">
		<xsd:annotation>
			<xsd:documentation>The grounds for seeking an LDC191 (existing use)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="UseGT10" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation> UseGT10 : The use began more than 10 years before the date of this application</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DwellingGT4" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>DwellingGT4 : The use as a single dwellinghouse began more than four years before the date of this application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConditionBreachGT10" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>ConditionBreachGT10 : The use, operation or activity in breach of condition began more than ten years before the date of this application</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UseNoPermissionGT10" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>UseNoPermissionGT10: The use began within the last ten years, as a result of a change of use not requiring planning permission, and there has not been a change of use requiring planning permission in the last ten years</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OpsGT4" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>OpsGT4 : The operations (building works) were substantially completed more than four years before the date of this application</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GPDO" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>GPDO : The use, operation or activity benefits from planning permission granted by the General Permitted Development Order</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlanningActs" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>PlanningActs : The use, operation or activity benefits from a planning permission granted under the Planning Acts</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Other" type="xsd:boolean"/>
			<xsd:element name="OtherDetails" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RefNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DecisionDate" type="OptionalDate" minOccurs="0"/>
			<xsd:element name="ConditionNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StartDate" type="OptionalDate">
				<xsd:annotation>
					<xsd:documentation>The date on which use or activity began, or the operations were substantially completed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 35   Supporting Evidence -->
	<xsd:complexType name="SupportingEvidence">
		<xsd:annotation>
			<xsd:documentation>
				Statement of Case Why Applicant Thinks Certificate Should be Granted
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Evidence" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 37   Proposed Uses -->
	<xsd:complexType name="ProposalPeriod.Temporary">
		<xsd:sequence>
			<xsd:element ref="Duration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProposedUses">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element name="IsStarted" type="xsd:boolean" default="true"/>
			<xsd:element name="StartDate" type="xsd:date"/>
			<xsd:element name="ProposalPeriod">
				<xsd:annotation>
					<xsd:documentation>If the Proposed use period is Permanent or Temporary</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="PERMANENT"/>
						<xsd:enumeration value="TEMPORARY"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Temporary" type="ProposalPeriod.Temporary"/>
			<xsd:element name="UseClass" type="UseClass.Types"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 39   Illumination -->
	<xsd:complexType name="Illumination">
		<xsd:sequence>
			<xsd:element name="IsIlluminated" type="xsd:boolean"/>
			<xsd:element name="Type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Internal"/>
						<xsd:enumeration value="External"/>
						<xsd:enumeration value="Floodlight"/>
						<xsd:enumeration value="Halo"/>
						<xsd:enumeration value=""/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Frequency">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value=""/>
						<xsd:enumeration value="Static"/>
						<xsd:enumeration value="Intermittent"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 40   Period of consent -->
	<xsd:complexType name="PeriodOfConsent">
		<xsd:sequence>
			<xsd:element name="Length">
				<xsd:annotation>
					<xsd:documentation>Length of the period in years - 5 is the standard period</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 41   Additional Information -->
	<xsd:complexType name="AdditionalInformation">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 
	42   Type of tree or woodland application -->
	<xsd:complexType name="WoodlandApplicationType">
		<xsd:sequence>
			<xsd:element name="TPONo" type="xsd:string" minOccurs="0"/>
			<!--
			<xsd:element name="ProtectByPreservationOrder" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Is the application to undertake works to tree(s) protected by a tree
						preservation order?
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			-->
			<!--
			<xsd:element name="SubjectToPlanningPermission" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Is the application for works to tree(s) that are subject to conditions of
						a planning permission.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InConservationArea" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Is the application for works to tree(s) in a Conservation Area
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			-->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 43   Description of works to be carried out -->
	<xsd:complexType name="WoodlandDescription">
		<xsd:annotation>
			<xsd:documentation>Description of a tree</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Type">
				<xsd:annotation>
					<xsd:documentation>Type of tree</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string"/>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NoOnPlan" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Number on Plan</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--
			<xsd:element name="Height" type="xsd:integer" default="0">
				<xsd:annotation>
					<xsd:documentation>Height of the tree</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Position" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Position of the tree</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			-->
			<!--
			<xsd:element name="Size">
				<xsd:annotation>
					<xsd:documentation>Dimensions of the tree</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TrunkDiameter" type="xsd:integer" default="0"/>
						<xsd:element name="Height" type="xsd:integer" default="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			-->
			<!--
			<xsd:element name="SketchReference" type="xsd:string" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>References to the tree on any sketches/drawings attached</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			-->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WoodlandWorksDescription">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of work</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reason for doing the work</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReplacementTrees" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Any replacement trees</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReplacementTreeDetails" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Details of replacement trees</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--
			<xsd:element name="ExistingTree" type="Tree" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Any existing trees</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			-->
		</xsd:sequence>
	</xsd:complexType>
	<!-- Section 44   Application Type for LDC form -->
	<xsd:complexType name="ApplicationCategoryLdcType">
		<xsd:annotation>
			<xsd:documentation>Category which describes the existing development</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExistingUse" type="xsd:boolean"/>
			<xsd:element name="ExistingOperation" type="xsd:boolean"/>
			<xsd:element name="ConditionBreach" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- CERTIFICATES -->
	<!-- Proposal address used in Notices -->
	<xsd:complexType name="ProposedDevelopmentAddress">
		<xsd:annotation>
			<xsd:documentation>Location of the site</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="pType:ExternalAddress"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Signature in Certificates and Notices -->
	<xsd:complexType name="SignatureDetails">
		<xsd:annotation>
			<xsd:documentation>Signature Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="pType:Signatory"/>
			<xsd:element ref="SignatureDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SignatureDate" type="OptionalDate"/>
	<!-- Details of Who was informed and when by whom -->
	<xsd:complexType name="NoticeGiven">
		<xsd:annotation>
			<xsd:documentation>Details when the Notice is given to the other owners</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="pType:NoticeRecipient"/>
			<xsd:element ref="NoticeGivenDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NoticeGivenDate" type="OptionalDate"/>
	<!-- Details of where notification was published -->
	<xsd:complexType name="NotNotified">
		<xsd:annotation>
			<xsd:documentation>Details when the Notice is given to the other owners</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="pType:NotificationStepsTaken"/>
			<xsd:element name="Advertisement" type="Advertisement"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Signature in Certificates and Notices -->
	<xsd:complexType name="Advertisement">
		<xsd:annotation>
			<xsd:documentation>Advert details of newspaper name and date</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="AdvertDate"/>
			<xsd:element ref="PublicationName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AdvertDate" type="OptionalDate"/>
	<xsd:element name="PublicationName" type="xsd:string"/>
	<xsd:simpleType name="CertificateSelectedType">
		<xsd:annotation>
			<xsd:documentation>
				The type of certificate that has been selected and signed by the user
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CertificateA"/>
			<xsd:enumeration value="CertificateB"/>
			<xsd:enumeration value="CertificateC"/>
			<xsd:enumeration value="CertificateD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CertificateType">
		<xsd:annotation>
			<xsd:documentation>
				A storage area for certificate information regardless of which certificate has been
				selected
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CertificateSelected" type="CertificateSelectedType"/>
			<xsd:element name="SignatureDetails" type="SignatureDetails"/>
			<xsd:element name="NoticeGiven" type="NoticeGiven"/>
			<xsd:element name="NotNotified" type="NotNotified"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Agricultural Holdings Certificate -->
	<xsd:complexType name="AgriculturalHoldingsCertificate">
		<xsd:annotation>
			<xsd:documentation>Agricultural Holdings Certificate</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SignatureDetails" type="SignatureDetails"/>
			<xsd:element name="AgriculturalJustification" type="xsd:boolean"/>
			<xsd:element name="NoticeGiven" type="NoticeGiven"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Certificate Notice -->
	<xsd:complexType name="CertificateNotice">
		<xsd:annotation>
			<xsd:documentation>
				Notice Certificate definition - now redundant as this information will have
				been provided elsewhere on the main form and so can be reused
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProposedDevelopment" type="ProposedDevelopmentAddress"/>
			<xsd:element name="ApplicantName" type="ApplicantName"/>
			<xsd:element name="PlanningPermissionFor" type="ProposalDescription"/>
			<xsd:element name="RepresentationDate" type="OptionalDate"/>
			<xsd:element name="SignatureDetails" type="SignatureDetails"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- END CERTIFICATES -->
	<xsd:complexType name="ContextType">
		<xsd:annotation>
			<xsd:documentation>
				Used to store any undefined, service specific context information that has not
				been entered by the applicant
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApplicationFormType">
		<xsd:annotation>
			<xsd:documentation>
				The base type for all application forms, including PlanningApplication,
				Householder LBCC and Advertisement Consent
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Context" type="ContextType" minOccurs="0"/>
			<xsd:element name="ApplicantAddress" type="ApplicantAddress"/>
			<xsd:element name="AgentAddress" type="AgentAddress"/>
		</xsd:sequence>
		<xsd:attribute name="version" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[0-9]+\.[0-9]+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AdvForm">
		<xsd:annotation>
			<xsd:documentation>This type defines an Advertisement Consent form</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="ExistingUses" type="ExistingUses"/>
					<xsd:element name="Interest" type="InterestAdv"/>
					<xsd:element name="Illumination" type="Illumination"/>
					<xsd:element name="PeriodOfConsent" type="PeriodOfConsent"/>
					<xsd:element name="AdditionalInformation" type="AdditionalInformation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HouseholderForm">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Householder planning application form - now includes
				certificates
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="Access" type="Access"/>
					<xsd:element name="OtherInformation" type="OtherInformation"/>
					<xsd:element name="Materials" type="Materials"/>
					<xsd:element name="SiteArea" type="SiteArea"/>
					<xsd:element name="PublicRightOfWay" type="PublicRightOfWay"/>
					<xsd:element name="AgriculturalHoldingsCertificate" type="AgriculturalHoldingsCertificate"/>
					<xsd:element name="Certificate" type="CertificateType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ListedForm">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Listed Building and Conservation Area consent form - now
				includes Certificates
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="ExistingUses" type="ExistingUsesPA"/>
					<xsd:element name="ResidentialInformation" type="ResidentialInformation"/>
					<xsd:element name="Interest" type="InterestBasic"/>
					<xsd:element name="PreviousHistory" type="PreviousHistory"/>
					<xsd:element name="ListedBuildingAppType" type="ListedBuildingAppType"/>
					<xsd:element name="BuildingInformation" type="BuildingInformation"/>
					<xsd:element name="ProposedWorks" type="ProposedWorks"/>
					<xsd:element name="GrantAid" type="GrantAid"/>
					<xsd:element name="Certificate" type="CertificateType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PA1Form">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Planning application form - now includes certifates and part
				2 details, if any have been entered
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="TypeOfApplication" type="TypeOfApplication"/>
					<xsd:element name="Access" type="Access"/>
					<xsd:element name="OtherInformation" type="OtherInformation"/>
					<xsd:element name="Materials" type="Materials"/>
					<xsd:element name="SiteArea" type="SiteAreaFull"/>
					<xsd:element name="PublicRightOfWay" type="PublicRightOfWay"/>
					<xsd:element name="ExistingUses" type="ExistingUsesPA"/>
					<xsd:element name="ResidentialInformation" type="ResidentialInformationPA"/>
					<xsd:element name="Height" type="Height"/>
					<xsd:element name="Details" type="Details"/>
					<xsd:element name="Interest" type="InterestFull"/>
					<xsd:element name="Parking" type="Parking"/>
					<xsd:element name="Drainage" type="Drainage"/>
					<xsd:element name="PreviousApplications" type="PreviousApplications"/>
					<xsd:element name="IndustrialUse" type="IndustrialUse"/>
					<xsd:element name="RelatedDevelopment" type="RelatedDevelopment"/>
					<xsd:element name="Floorspace" type="Floorspace"/>
					<xsd:element name="Employment" type="Employment"/>
					<xsd:element name="TrafficFlow" type="TrafficFlow"/>
					<xsd:element name="Servicing" type="Servicing"/>
					<xsd:element name="HoursOfWork" type="HoursOfWork"/>
					<xsd:element name="HazardousSubstances" type="HazardousSubstances"/>
					<xsd:element name="AgriculturalHoldingsCertificate" type="AgriculturalHoldingsCertificate"/>
					<xsd:element name="Certificate" type="CertificateType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ldc191Form">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Lawful Development Certificate 191 (Existing) application form
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="ApplicationType" type="ApplicationCategoryLdcType"/>
					<xsd:element name="ExistingDevelopment" type="ExistingDevelopmentType"/>
					<xsd:element name="ResidentialInformation" type="ResidentialInformation"/>
					<xsd:element name="Interest" type="InterestBasic"/>
					<xsd:element name="SupportingEvidence" type="SupportingEvidence"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Ldc192Form">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Proposed Development Certificate 192 application form
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="ProposalDescription" type="ProposalDescription"/>
					<xsd:element name="ProposalState" type="ProposalState"/>
					<xsd:element name="ExistingUses" type="ExistingUsesLDC"/>
					<xsd:element name="Interest" type="InterestBasic"/>
					<xsd:element name="SupportingEvidence" type="SupportingEvidence"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WoodlandApplicationForm">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Proposed for a Woodland planning application
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="Interest" type="InterestBasicOwner"/>
					<xsd:element name="WoodlandApplication" type="WoodlandApplicationType"/>
					<xsd:element name="Woodland" type="WoodlandDescription"/>
					<xsd:element name="WorksDescription" type="WoodlandWorksDescription"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BreachComplaintForm">
		<xsd:annotation>
			<xsd:documentation>
				This type defines a Breach Complaint application
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ApplicationFormType">
				<xsd:sequence>
					<!--
					<xsd:element name="SiteLocation" type="SiteLocation"/>
					<xsd:element name="Interest" type="InterestBasicOwner"/>
					<xsd:element name="WoodlandApplication" type="WoodlandApplicationType"/>					
					<xsd:element name="Woodland" type="WoodlandDescription"/>	
					<xsd:element name="WorksDescription" type="WoodlandWorksDescription"/>
					-->
					<xsd:element name="OnlinePlanningBreachComplaint" type="brch:OnlinePlanningBreachComplaintType"/>
			
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ApplicationType">
		<xsd:annotation>
			<xsd:documentation>
				This defines the base type for an application entity, i.e. any data that is
				generic to all applications regardless of the particular form that has been used.
				Information defined in this type should be external to data entered by the user on
				a form (since such information is defined in ApplicationFormType). This type should
				be extended for any particular application and the subtype should include the
				relevant form.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FeeDue" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
