GeneratedSchemaLibraries/UK CabinetOffice/Address/APD-v2-0/CommonSimpleTypes-v1-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
      Changes 1.2 to 1.3
             Given own namespace to overcome parser problems associated with import the types defined in this Schema
             Definition of Sextype dropped as it is not compatible with current gender types
	Changes 1.1 to 1.2
		Metadata updated to latest standard 
	Changes 1.0 to 1.1
		Pattern for RestrictedStringType corrected (there was a superfluous line feed)
 -->
<xsd:schema targetNamespace="http://www.govtalk.gov.uk/core" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3" id="CommonSimpleTypes-v1-3" xmlns="http://www.govtalk.gov.uk/core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/metadata/egms">
				<Contributor>e-champions,Government Schema Group, IDeA</Contributor>
				<Contributor Href="mailto:paul.spencer@boynings.co.uk">Paul Spencer, Boynings Consulting</Contributor>
				<Creator>Technology Policy Team, Office of the e-Envoy, Cabinet Office (mailto:govtalk@e-envoy.gsi.gov.uk)</Creator>
				<Created>2001-12-19</Created>
				<Modified>2002-01-30</Modified>
				<Modified>2003-02-25</Modified>
				<Modified>2003-07-02</Modified>
				<Description>Schema for general data type definitions</Description>
				<Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
				<Identifier Href="http://www.govtalk.gov.uk/gdsc/schemas/CommonSimpleTypes-v1-3.xsd">CommonSimpleTypes-v1-3</Identifier>
				<Language codeListID="ISO639-2">eng</Language>
				<Publisher Href="mailto:govtalk@cabinet-office.x.gsi.gov.uk">e-Government Unit, Cabinet Office, UK Government</Publisher>
				<ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
				<Copyright>Crown Copyright 2002,2003</Copyright>
				<ProtectiveMarking>Unclassified</ProtectiveMarking>
				<Status>approved</Status>
				<StatusDescription>Approved by the GSG</StatusDescription>
				<Version>1.3</Version>
				<Category codeListID="GCL">People, communities and living</Category>
				<Project>UK GovTalk</Project>
				<Title>Common Simple Types 1.3</Title>
				<Type>architectural</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:simpleType name="PopulatedStringType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RestrictedStringType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z0-9\s~!&quot;@#$%&amp;'\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]_\{\}\^&#xa3;&#x20ac;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A Common DataType W 3C XML Schema datetype</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<!-- 	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="male"/>
			<xsd:enumeration value="female"/>
			<xsd:enumeration value="indeterminate"/>
		</xsd:restriction>
	</xsd:simpleType> -->
	<xsd:simpleType name="MaritalStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="s"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="d"/>
			<xsd:enumeration value="w"/>
			<xsd:enumeration value="n"/>
			<xsd:enumeration value="p"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageType">
		<xsd:annotation>
			<xsd:documentation>A Common DataType Values from the ISO standard for 2 character language codes (ISO 639:1988 Code for the representation of names of languages).  </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z]{2}"/>
			<xsd:enumeration value="en"/>
			<xsd:enumeration value="cy"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddressType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9A-Za-z'\.\-_]{1,127}@[0-9A-Za-z'\.\-_]{1,127}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelCountryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9 \-]{1,20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneExtensionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WorkHomeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="work"/>
			<xsd:enumeration value="home"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
