LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/CredentialType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="CredentialType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../../common/xml/base/LocalizationInclusion.xsd" />
  <xsd:include schemaLocation="AnnotatedDefinedTermType.xsd" />
  <xsd:include schemaLocation="JDXOrganizationType.xsd" />
  <xsd:complexType name="CredentialType">
    <xsd:annotation>
      <xsd:documentation>Entity describing authoritative permission to hold a certain status or to do certain things, e.g. to practice some trade or profession.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="credentialCategory" type="hropen:AnnotatedDefinedTermType">
        <xsd:annotation>
          <xsd:documentation>Type of credential such as badge, certification, bachelor degree; select from an existing enumeration of such types. Note(s): Use a value selected from a controlled vocabulary of credential types (e.g., credential subclasses from CTDL).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>A description of the item. Note(s): Some online job boards and other services (e.g., Google Jobs) require the general description of a JobPosting to be HTML tagged; in such instances, use the formattedDescription property (if available) instead of the description property.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="duration">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Duration of the item (movie, audio recording, event, etc.) in ISO 8601 date format.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="evidence">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Referenced artifact or performance confirming or supporting an assertion.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="evidenceCategory" type="hropen:AnnotatedDefinedTermType">
        <xsd:annotation>
          <xsd:documentation>The type of referenced artifact, exam or performance confirming or supporting an assertion; select from an existing enumeration of such types. Note(s): Use a value selected from a controlled vocabulary of evidence types.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="inLanguage" type="hropen:LocalizationInclusion">
        <xsd:annotation>
          <xsd:documentation>The language of the content of the job posting.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="occupationCategories">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Category of the relevant occupation of the job used in the country of employment; select from an existing enumeration of such types. Note(s): Use a value selected from a controlled vocabulary of occupation categories such as the Standard Occupational Classification (SOC).</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AnnotatedDefinedTermType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="program">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Educational program of study.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="programConcentration">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Focused plan of study within a college or university degree such as a concentration in Aerospace Engineering within an Engineering degree.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="provider" type="hropen:JDXOrganizationType">
        <xsd:annotation>
          <xsd:documentation>Agent that provides, publishes, owns or otherwise has the authority to make the resource being described available.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Credential" type="hropen:CredentialType" />
</xsd:schema>