LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/DefinedTermSetType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="DefinedTermSetType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DefinedTermSetType">
    <xsd:annotation>
      <xsd:documentation>A set of defined terms for example a set of categories or a classification scheme, a glossary, dictionary or enumeration.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>A description of the item. Note(s): Some online job boards and other services (e.g., Google Jobs) require the general description of a JobPosting to be HTML tagged; in such instances, use the formattedDescription property (if available) instead of the description property.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The name of the item. Note(s): NOTE: For the name of the hiring organization, use the subproperty legalName.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="url">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>URL of the item.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="DefinedTermSet" type="hropen:DefinedTermSetType" />
</xsd:schema>