LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Recruiting/xml/jdx/PlaceType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="PlaceType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../../common/xml/base/GeoType.xsd" />
  <xsd:include schemaLocation="../../../common/xml/communication/AddressType.xsd" />
  <xsd:complexType name="PlaceType">
    <xsd:annotation>
      <xsd:documentation>Fixed physical location.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="address" type="hropen:AddressType">
        <xsd:annotation>
          <xsd:documentation>Physical address of the entity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="faxNumber">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Fax number of an organization or person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="geo" type="hropen:GeoType">
        <xsd:annotation>
          <xsd:documentation>The geo coordinates of the place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="jobOpeningNumber">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Number of positions open at this location.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:decimal" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The name of the item. Note(s): NOTE: For the name of the hiring organization, use the subproperty legalName.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="telephone">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The telephone number of an organization or person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Place" type="hropen:PlaceType" />
</xsd:schema>