LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/search/BooleanAndQueryType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="BooleanAndQueryType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="AllQueryType.xsd" />
  <xsd:complexType name="BooleanAndQueryType">
    <xsd:annotation>
      <xsd:documentation>Type to implement a 'boolean AND' query.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="booleanAnd">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="2" maxOccurs="unbounded" name="item" type="hropen:AllQueryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="BooleanAndQuery" type="hropen:BooleanAndQueryType" />
</xsd:schema>