LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/search/TermsQueryType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="TermsQueryType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TermsQueryType">
    <xsd:annotation>
      <xsd:documentation>Type for fixed term / keyword queries.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="terms">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="propertyPath">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Path of the property to which the condition applies.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="values">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Terms to be searched.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="unbounded" name="item">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string" />
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="matchMode">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Mode for matching - to fulfill the condition: 'allOf': all search values have to be found, 'anyOf': at least one search value has to be found, 'oneOf': exactly one search value has to be found, 'noneOf': none search value is found.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="allOf" />
                  <xsd:enumeration value="anyOf" />
                  <xsd:enumeration value="oneOf" />
                  <xsd:enumeration value="noneOf" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="TermsQuery" type="hropen:TermsQueryType" />
</xsd:schema>