LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/person/PersonPhysicalInclusion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="PersonPhysicalInclusion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base/MeasureType.xsd" />
  <xsd:include schemaLocation="../base/IndicatorType.xsd" />
  <xsd:include schemaLocation="../base/StringTypeArray.xsd" />
  <xsd:include schemaLocation="../work/DisabilityType.xsd" />
  <xsd:include schemaLocation="../base/CodeType.xsd" />
  <xsd:complexType name="PersonPhysicalInclusion">
    <xsd:annotation>
      <xsd:documentation>Person physical information.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="height" type="hropen:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The height of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="weight" type="hropen:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The weight of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="disability" type="hropen:DisabilityType">
        <xsd:annotation>
          <xsd:documentation>A type of disability that a person has.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="tobaccoUserIndicator" type="hropen:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>An indicator that a person is a tobacco user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="hairColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the hair of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="eyeColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the eyes of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="identifyingMarks" type="hropen:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>A list of identifying marks of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="age">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The age of a person (in years).</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="bloodType" type="hropen:CodeType">
        <xsd:annotation>
          <xsd:documentation>The blood type of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PersonPhysicalInclusion" type="hropen:PersonPhysicalInclusion" />
</xsd:schema>