GeneratedSchemaLibraries/Office 2003 Reference schemas/aml.xsd

<xsd:schema targetNamespace="http://schemas.microsoft.com/aml/2001/core" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns="http://schemas.microsoft.com/aml/2001/core" elementFormDefault="qualified" attributeFormDefault="qualified">
 <xsd:annotation>
  <xsd:documentation>
   Permission to copy, display and distribute the contents of this document (the “Specification”), in any medium for any purpose without fee or royalty is hereby granted, provided that you include the following notice on ALL copies of the Specification, or portions thereof, that you make:
   Copyright (c) Microsoft Corporation.  All rights reserved.  Permission to copy, display and distribute this document is available at:  http://msdn.microsoft.com/library/en-us/odcXMLRef/html/odcXMLRefLegalNotice.asp?frame=true.  
   No right to create modifications or derivatives of this Specification is granted herein.
   There is a separate patent license available to parties interested in implementing software programs that can read and write files that conform to the Specification.  This patent license is available at this location:  http://www.microsoft.com/mscorp/ip/format/xmlpatentlicense.asp.
   THE SPECIFICATION IS PROVIDED "AS IS" AND MICROSOFT MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
   MICROSOFT WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE SPECIFICATION.
   The name and trademarks of Microsoft may NOT be used in any manner, including advertising or publicity pertaining to the Specification or its contents without specific, written prior permission. Title to copyright in the Specification will at all times remain with Microsoft.
   No other rights are granted by implication, estoppel or otherwise.
  </xsd:documentation>
 </xsd:annotation>
 <xsd:element name="annotation" type="AnnType">
  <xsd:annotation>
   <xsd:documentation>Represents a tracked insertion, deletion, formatting change, comment, or bookmark in a document.</xsd:documentation>
  </xsd:annotation>
  <xsd:unique name="uniqueContentAnchorIdsInsideAnnotations">
   <xsd:selector xpath="content"></xsd:selector>
   <xsd:field xpath="@id"></xsd:field>
  </xsd:unique>
  <xsd:unique name="uniqueContextAnchorIdsInsideAnnotations">
   <xsd:selector xpath="context"></xsd:selector>
   <xsd:field xpath="@id"></xsd:field>
  </xsd:unique>
 </xsd:element>
 <xsd:complexType name="AnnType" mixed="false">
  <xsd:annotation>
   <xsd:documentation>Defines a tracked insertion, deletion, formatting change, comment, or bookmark in a document.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element ref="arc" minOccurs="0" maxOccurs="1"></xsd:element>
   <xsd:element ref="context" minOccurs="0" maxOccurs="unbounded"></xsd:element>
   <xsd:element ref="content" minOccurs="0" maxOccurs="unbounded"></xsd:element>
   <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"></xsd:element>
   <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
  </xsd:sequence>
  <xsd:attribute name="type" type="type" fixed="extended">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="id" type="idType" use="required">
   <xsd:annotation>
    <xsd:documentation>Uniquely identifies the insertion, deletion, formatting change, comment, or bookmark.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="author" type="authorType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Returns the document's author from the document properties collection. Not used for bookmarks.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="createdate" type="dateType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Returns the created date from the document properties collection. Not used for bookmarks.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
 </xsd:complexType>
 <xsd:element name="arc" type="arcType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:complexType name="arcType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:complexContent>
   <xsd:restriction base="xsd:anyType">
    <xsd:attribute name="type" type="type" fixed="arc">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="from" type="from" default="context" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="to" type="to" default="content" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="arcrole" type="arcrole" default="annotates" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="role" type="role" default="annotation" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="title" type="title" default="annotation" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="show" type="show" default="undefined" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="actuate" type="actuate" default="undefined" use="optional">
     <xsd:annotation>
      <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
     </xsd:annotation>
    </xsd:attribute>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:element name="content" type="contentType">
  <xsd:annotation>
   <xsd:documentation>Contains the insertion, deletion, formatting change, comment, or bookmark. Usually contains elements from the XML Document 2003 namespace.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:complexType name="contentType" mixed="true">
  <xsd:annotation>
   <xsd:documentation>Defines an insertion, deletion, formatting change, comment, or bookmark. Usually contains elements from the XML Document 2003 namespace.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence minOccurs="0" maxOccurs="unbounded">
   <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"></xsd:element>
   <xsd:element ref="annotation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
   <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
  </xsd:sequence>
  <xsd:attribute name="type" use="required" type="type" fixed="resource">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="cid" type="idType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="id" use="optional" type="idType">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="label" use="optional" type="label" fixed="content">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="format" type="formatType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="codebase" type="codebaseType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:anyAttribute namespace="##other" processContents="lax"></xsd:anyAttribute>
 </xsd:complexType>
 <xsd:element name="context" type="contextType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:complexType name="contextType" mixed="true">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element ref="property" minOccurs="0" maxOccurs="unbounded"></xsd:element>
  </xsd:sequence>
  <xsd:attribute name="type" type="type" fixed="locator">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="href" type="href" use="required">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="id" type="idType" use="required">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="label" type="label" fixed="context">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="format" type="formatType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="codebase" type="codebaseType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:anyAttribute processContents="lax"></xsd:anyAttribute>
 </xsd:complexType>
 <xsd:element name="property" type="propertyType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
 </xsd:element>
 <xsd:complexType name="propertyType" mixed="true">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence></xsd:sequence>
  <xsd:attribute name="name" type="nameType" use="required">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="format" type="formatType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="codebase" type="codebaseType" use="optional">
   <xsd:annotation>
    <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
   </xsd:annotation>
  </xsd:attribute>
  <xsd:anyAttribute processContents="lax"></xsd:anyAttribute>
 </xsd:complexType>
 <xsd:simpleType name="dateType">
  <xsd:annotation>
   <xsd:documentation>Defines a date/time value.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:dateTime"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="authorType">
  <xsd:annotation>
   <xsd:documentation>Defines an author name.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="formatType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="codebaseType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="nameType">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="idType">
  <xsd:annotation>
   <xsd:documentation>Defines an ID value.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="type">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="simple"></xsd:enumeration>
   <xsd:enumeration value="extended"></xsd:enumeration>
   <xsd:enumeration value="locator"></xsd:enumeration>
   <xsd:enumeration value="arc"></xsd:enumeration>
   <xsd:enumeration value="resource"></xsd:enumeration>
   <xsd:enumeration value="title"></xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="href">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="role">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="arcrole">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:anyURI"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="title">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="label">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NCName"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="show">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="new"></xsd:enumeration>
   <xsd:enumeration value="replace"></xsd:enumeration>
   <xsd:enumeration value="embed"></xsd:enumeration>
   <xsd:enumeration value="undefined"></xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="actuate">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="onLoad"></xsd:enumeration>
   <xsd:enumeration value="onRequest"></xsd:enumeration>
   <xsd:enumeration value="undefined"></xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="from">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NCName"></xsd:restriction>
 </xsd:simpleType>
 <xsd:simpleType name="to">
  <xsd:annotation>
   <xsd:documentation>Not used by Microsoft Office Word 2003.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:NCName"></xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
