GeneratedSchemaLibraries/Office 2003 Reference schemas/vml2.xsd

<xsd:schema targetNamespace="urn:schemas-microsoft-com:vml" xmlns="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xsd:import namespace="urn:schemas-microsoft-com:office:office" schemaLocation="office.xsd" />
 <xsd:annotation>
  <xsd:documentation>
   Permission to copy, display and distribute the contents of this document (the “Specification”), in any medium for any purpose without fee or royalty is hereby granted, provided that you include the following notice on ALL copies of the Specification, or portions thereof, that you make:
   Copyright (c) Microsoft Corporation.  All rights reserved.  Permission to copy, display and distribute this document is available at:  http://msdn.microsoft.com/library/en-us/odcXMLRef/html/odcXMLRefLegalNotice.asp?frame=true.  
   No right to create modifications or derivatives of this Specification is granted herein.
   There is a separate patent license available to parties interested in implementing software programs that can read and write files that conform to the Specification.  This patent license is available at this location:  http://www.microsoft.com/mscorp/ip/format/xmlpatentlicense.asp.
   THE SPECIFICATION IS PROVIDED "AS IS" AND MICROSOFT MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
   MICROSOFT WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE SPECIFICATION.
   The name and trademarks of Microsoft may NOT be used in any manner, including advertising or publicity pertaining to the Specification or its contents without specific, written prior permission. Title to copyright in the Specification will at all times remain with Microsoft.
   No other rights are granted by implication, estoppel or otherwise.
  </xsd:documentation>
 </xsd:annotation>
 <xsd:element name="shape" type="shapeElt" />
 <xsd:complexType name="shapeElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="type" type="xsd:string" use="optional" />
  <xsd:attribute name="adj" type="xsd:string" use="optional" />
  <xsd:attribute name="path" type="xsd:string" use="optional" />
  <xsd:attribute name="href" type="xsd:string" use="optional" />
  <xsd:attribute name="target" type="xsd:string" use="optional" />
  <xsd:attribute name="class" type="xsd:string" use="optional" />
  <xsd:attribute name="title" type="xsd:string" use="optional" />
  <xsd:attribute name="alt" type="xsd:string" use="optional" />
  <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
  <xsd:attribute name="opacity" type="xsd:string" use="optional" />
  <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
  <xsd:attribute name="stroked" type="tfType" use="optional" />
  <xsd:attribute name="strokecolor" type="colorType" use="optional" />
  <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
  <xsd:attribute name="filled" type="tfType" use="optional" />
  <xsd:attribute name="fillcolor" type="colorType" use="optional" />
  <xsd:attribute name="print" type="tfType" use="optional" />
  <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
  <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:attribute name="wrapcoords" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:spt" use="optional" />
  <xsd:attribute ref="o:wrapcoords" use="optional" />
  <xsd:attribute ref="o:oned" use="optional" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:doubleclicknotify" use="optional" />
  <xsd:attribute ref="o:ruleinitiator" use="optional" />
  <xsd:attribute ref="o:ruleproxy" use="optional" />
  <xsd:attribute ref="o:connectortype" use="optional" />
  <xsd:attribute ref="o:button" use="optional" />
  <xsd:attribute ref="o:userhidden" use="optional" />
  <xsd:attribute ref="o:bwmode" use="optional" />
  <xsd:attribute ref="o:bwpure" use="optional" />
  <xsd:attribute ref="o:bwnormal" use="optional" />
  <xsd:attribute ref="o:forcedash" use="optional" />
  <xsd:attribute ref="o:oleicon" use="optional" />
  <xsd:attribute ref="o:ole" use="optional" />
  <xsd:attribute ref="o:preferrelative" use="optional" />
  <xsd:attribute ref="o:bullet" use="optional" />
  <xsd:attribute ref="o:hr" use="optional" />
  <xsd:attribute ref="o:hrstd" use="optional" />
  <xsd:attribute ref="o:hrnoshade" use="optional" />
  <xsd:attribute ref="o:hrheight" use="optional" />
  <xsd:attribute ref="o:hrwidth" use="optional" />
  <xsd:attribute ref="o:hrpct" use="optional" />
  <xsd:attribute ref="o:hralign" use="optional" />
  <xsd:attribute ref="o:relativeposition" use="optional" />
  <xsd:attribute ref="o:allowincell" use="optional" />
  <xsd:attribute ref="o:allowoverlap" use="optional" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute ref="o:tableproperties" use="optional" />
  <xsd:attribute ref="o:tablelimits" use="optional" />
  <xsd:attribute ref="o:bordertopcolor" use="optional" />
  <xsd:attribute ref="o:borderleftcolor" use="optional" />
  <xsd:attribute ref="o:borderbottomcolor" use="optional" />
  <xsd:attribute ref="o:borderrightcolor" use="optional" />
  <xsd:attribute ref="o:spid" use="optional" />
  <xsd:attribute ref="o:insetmode" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="group" type="groupElt" />
 <xsd:complexType name="groupElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="editas" type="xsd:string" use="optional" />
  <xsd:attribute name="href" type="xsd:string" use="optional" />
  <xsd:attribute name="target" type="xsd:string" use="optional" />
  <xsd:attribute name="class" type="xsd:string" use="optional" />
  <xsd:attribute name="title" type="xsd:string" use="optional" />
  <xsd:attribute name="alt" type="xsd:string" use="optional" />
  <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
  <xsd:attribute name="print" type="tfType" use="optional" />
  <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
  <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:spid" use="optional" />
  <xsd:attribute ref="o:spt" use="optional" />
  <xsd:attribute ref="o:wrapcoords" use="optional" />
  <xsd:attribute ref="o:oned" use="optional" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:doubleclicknotify" use="optional" />
  <xsd:attribute ref="o:button" use="optional" />
  <xsd:attribute ref="o:userhidden" use="optional" />
  <xsd:attribute ref="o:forcedash" use="optional" />
  <xsd:attribute ref="o:bullet" use="optional" />
  <xsd:attribute ref="o:hr" use="optional" />
  <xsd:attribute ref="o:hrstd" use="optional" />
  <xsd:attribute ref="o:hrnoshade" use="optional" />
  <xsd:attribute ref="o:hrheight" use="optional" />
  <xsd:attribute ref="o:hrwidth" use="optional" />
  <xsd:attribute ref="o:hrpct" use="optional" />
  <xsd:attribute ref="o:hralign" use="optional" />
  <xsd:attribute ref="o:relativeposition" use="optional" />
  <xsd:attribute ref="o:allowincell" use="optional" />
  <xsd:attribute ref="o:allowoverlap" use="optional" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute ref="o:tableproperties" use="optional" />
  <xsd:attribute ref="o:tablelimits" use="optional" />
  <xsd:attribute ref="o:bordertopcolor" use="optional" />
  <xsd:attribute ref="o:borderleftcolor" use="optional" />
  <xsd:attribute ref="o:borderbottomcolor" use="optional" />
  <xsd:attribute ref="o:borderrightcolor" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="shapetype" type="shapetypeElt" />
 <xsd:complexType name="shapetypeElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="adj" type="xsd:string" use="optional" />
  <xsd:attribute name="path" type="xsd:string" use="optional" />
  <xsd:attribute name="href" type="xsd:string" use="optional" />
  <xsd:attribute name="target" type="xsd:string" use="optional" />
  <xsd:attribute name="class" type="xsd:string" use="optional" />
  <xsd:attribute name="title" type="xsd:string" use="optional" />
  <xsd:attribute name="alt" type="xsd:string" use="optional" />
  <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
  <xsd:attribute name="print" type="tfType" use="optional" />
  <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
  <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
  <xsd:attribute name="filled" type="tfType" use="optional" />
  <xsd:attribute name="stroked" type="tfType" use="optional" />
  <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
  <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:wrapcoords" use="optional" />
  <xsd:attribute ref="o:preferrelative" use="optional" />
  <xsd:attribute ref="o:spt" use="optional" />
  <xsd:attribute ref="o:oned" use="optional" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:doubleclicknotify" use="optional" />
  <xsd:attribute ref="o:button" use="optional" />
  <xsd:attribute ref="o:userhidden" use="optional" />
  <xsd:attribute ref="o:bullet" use="optional" />
  <xsd:attribute ref="o:hr" use="optional" />
  <xsd:attribute ref="o:hrstd" use="optional" />
  <xsd:attribute ref="o:hrnoshade" use="optional" />
  <xsd:attribute ref="o:hrheight" use="optional" />
  <xsd:attribute ref="o:hrwidth" use="optional" />
  <xsd:attribute ref="o:hrpct" use="optional" />
  <xsd:attribute ref="o:hralign" use="optional" />
  <xsd:attribute ref="o:relativeposition" use="optional" />
  <xsd:attribute ref="o:allowincell" use="optional" />
  <xsd:attribute ref="o:allowoverlap" use="optional" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute ref="o:tableproperties" use="optional" />
  <xsd:attribute ref="o:tablelimits" use="optional" />
  <xsd:attribute ref="o:bordertopcolor" use="optional" />
  <xsd:attribute ref="o:borderleftcolor" use="optional" />
  <xsd:attribute ref="o:borderbottomcolor" use="optional" />
  <xsd:attribute ref="o:borderrightcolor" use="optional" />
  <xsd:attribute ref="o:master" use="optional" />
  <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="VMLFrame" type="VMLFrameElt" />
 <xsd:complexType name="VMLFrameElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="src" type="xsd:string" use="required" />
  <xsd:attribute name="clip" type="tfType" use="required" />
  <xsd:attribute name="origin" type="xsd:string" use="optional" />
  <xsd:attribute name="size" type="xsd:string" use="optional" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="background" type="backgroundElt" />
 <xsd:complexType name="backgroundElt">
  <xsd:sequence>
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="fill" type="tfType" use="optional" />
  <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:bwmode" use="optional" />
  <xsd:attribute ref="o:bwpure" use="optional" />
  <xsd:attribute ref="o:bwnormal" use="optional" />
  <xsd:attribute ref="o:targetscreensize" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="path" type="pathElt" />
 <xsd:complexType name="pathElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="v" type="xsd:string" use="optional" />
  <xsd:attribute name="limo" type="xsd:string" use="optional" />
  <xsd:attribute name="textboxrect" type="xsd:string" use="optional" />
  <xsd:attribute name="fillok" type="tfType" use="optional" />
  <xsd:attribute name="strokeok" type="tfType" use="optional" />
  <xsd:attribute name="shadowok" type="tfType" use="optional" />
  <xsd:attribute name="arrowok" type="tfType" use="optional" />
  <xsd:attribute name="gradientshapeok" type="tfType" use="optional" />
  <xsd:attribute name="textpathok" type="tfType" use="optional" />
  <xsd:attribute ref="o:connecttype" use="optional" />
  <xsd:attribute ref="o:connectlocs" use="optional" />
  <xsd:attribute ref="o:connectangles" use="optional" />
  <xsd:attribute ref="o:extrusionok" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="formulas" type="formulasElt" />
 <xsd:complexType name="formulasElt">
  <xsd:sequence>
   <xsd:element name="f" type="fElt" minOccurs="0" maxOccurs="unbounded" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:complexType name="fElt">
  <xsd:attribute name="eqn" type="xsd:string" />
 </xsd:complexType>
 <xsd:element name="handles" type="handlesElt" />
 <xsd:complexType name="handlesElt">
  <xsd:sequence>
   <xsd:element name="h" type="hElt" minOccurs="0" maxOccurs="unbounded" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:complexType name="hElt">
  <xsd:attribute name="position" type="xsd:string" />
  <xsd:attribute name="polar" type="xsd:string" />
  <xsd:attribute name="map" type="xsd:string" />
  <xsd:attribute name="invx" type="tfType" />
  <xsd:attribute name="invy" type="tfType" />
  <xsd:attribute name="switch" type="tfType" />
  <xsd:attribute name="xrange" type="xsd:string" />
  <xsd:attribute name="yrange" type="xsd:string" />
  <xsd:attribute name="radiusrange" type="xsd:string" />
 </xsd:complexType>
 <xsd:element name="fill" type="fillElt" />
 <xsd:complexType name="fillElt">
  <xsd:sequence>
   <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="type" use="optional" default="solid">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="solid" />
     <xsd:enumeration value="gradient" />
     <xsd:enumeration value="gradientRadial" />
     <xsd:enumeration value="tile" />
     <xsd:enumeration value="pattern" />
     <xsd:enumeration value="frame" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="on" type="tfType" use="optional" />
  <xsd:attribute name="color" type="xsd:string" use="optional" />
  <xsd:attribute name="opacity" type="xsd:string" use="optional" />
  <xsd:attribute name="color2" type="xsd:string" use="optional" />
  <xsd:attribute name="opacity2" type="xsd:string" use="optional" />
  <xsd:attribute name="src" type="xsd:string" use="optional" />
  <xsd:attribute name="href" type="xsd:string" use="optional" />
  <xsd:attribute name="althref" type="xsd:string" use="optional" />
  <xsd:attribute name="title" type="xsd:string" use="optional" />
  <xsd:attribute name="size" type="xsd:string" use="optional" />
  <xsd:attribute name="origin" type="xsd:string" use="optional" />
  <xsd:attribute name="position" type="xsd:string" use="optional" />
  <xsd:attribute name="aspect" type="xsd:string" use="optional" />
  <xsd:attribute name="colors" type="xsd:string" use="optional" />
  <xsd:attribute name="angle" type="xsd:decimal" use="optional" />
  <xsd:attribute name="focus" type="xsd:string" use="optional" />
  <xsd:attribute name="focussize" type="xsd:string" use="optional" />
  <xsd:attribute name="focusposition" type="xsd:string" use="optional" />
  <xsd:attribute name="method" use="optional">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="none" />
     <xsd:enumeration value="linear" />
     <xsd:enumeration value="sigma" />
     <xsd:enumeration value="any" />
     <xsd:enumeration value="linear sigma" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute ref="o:detectmouseclick" use="optional" />
  <xsd:attribute ref="o:title" use="optional" />
  <xsd:attribute name="alignshape" use="optional" type="tfType" />
  <xsd:attribute ref="o:opacity2" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="stroke" type="strokeElt" />
 <xsd:complexType name="strokeElt">
  <xsd:sequence>
   <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="on" type="tfType" use="optional" />
  <xsd:attribute name="weight" type="xsd:string" use="optional" />
  <xsd:attribute name="color" type="xsd:string" use="optional" />
  <xsd:attribute name="opacity" type="xsd:string" use="optional" />
  <xsd:attribute name="linestyle" use="optional" default="single">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="single" />
     <xsd:enumeration value="thinThin" />
     <xsd:enumeration value="thinThick" />
     <xsd:enumeration value="thickThin" />
     <xsd:enumeration value="thickBetweenThin" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="miterlimit" type="xsd:decimal" use="optional" />
  <xsd:attribute name="joinstyle" use="optional" default="round">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="round" />
     <xsd:enumeration value="bevel" />
     <xsd:enumeration value="miter" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="endcap" use="optional" default="flat">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="flat" />
     <xsd:enumeration value="square" />
     <xsd:enumeration value="round" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="dashstyle" use="optional" type="xsd:string" default="solid" />
  <xsd:attribute name="filltype" use="optional" default="solid">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="solid" />
     <xsd:enumeration value="tile" />
     <xsd:enumeration value="pattern" />
     <xsd:enumeration value="frame" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="src" type="xsd:string" use="optional" />
  <xsd:attribute name="imageaspect" use="optional" default="ignore">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="ignore" />
     <xsd:enumeration value="atMost" />
     <xsd:enumeration value="atLeast" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="imagesize" use="optional" default="auto" />
  <xsd:attribute name="imagealignshape" use="optional" type="tfType" />
  <xsd:attribute name="color2" use="optional" />
  <xsd:attribute name="startarrow" use="optional" default="none">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="none" />
     <xsd:enumeration value="block" />
     <xsd:enumeration value="classic" />
     <xsd:enumeration value="oval" />
     <xsd:enumeration value="diamond" />
     <xsd:enumeration value="open" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="startarrowwidth" use="optional" default="medium">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="narrow" />
     <xsd:enumeration value="medium" />
     <xsd:enumeration value="wide" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="startarrowlength" use="optional" default="medium">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="short" />
     <xsd:enumeration value="medium" />
     <xsd:enumeration value="long" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="endarrow" use="optional">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="none" />
     <xsd:enumeration value="block" />
     <xsd:enumeration value="classic" />
     <xsd:enumeration value="oval" />
     <xsd:enumeration value="diamond" />
     <xsd:enumeration value="open" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="endarrowwidth" use="optional">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="narrow" />
     <xsd:enumeration value="medium" />
     <xsd:enumeration value="wide" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="endarrowlength" use="optional">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="short" />
     <xsd:enumeration value="medium" />
     <xsd:enumeration value="long" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute ref="o:href" use="optional" />
  <xsd:attribute ref="o:althref" use="optional" />
  <xsd:attribute ref="o:title" use="optional" />
  <xsd:attribute ref="o:forcedash" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="shadow" type="shadowElt" />
 <xsd:complexType name="shadowElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="on" type="tfType" use="optional" />
  <xsd:attribute name="type" use="optional" default="single">
   <xsd:simpleType>
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="single" />
     <xsd:enumeration value="double" />
     <xsd:enumeration value="emboss" />
     <xsd:enumeration value="perspective" />
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="obscured" type="tfType" use="optional" />
  <xsd:attribute name="color" type="xsd:string" use="optional" />
  <xsd:attribute name="opacity" type="xsd:string" use="optional" />
  <xsd:attribute name="offset" type="xsd:string" use="optional" />
  <xsd:attribute name="color2" type="xsd:string" use="optional" />
  <xsd:attribute name="offset2" type="xsd:string" use="optional" />
  <xsd:attribute name="origin" type="xsd:string" use="optional" />
  <xsd:attribute name="matrix" type="xsd:string" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="textbox" type="textboxElt" />
 <xsd:complexType name="textboxElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="inset" use="optional" />
  <xsd:attribute name="style" use="optional" type="xsd:string" />
  <xsd:attribute ref="o:singleclick" use="optional" />
  <xsd:attribute ref="o:insetmode" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="textpath" type="textpathElt" />
 <xsd:complexType name="textpathElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="on" type="tfType" use="optional" />
  <xsd:attribute name="fitshape" type="tfType" use="optional" />
  <xsd:attribute name="fitpath" type="tfType" use="optional" />
  <xsd:attribute name="trim" type="tfType" use="optional" />
  <xsd:attribute name="xscale" type="tfType" use="optional" />
  <xsd:attribute name="string" type="xsd:string" use="optional" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="imagedata" type="imagedataElt" />
 <xsd:complexType name="imagedataElt">
  <xsd:sequence>
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="optional" />
  <xsd:attribute name="src" type="xsd:string" use="optional" />
  <xsd:attribute name="cropleft" type="xsd:decimal" use="optional" />
  <xsd:attribute name="croptop" type="xsd:decimal" use="optional" />
  <xsd:attribute name="cropright" type="xsd:decimal" use="optional" />
  <xsd:attribute name="cropbottom" type="xsd:decimal" use="optional" />
  <xsd:attribute name="gain" type="xsd:decimal" use="optional" />
  <xsd:attribute name="blacklevel" type="xsd:decimal" use="optional" />
  <xsd:attribute name="gamma" type="xsd:decimal" use="optional" />
  <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
  <xsd:attribute name="grayscale" type="tfType" use="optional" />
  <xsd:attribute name="bilevel" type="tfType" use="optional" />
  <xsd:attribute name="embosscolor" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:href" use="optional" />
  <xsd:attribute ref="o:althref" use="optional" />
  <xsd:attribute ref="o:title" use="optional" />
  <xsd:attribute ref="o:oleid" use="optional" />
  <xsd:attribute ref="o:detectmouseclick" use="optional" />
  <xsd:attribute ref="o:movie" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="line" type="lineElt" />
 <xsd:complexType name="lineElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:element name="Behavior" minOccurs="0" />
   <xsd:element name="Sequence" minOccurs="0" />
   <xsd:element name="Action" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="style" use="optional" type="xsd:string" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:attribute name="from" type="xsd:string" use="optional" />
  <xsd:attribute name="to" type="xsd:string" use="optional" />
  <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
  <xsd:attribute ref="o:bwmode" use="optional" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
  <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
  <xsd:attribute name="filled" type="tfType" use="optional" />
  <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
  <xsd:attribute name="stroked" use="optional" type="tfType" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="arc" type="arcElt" />
 <xsd:complexType name="arcElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:element name="Behavior" minOccurs="0" />
   <xsd:element name="Sequence" minOccurs="0" />
   <xsd:element name="Action" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="startAngle" type="xsd:decimal" use="optional" />
  <xsd:attribute name="endAngle" type="xsd:decimal" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="curve" type="curveElt" />
 <xsd:complexType name="curveElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="from" type="xsd:string" use="optional" />
  <xsd:attribute name="control1" type="xsd:string" use="optional" />
  <xsd:attribute name="control2" type="xsd:string" use="optional" />
  <xsd:attribute name="to" type="xsd:string" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="polyline" type="polylineElt" />
 <xsd:complexType name="polylineElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="points" type="xsd:string" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="rect" type="rectElt" />
 <xsd:complexType name="rectElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:attribute ref="o:bwmode" use="optional" />
  <xsd:attribute ref="o:spid" use="optional" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:doubleclicknotify" use="optional" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute name="style" use="optional" type="xsd:string" />
  <xsd:attribute name="stroked" use="optional" type="tfType" />
  <xsd:attribute name="strokecolor" use="optional" type="xsd:string" />
  <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
  <xsd:attribute name="fillcolor" use="optional" type="xsd:string" />
  <xsd:attribute name="filled" type="tfType" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="roundrect" type="roundrectElt" />
 <xsd:complexType name="roundrectElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="style" type="xsd:string" use="optional" />
  <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
  <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
  <xsd:attribute name="arcsize" type="xsd:string" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
  <xsd:attribute name="filled" use="optional" type="tfType" />
  <xsd:attribute name="stroked" use="optional" type="tfType" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="oval" type="ovalElt" />
 <xsd:complexType name="ovalElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="startAngle" type="xsd:string" use="optional" />
  <xsd:attribute name="endAngle" type="xsd:string" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="href" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
  <xsd:attribute name="stroked" use="optional" type="tfType" />
  <xsd:attribute ref="o:userdrawn" use="optional" />
  <xsd:attribute name="style" use="optional" type="xsd:string" />
  <xsd:attribute name="fillcolor" use="optional" type="xsd:string" />
  <xsd:attribute name="strokecolor" use="optional" type="xsd:string" />
  <xsd:attribute name="filled" use="optional" type="tfType" />
  <xsd:attribute ref="o:regroupid" use="optional" />
  <xsd:attribute ref="o:bwmode" use="optional" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:element name="image" type="imageElt" />
 <xsd:complexType name="imageElt">
  <xsd:sequence>
   <xsd:element ref="path" minOccurs="0" />
   <xsd:element ref="formulas" minOccurs="0" />
   <xsd:element ref="handles" minOccurs="0" />
   <xsd:element ref="fill" minOccurs="0" />
   <xsd:element ref="stroke" minOccurs="0" />
   <xsd:element ref="imagedata" minOccurs="0" />
   <xsd:element ref="shadow" minOccurs="0" />
   <xsd:element ref="textbox" minOccurs="0" />
   <xsd:element ref="textpath" minOccurs="0" />
   <xsd:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:string" use="required" />
  <xsd:attribute name="src" type="xsd:string" use="optional" />
  <xsd:attribute name="cropleft" type="xsd:string" use="optional" />
  <xsd:attribute name="croptop" type="xsd:string" use="optional" />
  <xsd:attribute name="cropright" type="xsd:string" use="optional" />
  <xsd:attribute name="cropbottom" type="xsd:string" use="optional" />
  <xsd:attribute name="gain" type="xsd:string" use="optional" />
  <xsd:attribute name="blacklevel" type="xsd:string" use="optional" />
  <xsd:attribute name="gamma" type="xsd:string" use="optional" />
  <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
  <xsd:attribute name="grayscale" type="xsd:string" use="optional" />
  <xsd:attribute name="bilevel" type="xsd:string" use="optional" />
  <xsd:attribute name="hidden" use="optional" type="xsd:string" />
  <xsd:attribute name="type" use="optional" type="xsd:string" />
  <xsd:attribute name="adj" use="optional" type="xsd:string" />
  <xsd:attribute name="path" use="optional" type="xsd:string" />
  <xsd:attribute name="spid" use="optional" type="xsd:string" />
  <xsd:anyAttribute namespace="##other" processContents="lax" />
 </xsd:complexType>
 <xsd:simpleType name="tfType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="t" />
   <xsd:enumeration value="f" />
   <xsd:enumeration value="" />
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:attribute name="ext" default="view">
  <xsd:simpleType>
   <xsd:restriction base="xsd:string">
    <xsd:enumeration value="view" />
    <xsd:enumeration value="edit" />
    <xsd:enumeration value="backwardCompatible" />
   </xsd:restriction>
  </xsd:simpleType>
 </xsd:attribute>
 <xsd:simpleType name="colorType">
  <xsd:restriction base="xsd:string" />
 </xsd:simpleType>
</xsd:schema>
