GeneratedSchemaLibraries/GelML/libvirt/libosinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://libosinfo.org/xmlns/libvirt/domain/1.0"
           xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.1">
    <xs:import schemaLocation="domain.xsd"/>
    <xs:element name="libosinfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libosinfo:os"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="os">
        <!-- rename class generated by JAXB (avoiding "Os" name conflict) -->
        <xs:annotation>
            <xs:appinfo>
                <jxb:class name="libosinfoOperatingSystem"/>
            </xs:appinfo>
        </xs:annotation>

        <xs:complexType>
            <xs:attribute name="id" use="required" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
