GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Payroll/xml/PayrollSetupType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="PayrollSetupType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../common/xml/work/WorkLifeCycleType.xsd" />
  <xsd:include schemaLocation="../../common/xml/person/PersonBaseType.xsd" />
  <xsd:include schemaLocation="../../common/xml/pay/RemunerationOrDeductionType.xsd" />
  <xsd:include schemaLocation="../../common/xml/work/DeploymentType.xsd" />
  <xsd:include schemaLocation="../../common/xml/person/PersonLegalInclusion.xsd" />
  <xsd:include schemaLocation="../../common/xml/person/PersonNameType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
  <xsd:include schemaLocation="PaymentInstructionsType.xsd" />
  <xsd:include schemaLocation="GarnishmentInstructionType.xsd" />
  <xsd:complexType name="PayrollPersonType">
    <xsd:annotation>
      <xsd:documentation>Information about the person.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="personName" type="hropen:PersonNameType">
        <xsd:annotation>
          <xsd:documentation>The name of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="personBase" type="hropen:PersonBaseType">
        <xsd:annotation>
          <xsd:documentation>General information about the person, e.g. id, birthdate and gender.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="personLegal" type="hropen:PersonLegalInclusion">
        <xsd:annotation>
          <xsd:documentation>Legal details about a person, e.g. passport, parents names, marital status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PayrollSetupType">
    <xsd:annotation>
      <xsd:documentation>Provides the information needed to setup a payroll.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Alternative document IDs.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:integer" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                    <xsd:complexType>
                      <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList">
                          <xsd:annotation>
                            <xsd:documentation>The Country (represented by an ISO 3166 2 letter code) under which the data protection policy applies. If the policy applies to the world, the country is optional.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="countrySubDivisions">
                          <xsd:complexType>
                            <xsd:annotation>
                              <xsd:documentation>An optional further restriction or application of the data protection policy based on a region within the associated country. It should contain an ISO 3166-2 code for the country. Example would be 'US-CA' for California for further restrictions based on the CCPA regulation.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AddressComponentType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType">
                          <xsd:annotation>
                            <xsd:documentation>The description of the data protection policy (optionally associated with the country and optional region).</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:all>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="person" type="hropen:PayrollPersonType">
        <xsd:annotation>
          <xsd:documentation>Information about the person, including name, birthdate, legal ids, and marital status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="workLifeCycle" type="hropen:WorkLifeCycleType">
        <xsd:annotation>
          <xsd:documentation>Describes the relationship of the worker, e.g. hire date, termination, hir.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="deployment" type="hropen:DeploymentType">
        <xsd:annotation>
          <xsd:documentation>Information about the person's position, organization, and work location.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="paymentInstructions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Instructions for payment method and amount.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:PaymentInstructionsType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="remunerationInstructions ">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Instructions for the payments.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:RemunerationOrDeductionType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="deductionInstructions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Instructions for General and Benefits deductions.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:RemunerationOrDeductionType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="garnishmentInstructions">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Instructions for Garnishment deductions.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:GarnishmentInstructionType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PayrollSetup" type="hropen:PayrollSetupType" />
</xsd:schema>