LinqToXsd.Schemas/Toy schemas/EnumsForElements/EnumsForElementsWithComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2014 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified">
	<xs:complexType name="Root">
		<xs:sequence>
			<xs:element ref="Element1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Element2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Element1" type="Element1" />
	<xs:element name="Element2" type="Element2" />
	<xs:complexType name="Element1" >
		<xs:sequence>
			<xs:element name="_AttributeEnum">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" >
						<xs:enumeration value="PCL"/>
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="XML"/>
						<xs:enumeration value="Text"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Element2" >
		<xs:sequence>
			<xs:element name="_AttributeEnum">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" >
						<xs:enumeration value="PCL"/>
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="XML"/>
						<xs:enumeration value="Text"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
		</xs:sequence>
	</xs:complexType>	
</xs:schema>
