GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Interviewing/xml/InterviewPositionType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="InterviewPositionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../common/xml/codelist/LanguageCodeList.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/CommentType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/CodeType.xsd" />
  <xsd:include schemaLocation="PositionQuestionsType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/FormattedDateTimeType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IdentifierType.xsd" />
  <xsd:include schemaLocation="../../common/xml/communication/LocationType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
  <xsd:include schemaLocation="RecruiterContactType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/EntityType.xsd" />
  <xsd:complexType name="PositionType">
    <xsd:annotation>
      <xsd:documentation>Information about the position.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>This is the Position Identifier assigned by the interviewing system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionTemplate" type="hropen:EntityType">
        <xsd:annotation>
          <xsd:documentation>The name and Id of a position template.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="positionTitle">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The position title which might be presented to interviewees.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionPublicTitle">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The position title that is presented to the interviewee as opposed to the PositionTitle which is used internally by recruiters to reference the position..</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionDescription">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Position description, which may include html or some type of formatting information.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionLocation" type="hropen:LocationType">
        <xsd:annotation>
          <xsd:documentation>The location of the position..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionEndDate" type="hropen:FormattedDateTimeType">
        <xsd:annotation>
          <xsd:documentation>The end date for the position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionCategory" type="hropen:EntityType">
        <xsd:annotation>
          <xsd:documentation>A way of grouping positions. E.g, Manager, Admin, Software, Retail, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="themeId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>ID of branding theme this position will use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="interviewFormatArray">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:CodeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="InterviewPositionType">
    <xsd:annotation>
      <xsd:documentation>Provides the information needed to create a Position for an Interview.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Alternative document IDs.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:integer" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                    <xsd:complexType>
                      <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList">
                          <xsd:annotation>
                            <xsd:documentation>The Country (represented by an ISO 3166 2 letter code) under which the data protection policy applies. If the policy applies to the world, the country is optional.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="countrySubDivisions">
                          <xsd:complexType>
                            <xsd:annotation>
                              <xsd:documentation>An optional further restriction or application of the data protection policy based on a region within the associated country. It should contain an ISO 3166-2 code for the country. Example would be 'US-CA' for California for further restrictions based on the CCPA regulation.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AddressComponentType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType">
                          <xsd:annotation>
                            <xsd:documentation>The description of the data protection policy (optionally associated with the country and optional region).</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:all>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="position" type="hropen:PositionType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="recruiter" type="hropen:RecruiterContactType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="accountCode">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Account Code for use for accounting purposes.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="externalId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Identifier used by the requesting system to identify the position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="submissionDeadline" type="hropen:FormattedDateTimeType">
        <xsd:annotation>
          <xsd:documentation>The default deadline, in hours or date, for an interview requested for this position.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="hropen:LanguageCodeList">
        <xsd:annotation>
          <xsd:documentation>The default language in which the position is presented to the outside world.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="positionQuestions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:PositionQuestionsType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="introVideoInId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>ID of video that welcomes the interviewee to the interview.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="introVideoOutId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>ID of video that thanks interviewee for their participation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="comments">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Additional information in support of interview position, such as a URL to interviewing system.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:CommentType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="InterviewPosition" type="hropen:InterviewPositionType" />
</xsd:schema>