LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalSchemaDocDevelopment/DevelopmentPlansv07.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "PINSTypesv06.xsd"
	 targetNamespace = "PINSTypesv06.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = ""
	 elementFormDefault = "unqualified"
	 attributeFormDefault = "unqualified">
	<xsd:include schemaLocation = "PINSTypesv06.xsd"/>
	<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Andy Bravery (IBM UK Labs) -->
	
	
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	<xsd:element name = "DevelopmentPlanSet">
		<xsd:annotation>
			<xsd:documentation>This element is the container for all the parts which go to make up the total plan</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "PlanContent"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PlanContent">
		<xsd:annotation>
			<xsd:documentation>Contains the sections which go to make up the main content of the plan, with a type to identify the nature of that plan content.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GMFMetadata"/>
				<xsd:element ref = "PlanAdminDetails"/>
				<xsd:element ref = "PlanSummary" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "PlanIntro"/>
				<xsd:element ref = "Policy" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "TopicArea" maxOccurs = "unbounded"/>
				<xsd:element ref = "Representation" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "Glossary" minOccurs = "0"/>
				<xsd:element ref = "Index" minOccurs = "0"/>
				<xsd:element ref = "Appendix" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "PlanType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Unitary"/>
						<xsd:enumeration value = "Structure"/>
						<xsd:enumeration value = "Local"/>
						<xsd:enumeration value = "MineralsLocalPlan"/>
						<xsd:enumeration value = "WasteLocalPlan"/>
						<xsd:enumeration value = "SpatialDevelopmentStrategy"/>
						<xsd:enumeration value = "Other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "associatedDocType">
		<xsd:annotation>
			<xsd:documentation>Defines the detailed typing information for the AssociatedDocument element.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name = "Use" use = "required">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:string">
					<xsd:enumeration value = "Source of Policy"/>
					<xsd:enumeration value = "Local Guidance"/>
					<xsd:enumeration value = "Plan Progress"/>
					<xsd:enumeration value = "Other"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name = "DocumentDescription" type = "xsd:string"/>
		<xsd:attribute name = "LinkText" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:element name = "AssociatedDocument" type = "associatedDocType" abstract = "true">
		<xsd:annotation>
			<xsd:documentation>Identifies a piece of relevant content within a plan. This is an abstraction element - specific content should be represented by any one of the specialisations of this element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "GMFMetadata" type = "GMFMetadata">
		<xsd:annotation>
			<xsd:documentation>For attaching metadata attributes - see PINSTypesv04.xsd for definition</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "PlanAdminDetails">
		<xsd:annotation>
			<xsd:documentation>The section that deals with general details regarding the type, status and originator of the Plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OriginatingAuthority" maxOccurs = "unbounded"/>
				<xsd:element ref = "PlanPublication" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "PlanStatus" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "WorkingDraft_NonPublic"/>
						<xsd:enumeration value = "PublicConsultationDraft"/>
						<xsd:enumeration value = "FirstDeposit"/>
						<xsd:enumeration value = "SecondDeposit"/>
						<xsd:enumeration value = "AsProposedToBeModified"/>
						<xsd:enumeration value = "Adopted"/>
						<xsd:enumeration value = "Withdrawn"/>
						<xsd:enumeration value = "Superseded"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "PlanEffectiveStartDate" use = "required" type = "xsd:date"/>
			<xsd:attribute name = "PlanEffectiveEndDate" use = "required" type = "xsd:date"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OriginatingAuthority">
		<xsd:annotation>
			<xsd:documentation>This element is used to represent each authority who has a role in producing the plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "DTLRCode" type = "xsd:string"/>
			<xsd:attribute name = "AuthorityRole" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Sole"/>
						<xsd:enumeration value = "Joint"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PlanPublication">
		<xsd:annotation>
			<xsd:documentation>This section deals with the format in which the Plan was originally published</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "PlanPublicationDate" use = "required" type = "xsd:date"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PlanSummary">
		<xsd:annotation>
			<xsd:documentation>This section deals with the summary of underlying the Plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed = "true">
			<xsd:choice>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:choice>
			<xsd:attribute name = "PlanSummaryType" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PlanIntro">
		<xsd:annotation>
			<xsd:documentation>This section contains the  introduction and overall strategy for the Plan</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Vision"/>
				<xsd:element ref = "RolePurpose"/>
				<xsd:element ref = "DevPlanRelationships" maxOccurs = "unbounded"/>
				<xsd:element ref = "ReviewProcessDescription" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Vision">
		<xsd:annotation>
			<xsd:documentation>This element is a container for the Vision or strategy of the plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "VisionComponent" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RolePurpose">
		<xsd:annotation>
			<xsd:documentation>The reason for producing the Development Plan which may be entitled “The Need for the Plan”. This would include why the Plan is being produced </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ReviewProcessDescription">
		<xsd:annotation>
			<xsd:documentation>Explanation of Authority’s(ies) progress on reviewing or replacing the Adopted Development Plan. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DevPlanRelationships">
		<xsd:annotation>
			<xsd:documentation>A link to a policy or feature within this, or a neighbouring authority plan which directly or indirectly affects your development plan. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "RegionalStrategicImpact"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "VisionComponent">
		<xsd:annotation>
			<xsd:documentation>These elements have a type and contain the text of the component of the vision. The type can be Aim, Objective, Target or Alternative</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "TopicArea" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "PolicyJustification" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "VisionComponentType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Aim"/>
						<xsd:enumeration value = "Objective"/>
						<xsd:enumeration value = "Target"/>
						<xsd:enumeration value = "Alternative"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RegionalStrategicImpact">
		<xsd:annotation>
			<xsd:documentation>This is where the text providing the regional/county context for the Development Plan is placed.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SpatialItem" type = "SpatialItem">
		<xsd:annotation>
			<xsd:documentation>An element represent a piece of spatial information - may relate to a polygon or a layer. See PINSTypesv04.xsd for definition</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Policy">
		<xsd:annotation>
			<xsd:documentation>The element which represents a policy and forms the container for all the information abou that policy.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "Policy" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "Implementation" minOccurs = "0"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "SpatialItem" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "PolicyJustification" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "InternalReference" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "PolicyNumber" type = "xsd:ID"/>
			<xsd:attribute name = "PolicyType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "General"/>
						<xsd:enumeration value = "Site Specific"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "StandardPolicyCode" type = "xsd:string"/>
			<xsd:attribute name = "AreaAffected">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:integer">
						<xsd:minInclusive value = "1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Implementation">
		<xsd:annotation>
			<xsd:documentation>Details of how an individual Policy is to be implemented (if included).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "MonitoringMethod" maxOccurs = "unbounded"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
			<xsd:attribute name = "ExternalDocURI" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PolicyJustification">
		<xsd:annotation>
			<xsd:documentation>Unique reference within the Portal to link a Policy (Policies) to a specific piece of justification/clarification/explanation. This would not normally appear in the printed Plan and needs to be created to assist the Portal eg WH6A-justification</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "MonitoringMethod">
		<xsd:annotation>
			<xsd:documentation>This is where details of how monitoring of an individual Policy’s implementation will be undertaken. It can include text and should include details of measuring success</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TopicArea">
		<xsd:annotation>
			<xsd:documentation>This is the preamble/introduction to the Chapter (if any). This section does not include any policies, proposals or their associated justification. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "InternalReference" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "Policy" maxOccurs = "unbounded"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "TopicID" use = "required" type = "xsd:ID"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "InternalReference">
		<xsd:annotation>
			<xsd:documentation>This is where the Topic (Chapter) can be referenced to one or more other parts of the Development Plan. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "PolicyRef" type = "xsd:string"/>
			<xsd:attribute name = "TopicAreaRef" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Representation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Representor" maxOccurs = "unbounded"/>
				<xsd:element ref = "PolicyComment" maxOccurs = "unbounded"/>
				<xsd:element ref = "NatureOfRep"/>
				<xsd:element ref = "OfficersComments"/>
				<xsd:element ref = "AssociatedDocument" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "RepresentationWithdrawnDate" type = "xsd:date"/>
			<xsd:attribute name = "RepresentationReceiptDate" use = "required" type = "xsd:date"/>
			<xsd:attribute name = "AppearenceDate" type = "xsd:date"/>
			<xsd:attribute name = "RepresentationType" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Written"/>
						<xsd:enumeration value = "Appearance"/>
						<xsd:enumeration value = "WrittenAndAppearance"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "RepresentationStatus" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Object"/>
						<xsd:enumeration value = "Support"/>
						<xsd:enumeration value = "Withdrawn"/>
						<xsd:enumeration value = "ConditionallyWithdrawn"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref = "Identifier"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Representor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "RepresentorName"/>
				<xsd:element ref = "ContactDetails"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PolicyComment">
		<xsd:complexType mixed = "true">
			<xsd:choice>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:choice>
			<xsd:attribute name = "PolicyRef" type = "xsd:IDREF"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "NatureOfRep">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OfficersComments">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RepresentorName" type = "PersonName"/>
	<xsd:element name = "ContactDetails" type = "ShortContactDetails"/>
	<xsd:complexType name = "internalPageLinkType">
		<xsd:annotation>
			<xsd:documentation>Special type of associated document for representing links to information internal to this plan</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "associatedDocType">
				<xsd:sequence>
					<xsd:element ref = "GenericDocComponent"/>
				</xsd:sequence>
				<xsd:attribute name = "LinkType" use = "required">
					<xsd:simpleType>
						<xsd:restriction base = "xsd:string">
							<xsd:enumeration value = "ExternalToPlan"/>
							<xsd:enumeration value = "InternalToPlan"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "InternalPageLink" type = "internalPageLinkType">
		<xsd:annotation>
			<xsd:documentation>See internalPageLinkType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name = "externalURLLinkType">
		<xsd:annotation>
			<xsd:documentation>Special type of associated document for representing links to information external to this plan via a URL</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "associatedDocType">
				<xsd:sequence>
					<xsd:element ref = "GMFMetadata"/>
				</xsd:sequence>
				<xsd:attribute name = "URL" type = "xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "ExternalURLLink" type = "externalURLLinkType">
		<xsd:annotation>
			<xsd:documentation>See externalPageLinkType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name = "internalFileLinkType">
		<xsd:annotation>
			<xsd:documentation>Special type of associated document for representing links to information internal to this plan but held in a file rather than in XML form</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "associatedDocType">
				<xsd:sequence>
					<xsd:element ref = "GMFMetadata"/>
				</xsd:sequence>
				<xsd:attribute name = "file" type = "xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "InternalFileLink" type = "internalFileLinkType">
		<xsd:annotation>
			<xsd:documentation>See internalFilelinkType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name = "spatialLinkType">
		<xsd:annotation>
			<xsd:documentation>Special type of associated document for representing links to information held as spatial data in the plan.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "associatedDocType">
				<xsd:sequence>
					<xsd:element ref = "SpatialItem"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name = "SpatialLink" type = "spatialLinkType">
		<xsd:annotation>
			<xsd:documentation>See spatialLinkType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Glossary">
		<xsd:annotation>
			<xsd:documentation>Glossary of the Development Plan. Each separate detail within the Glossary will be inserted into a “Glossary Item”</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "GlossaryItem" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GlossaryItem">
		<xsd:annotation>
			<xsd:documentation>An item in the Glossary.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Index">
		<xsd:annotation>
			<xsd:documentation>Index of the Development Plan. Each separate detail within the Index will be inserted into an “Index Item”</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "IndexItem" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "IndexItem">
		<xsd:annotation>
			<xsd:documentation>An item in the Index</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Appendix">
		<xsd:annotation>
			<xsd:documentation>Appendix of the Development Plan. Each separate detail within the Appendix will be inserted into a “Appendix Item”</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
				<xsd:element ref = "AppendixItem" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AppendixItem">
		<xsd:annotation>
			<xsd:documentation>An item in the Appendix.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "GenericDocComponent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>