GeneratedSchemaLibraries/UK CabinetOffice/PlanningPortalDataInterchange/Householder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<!-- Uses only part of OtherInformation: 7.3 -->
		
		<!-- Uses only part of SiteArea: 9.5 and 9.6 -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "SiteLocation" type = "SiteLocation"/>
				<xsd:element name = "ProposalDescription" type = "ProposalDescription"/>
				<xsd:element name = "Access" type = "Access"/>
				<xsd:element name = "OtherInformation" type = "OtherInformation"/>
				<xsd:element name = "Materials" type = "Materials"/>
				<xsd:element name = "SiteArea" type = "SiteArea"/>
				<xsd:element name = "PublicRightOfWay" type = "PublicRightOfWay"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>