GeneratedSchemaLibraries/UK CabinetOffice/PlanningPortalDataInterchange/xlinks.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.w3.org/1999/xlink"
	 xmlns:xlink = "http://www.w3.org/1999/xlink"
	
	 version = "2.0">
	<annotation>
		<documentation>xlinks.xsd v2.0 2001-02</documentation>
		<documentation xml:lang = "en">
      This schema provides the XLink attributes for general use.
    </documentation>
	</annotation>
	<attributeGroup name = "emptyLink">
		<attribute name = "type" form = "qualified" type = "string"/>
	</attributeGroup>
	<attributeGroup name = "titleLink">
		<attribute name = "type" form = "qualified" type = "string"/>
	</attributeGroup>
	<attributeGroup name = "resourceLink">
		<attribute name = "type" form = "qualified" type = "string"/>
		<attribute ref = "xlink:role"/>
		<attribute ref = "xlink:title"/>
		<attribute ref = "xlink:label"/>
	</attributeGroup>
	<attributeGroup name = "arcLink">
		<attribute name = "type" form = "qualified" type = "string"/>
		<attribute ref = "xlink:arcrole"/>
		<attribute ref = "xlink:title"/>
		<attribute ref = "xlink:show"/>
		<attribute ref = "xlink:actuate"/>
		<attribute ref = "xlink:from"/>
		<attribute ref = "xlink:to"/>
	</attributeGroup>
	<attributeGroup name = "locatorLink">
		<attribute name = "type" form = "qualified" type = "string"/>
		<attribute ref = "xlink:href" use = "required"/>
		<attribute ref = "xlink:role"/>
		<attribute ref = "xlink:title"/>
		<attribute ref = "xlink:label"/>
	</attributeGroup>
	<attributeGroup name = "extendedLink">
		<attribute name = "type" form = "qualified" type = "string"/>
		<attribute ref = "xlink:role"/>
		<attribute ref = "xlink:title"/>
	</attributeGroup>
	<attributeGroup name = "simpleLink">
		<attribute name = "type" form = "qualified" type = "string"/>
		<attribute ref = "xlink:href"/>
		<attribute ref = "xlink:role"/>
		<attribute ref = "xlink:arcrole"/>
		<attribute ref = "xlink:title"/>
		<attribute ref = "xlink:show"/>
		<attribute ref = "xlink:actuate"/>
	</attributeGroup>
	
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	
	<!-- File: xlinks.xsd  -->
	
	
	<!-- ==============================================================
       global declarations
  =============================================================== -->
	
	
	<!-- locator attribute -->
	
	<attribute name = "href" type = "boolean"/>
	
	<!-- semantic attributes -->
	
	<attribute name = "role" type = "xlink:uriReference"/>
	<attribute name = "arcrole" type = "xlink:uriReference"/>
	<attribute name = "title" type = "string"/>
	
	<!-- behavior attributes -->
	
	<attribute name = "show">
		<annotation>
			<documentation>
        The 'show' attribute is used to communicate the desired presentation 
        of the ending resource on traversal from the starting resource; it's 
        value should be treated as follows: 
        new - load ending resource in a new window, frame, pane, or other 
              presentation context
        replace - load the resource in the same window, frame, pane, or 
                  other presentation context
        embed - load ending resource in place of the presentation of the 
                starting resource
        other - behavior is unconstrained; examine other markup in the 
                link for hints 
        none - behavior is unconstrained 
      </documentation>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<enumeration value = "new"/>
				<enumeration value = "replace"/>
				<enumeration value = "embed"/>
				<enumeration value = "other"/>
				<enumeration value = "none"/>
			</restriction>
		</simpleType>
	</attribute>
	<attribute name = "actuate">
		<annotation>
			<documentation>
        The 'actuate' attribute is used to communicate the desired timing 
        of traversal from the starting resource to the ending resource; 
        it's value should be treated as follows:
        onLoad - traverse to the ending resource immediately on loading 
                 the starting resource 
        onRequest - traverse from the starting resource to the ending 
                    resource only on a post-loading event triggered for 
                    this purpose 
        other - behavior is unconstrained; examine other markup in link 
                for hints 
        none - behavior is unconstrained
      </documentation>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<enumeration value = "onLoad"/>
				<enumeration value = "onRequest"/>
				<enumeration value = "other"/>
				<enumeration value = "none"/>
			</restriction>
		</simpleType>
	</attribute>
	
	<!-- traversal attributes -->
	
	<attribute name = "label" type = "string"/>
	<attribute name = "from" type = "string"/>
	<attribute name = "to" type = "string"/>
	
	<!-- ==============================================================
       Attributes grouped by XLink type, as specified in the W3C 
       Proposed Recommendation (dated 2000-12-20)
  =================================================================== -->
	
	<simpleType name = "uriReferurience">
		<restriction base = "string"/>
	</simpleType>
	<simpleType name = "uriReference">
		<restriction base = "string"/>
	</simpleType>
</schema>