GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/person/PersonPhysicalType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="PersonPhysicalType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="PersonBaseType.xsd" />
  <xsd:include schemaLocation="PersonPhysicalInclusion.xsd" />
  <xsd:complexType name="PersonPhysicalType">
    <xsd:annotation>
      <xsd:documentation>A schema that represents a person along with their physical data.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="legalId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>The legal identifier of a person. The issuer is most likely a country or state.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="previousLegalId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>The previous legal identifier of a person. The issuer is most likely a country or state.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="birthDate" type="hropen:DateType">
        <xsd:annotation>
          <xsd:documentation>The birth date of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="gender" type="hropen:GenderCodeList">
        <xsd:annotation>
          <xsd:documentation>The gender of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="citizenship">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The citizenships that a person holds. This is a legal citizenship in a country (as opposed to nationality which may or may not be a country).</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:CountryCodeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="residenceCountry">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The country (or countries) where a person currently resides.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:CountryCodeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="militaryStatus">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The military status of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ethnicity" type="hropen:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>The ethnicity (or ethnicities) of a person. A country may define which of these terms (race, nationality, ethnicity) be used and how they are defined. One or more properties may be used by a country. A predefined country list allows a person to specify their ethnicity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="id" type="hropen:IdentifierType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="hropen:PersonNameType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="communication" type="hropen:CommunicationType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="primaryLanguage" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="height" type="hropen:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The height of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="weight" type="hropen:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The weight of the person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="disability" type="hropen:DisabilityType">
        <xsd:annotation>
          <xsd:documentation>A type of disability that a person has.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="tobaccoUserIndicator" type="hropen:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>An indicator that a person is a tobacco user.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="hairColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the hair of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="eyeColor">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The color of the eyes of a person.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="identifyingMarks" type="hropen:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>A list of identifying marks of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="age">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The age of a person (in years).</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="bloodType" type="hropen:CodeType">
        <xsd:annotation>
          <xsd:documentation>The blood type of a person.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="PersonPhysical" type="hropen:PersonPhysicalType" />
</xsd:schema>