LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/base/AttachmentType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="AttachmentType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="IdentifierType.xsd" />
  <xsd:include schemaLocation="BinaryObjectType.xsd" />
  <xsd:include schemaLocation="StringTypeArray.xsd" />
  <xsd:complexType name="AttachmentContent">
    <xsd:annotation>
      <xsd:documentation>Content of an attachment in the JSON message, which can be embedded or an external reference.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="content" type="hropen:BinaryObjectType">
        <xsd:annotation>
          <xsd:documentation>Embedded attachment represented as a binary object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="url">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>A URL to an external document.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AttachmentType">
    <xsd:annotation>
      <xsd:documentation>Embedded attachment data or URL to actual attachment.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="content" type="hropen:BinaryObjectType">
        <xsd:annotation>
          <xsd:documentation>Embedded attachment represented as a binary object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="url">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>A URL to an external document.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="id" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>An identifier of the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions" type="hropen:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>Descriptions of the attachment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Attachment" type="hropen:AttachmentType" />
</xsd:schema>