LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/base/GeoType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="GeoType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="MeasureType.xsd" />
  <xsd:complexType name="GeoType">
    <xsd:annotation>
      <xsd:documentation>A geographical coordinate.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="latitude">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The latitude of the geographical location.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="-90" />
            <xsd:maxInclusive value="90" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="longitude">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The longitude of the geographical location.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="-180" />
            <xsd:maxInclusive value="180" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="altitude" type="hropen:MeasureType">
        <xsd:annotation>
          <xsd:documentation>The altitude of the geographical location. Defaults to meters above sea level in case no unitCode provided.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The label of the geo coordinates.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Geo" type="hropen:GeoType" />
</xsd:schema>