LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/base/IdGroupType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="IdGroupType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="IdentifierType.xsd" />
  <xsd:complexType name="IdGroupType">
    <xsd:annotation>
      <xsd:documentation>A set of identifiers for an object, with a primary identifier and an array of alternate identifiers.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="Id" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>The unique and/or primary identifier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Associated alternative identifiers.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="IdGroup" type="hropen:IdGroupType" />
</xsd:schema>