LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/base/YearMonthOpenEndPeriodType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="YearMonthOpenEndPeriodType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="YearMonthType.xsd" />
  <xsd:complexType name="YearMonthOpenEndPeriodType">
    <xsd:annotation>
      <xsd:documentation>Single period between year/months. The end year/month is optional and should be used in cases where the end of the period is unknown or uncertain.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="start" type="hropen:YearMonthType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="end" type="hropen:YearMonthType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="YearMonthOpenEndPeriod" type="hropen:YearMonthOpenEndPeriodType" />
</xsd:schema>