LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/base/YearPeriodType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="YearPeriodType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="YearOpenEndPeriodType.xsd" />
  <xsd:complexType name="YearPeriodType">
    <xsd:annotation>
      <xsd:documentation>Single period between years. Both start and end are required.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="start" type="hropen:YearType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="end" type="hropen:YearType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="YearPeriod" type="hropen:YearPeriodType" />
</xsd:schema>