LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalSchemaDocApplication/Applicant.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ApplicantAddress" type = "ApplicantAddress"/>
				<xsd:element name = "AgentAddress" type = "AgentAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>