LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalSchemaDocApplication/LawfulDevelopmentCertificate191.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<!-- Only use Current Use -->
		
		<!-- ResidentialInformation only includes the following : -->
		
		<!--    - If 'Yes' Existing Units -->
		
		<!--    - If 'Yes' Proposed Units -->
		
		<!--    - Net -->
		
		<!-- Interest only includes the following : -->
		
		<!--    - Application Interest -->
		
		<!--    - If 'other' give details -->
		
		<!--    - if NOT 'other' give details -->
		
		<!---->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "SiteLocation" type = "SiteLocation"/>
				<xsd:element name = "ProposalDescription" type = "ProposalDescription"/>
				<xsd:element name = "ExistingUses" type = "ExistingUses"/>
				<xsd:element name = "ResidentialInformation" type = "ResidentialInformation"/>
				<xsd:element name = "Interest" type = "Interest"/>
				<xsd:element name = "ExistingDevelopmentUse" type = "ExistingDevelopmentUse"/>
				<xsd:element name = "SupportingEvidence" type = "SupportingEvidence"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>