GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Recruiting/xml/RelocationType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="RelocationType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../common/xml/base/StringTypeArray.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IndicatorType.xsd" />
  <xsd:complexType name="RelocationType">
    <xsd:annotation>
      <xsd:documentation>Information about relocation.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="willingToRelocateIndicator" type="hropen:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>Indicates whether relocation is an option for the candidate or considered by the hiring company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="descriptions" type="hropen:StringTypeArray">
        <xsd:annotation>
          <xsd:documentation>Text describing any special considerations about relocation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Relocation" type="hropen:RelocationType" />
</xsd:schema>