LinqToXsd.Schemas/NHS CDS/CDS-XML_Standard_Data_Elements-V6-2-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" targetNamespace="http://www.nhsia.nhs.uk/DataStandards/XMLschema/CDS/ns" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6-2">
	<xs:simpleType name="AlphaNumeric_Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Date_Type">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1900-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOfBirth_Type">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1880-01-01"/>
			<xs:maxInclusive value="2999-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time_Type">
		<xs:restriction base="xs:time">
			<xs:pattern value="([0-9]|[0-1][0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Added 6-2-3  db   21/08/20     -->
	<xs:simpleType name="DateTimeStamp">
		<xs:restriction base="xs:dateTime"/>
			<!-- UK WALL CLOCK TIME. Offset is the Time Value APPLIED TO GMT To Give Time "AS SHOWN ON THE CLOCK" 
			  VALID OFFSETS for UK will be -01:00 +00:00  -00:00 -->
	</xs:simpleType>
	<!-- End of Addition   -->
	<xs:simpleType name="Integer_Type">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="PositiveInteger_Type">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="Number9NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number9999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99999NonNegative_Type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number99999Positive_Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number999p999_Type">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="3"/>
			<xs:pattern value="\d{3}\.\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ICD_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="4"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsultantCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GMP_Code_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OPCS_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PCT_Code_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonName_StructuredWord_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonName_UnstructuredText_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PracticeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="READ_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferrerCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferringOrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StructuredAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnstructuredAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="175"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPFreeText_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPIdentityNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPPartyIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VGPSequenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-Finished_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-UnFinished_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-EAL-EDP-100-110_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="110"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSTypes-EAL-EOP-040-050_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="050"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Adult_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Neonatal_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitFunction_Paediatric_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="92"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Withheld_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Verified_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSNumberStatusIndicatorCode_Unverified_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEArrivalModeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEAttendanceCategoryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEAttendanceConclusionTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEAttendanceDisposalCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEAttendanceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEDepartmentType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEDepartureTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEDiagnosis_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="2"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEIncidentLocationType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="91"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEInitialAssessmentTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEInvestigation_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="2"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEPatientGroup_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndEStaffMemberCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAndETimeSeenForTreatment_Type">
		<xs:annotation>
			<xs:documentation>V5-0:  (December 2005) Was numeric 4 digits 0000 - 2359  now uses XML standard hh:mm:ss format  (.sss is optional)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndETreatment_Type">
		<xs:annotation>
			<xs:documentation>V6:0  Length = min 2, max 6</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="2"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityDate_CriticalCare_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeCategoryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdministrativeCategoryCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AdministrativeCategoryCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AdmissionMethodCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="2D"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdmissionOfferOutcomeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdvancedCardiovascularSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AdvancedRespiratorySupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AgeAtCDSActivityDate_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AgeAtCensus_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AgeOnAdmission_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="IntendedAgeGroup_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnaestheticGivenDuringLabourOrDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnaestheticGivenPostLabourOrDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppointmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ArrivalDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ArrivalTimeAtAAndE_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AttendanceIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttendedOrDidNotAttendCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasicCardiovascularSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="BasicRespiratorySupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="BirthOrder_Type">
		<xs:restriction base="ns:Number9Positive_Type"/>
	</xs:simpleType>
	<xs:simpleType name="BirthWeight_Type">
		<xs:restriction base="ns:Number9999Positive_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CarerSupportIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSActivityDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSApplicableDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSApplicableTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSBulkReplacementGroupCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="160"/>
			<!-- Removed 6-2-3   db  24/08/2020   
			<xs:enumeration value="010"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="030"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="050"/>
			<xs:enumeration value="060"/>
			<xs:enumeration value="070"/>
			<xs:enumeration value="080"/>
			<xs:enumeration value="090"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="150"/>
			end of removal -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSExtractDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSExtractTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeApplicationReference_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeControlCount_Type">
		<xs:restriction base="ns:PositiveInteger_Type">
			<xs:maxInclusive value="99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeControlReference_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeDateOfPreparation_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeReceiverIdentity_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeSenderIdentity_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeTestIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSInterchangeTimeOfPreparation_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageRecordIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageReferenceNumber_Type">
		<xs:restriction base="ns:PositiveInteger_Type">
			<xs:maxInclusive value="99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="6"/>
			<xs:enumeration value="NHSCDS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSMessageVersionNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="8"/>
			<xs:enumeration value="CDS062"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Following Removed V6-2-3     DB 17/08/20
	<xs:simpleType name="CDSOrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSPrimeRecipientCode_Type">
		<xs:restriction base="ns:CDSOrganisationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSCopyRecipientCode_Type">
		<xs:restriction base="ns:CDSOrganisationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSSenderCode_Type">
		<xs:restriction base="ns:CDSPrimeRecipientCode_Type"/>
	</xs:simpleType>	-->
	<!-- Following Added V6-2-3     DB 20/08/20 -->
	<xs:simpleType name="CDSOrganisationIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSSender_Identifier_Type">
		<xs:restriction base="ns:CDSOrganisationIdentifier_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSRecipient_Identifier_Type">
		<xs:restriction base="ns:CDSOrganisationIdentifier_Type"/>
	</xs:simpleType>
	<!-- End of Addition for V6-2-3 -->
	<xs:simpleType name="CDSProtocolIdentifierCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="010"/>
			<xs:enumeration value="020"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSReportPeriodEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSReportPeriodStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CDSTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
			<xs:enumeration value="011"/>
			<!--Removed 6-2-3  db  24/08/20 
			<xs:enumeration value="010"/> 
			end removal-->
			<!--Removed 6-2-3  db   24/08/20
			<xs:enumeration value="020"/>
			<xs:enumeration value="021"/>
			<xs:enumeration value="030"/>
			<xs:enumeration value="040"/>
			<xs:enumeration value="050"/>
			<xs:enumeration value="060"/>
			<xs:enumeration value="070"/>
			<xs:enumeration value="080"/>
			<xs:enumeration value="090"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="160"/>
			<xs:enumeration value="170"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="200"/>
			end of removal -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSUniqueIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDSUpdateType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommissionerReferenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommissioningSerialNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountOfDaysSuspended_Type">
		<xs:restriction base="ns:Number9999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareActivityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="68"/>
			<xs:enumeration value="69"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="73"/>
			<xs:enumeration value="74"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareAdmissionSource_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareAdmissionType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeDestination_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeLocation_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeReadyDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeReadyTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareDischargeTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLevel2Days_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLevel3Days_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareLocalIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareSourceLocation_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareStartTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="CriticalCareUnitBedConfiguration_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateDetentionCommenced_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DecidedToAdmitDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DeliveryMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceChangeReasonCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceTypeCode_Actual_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPlaceTypeCode_Intended_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DermatologicalSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DetainedAndOrLongTermPsychiatricCensusDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DiagnosisSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DischargeDestinationCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeMethodCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargeReadyDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfCareToPsychiatricCensusDate_Type">
		<xs:restriction base="ns:Number99999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfDetention_Type">
		<xs:restriction base="ns:Number99999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DurationOfElectiveWait_Type">
		<xs:restriction base="ns:Number9999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EarliestReasonableOfferDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListEntryNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListRemovalDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListRemovalReasonCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionListStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectiveAdmissionTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndDate_Episode_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EpisodeNumber_Type">
		<xs:restriction base="ns:Number99Positive_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EthnicCategory_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:pattern value="99"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]"/>
			<xs:pattern value="[ABCDEFGHJKLMNPRSZ]."/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Added for 6-2-3     db 18/08/20    -->
	<xs:simpleType name="EthnicCategory2021_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  End of Addition   -->
	<xs:simpleType name="FirstAntenatalAssessmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="FirstAttendanceCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstRegularDayOrNightAdmissionCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitioner_AntenatalCare_Type">
		<xs:restriction base="ns:GMP_Code_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitioner_Specified_Type">
		<xs:restriction base="ns:GMP_Code_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralPractice_PatientRegistration_Type">
		<xs:restriction base="ns:PracticeCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GeneralMedicalPractitionerPractice_AntenatalCare_Type">
		<xs:restriction base="ns:PracticeCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GastroIntestinalSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GestationLength_Type">
		<xs:restriction base="ns:Number99NonNegative_Type">
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GestationLengthLabourOnset_Type">
		<xs:restriction base="ns:GestationLength_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GestationLengthAssessment_Type">
		<xs:restriction base="ns:GestationLength_Type"/>
	</xs:simpleType>
	<xs:simpleType name="GuaranteedAdmissionDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="HighCostDrugs_OPCS_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HospitalProviderSpellNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedClinicalCareIntensityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="81"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedManagementCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedProcedureStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntendedSiteCode_OfTreatment_Type">
		<xs:restriction base="ns:OrganisationSiteCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="InvestigationSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabourOrDeliveryOnsetMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastDNAOrPatientCancelledDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="LastEpisodeInSpellIndicatorCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalStatusClassificationCode_Type">
		<xs:restriction base="ns:Number99Positive_Type">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_AtCensusDate_Type">
		<xs:restriction base="ns:MentalHealthActLegalStatusClassificationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_OnAdmission_Type">
		<xs:restriction base="ns:MentalHealthActLegalStatusClassificationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthActLegalStatusClassificationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LiveOrStillBirthCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LiverSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="LocalPatientIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationClass_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActivityLocationType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
			<xs:enumeration value="A01"/>
			<xs:enumeration value="A02"/>
			<xs:enumeration value="A03"/>
			<xs:enumeration value="A04"/>
			<xs:enumeration value="B01"/>
			<xs:enumeration value="B02"/>
			<xs:enumeration value="C01"/>
			<xs:enumeration value="C02"/>
			<xs:enumeration value="C03"/>
			<xs:enumeration value="D01"/>
			<xs:enumeration value="D02"/>
			<xs:enumeration value="D03"/>
			<xs:enumeration value="E01"/>
			<xs:enumeration value="E02"/>
			<xs:enumeration value="E03"/>
			<xs:enumeration value="E04"/>
			<xs:enumeration value="E99"/>
			<xs:enumeration value="F01"/>
			<xs:enumeration value="G01"/>
			<xs:enumeration value="G02"/>
			<xs:enumeration value="G03"/>
			<xs:enumeration value="H01"/>
			<xs:enumeration value="J01"/>
			<xs:enumeration value="K01"/>
			<xs:enumeration value="K02"/>
			<xs:enumeration value="L01"/>
			<xs:enumeration value="L02"/>
			<xs:enumeration value="L03"/>
			<xs:enumeration value="L04"/>
			<xs:enumeration value="L05"/>
			<xs:enumeration value="L06"/>
			<xs:enumeration value="L99"/>
			<xs:enumeration value="M01"/>
			<xs:enumeration value="M02"/>
			<xs:enumeration value="M03"/>
			<xs:enumeration value="M04"/>
			<xs:enumeration value="M05"/>
			<xs:enumeration value="N01"/>
			<xs:enumeration value="N02"/>
			<xs:enumeration value="N03"/>
			<xs:enumeration value="N04"/>
			<xs:enumeration value="N05"/>
			<xs:enumeration value="X01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CareProfessionalMainSpecialtyCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="141"/>
			<xs:enumeration value="142"/>
			<xs:enumeration value="143"/>
			<xs:enumeration value="145"/>
			<xs:enumeration value="146"/>
			<xs:enumeration value="147"/>
			<xs:enumeration value="148"/>
			<xs:enumeration value="149"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="160"/>
			<xs:enumeration value="170"/>
			<xs:enumeration value="171"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="192"/>
			<xs:enumeration value="300"/>
			<xs:enumeration value="301"/>
			<xs:enumeration value="302"/>
			<xs:enumeration value="303"/>
			<xs:enumeration value="304"/>
			<xs:enumeration value="305"/>
			<xs:enumeration value="310"/>
			<xs:enumeration value="311"/>
			<xs:enumeration value="312"/>
			<xs:enumeration value="313"/>
			<xs:enumeration value="314"/>
			<xs:enumeration value="315"/>
			<xs:enumeration value="320"/>
			<xs:enumeration value="321"/>
			<xs:enumeration value="330"/>
			<xs:enumeration value="340"/>
			<xs:enumeration value="350"/>
			<xs:enumeration value="352"/>
			<xs:enumeration value="360"/>
			<xs:enumeration value="361"/>
			<xs:enumeration value="370"/>
			<xs:enumeration value="371"/>
			<xs:enumeration value="400"/>
			<xs:enumeration value="401"/>
			<xs:enumeration value="410"/>
			<xs:enumeration value="420"/>
			<xs:enumeration value="421"/>
			<xs:enumeration value="430"/>
			<xs:enumeration value="450"/>
			<xs:enumeration value="460"/>
			<xs:enumeration value="501"/>
			<xs:enumeration value="502"/>
			<xs:enumeration value="560"/>
			<xs:enumeration value="600"/>
			<xs:enumeration value="601"/>
			<xs:enumeration value="700"/>
			<xs:enumeration value="710"/>
			<xs:enumeration value="711"/>
			<xs:enumeration value="712"/>
			<xs:enumeration value="713"/>
			<xs:enumeration value="715"/>
			<xs:enumeration value="800"/>
			<xs:enumeration value="810"/>
			<xs:enumeration value="820"/>
			<xs:enumeration value="821"/>
			<xs:enumeration value="822"/>
			<xs:enumeration value="823"/>
			<xs:enumeration value="824"/>
			<xs:enumeration value="830"/>
			<xs:enumeration value="831"/>
			<xs:enumeration value="900"/>
			<xs:enumeration value="901"/>
			<xs:enumeration value="902"/>
			<xs:enumeration value="903"/>
			<xs:enumeration value="904"/>
			<xs:enumeration value="950"/>
			<xs:enumeration value="960"/>
			<xs:enumeration value="199"/>
			<xs:enumeration value="499"/>
			<xs:enumeration value="325"/>
			<xs:enumeration value="326"/>
			<xs:enumeration value="451"/>
			<xs:enumeration value="504"/>
			<xs:enumeration value="833"/>
			<xs:enumeration value="834"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MedicalStaffTypeSeeingPatient_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MentalHealthAct2007_MentalCategory_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NeonatalLevelOfCareCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NeurologicalSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NHSNumber_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHSServiceAgreementChangeDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NHSServiceAgreementLineNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfBabiesIndicationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfferedForAdmissionDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OperationStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationSiteCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="3"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationCode_PatientPathwayIdentifierIssuer_Type">
		<xs:restriction base="ns:ReferringOrganisationCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OrganSupportMaximum_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OriginalDecidedToAdmitDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OutcomeOfAttendanceCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientClassificationCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PatientPathwayIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonBirthDate_Type">
		<xs:restriction base="ns:DateOfBirth_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonBirthDate_Baby_Type">
		<xs:restriction base="ns:DateOfBirth_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCodeCurrent_Type">
		<xs:restriction base="ns:PersonGenderCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonGenderCodeCurrent_Baby_Type">
		<xs:restriction base="ns:PersonGenderCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PersonMaritalStatus_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="1"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonWeight_Type">
		<xs:restriction base="ns:Number999p999_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PostcodeOfUsualAddress_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="2"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PregnancyTotalPreviousPregnancies_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrimaryDiagnosis_ICD_Type">
		<xs:restriction base="ns:ICD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryDiagnosis_READ_Type">
		<xs:restriction base="ns:READ_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryProcedure_OPCS_Type">
		<xs:restriction base="ns:OPCS_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryProcedure_READ_Type">
		<xs:restriction base="ns:READ_Type"/>
	</xs:simpleType>
	<xs:simpleType name="PriorityTypeCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcedureDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ProcedureSchemeInUse_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Procedure_OPCS_Type">
		<xs:restriction base="ns:OPCS_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Procedure_READ_Type">
		<xs:restriction base="ns:READ_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ProviderReferenceNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PsychiatricPatientStatusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferralRequestReceivedDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_EndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_StartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReferralToTreatmentPeriod_Status_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RenalSupportDays_Type">
		<xs:restriction base="ns:Number999NonNegative_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ResuscitationMethodCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SecondaryDiagnosis_ICD_Type">
		<xs:restriction base="ns:ICD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="SecondaryDiagnosis_READ_Type">
		<xs:restriction base="ns:READ_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ServiceTypeRequestedCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SexOfPatientsCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteCodeOfTreatment_Type">
		<xs:restriction base="ns:OrganisationSiteCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="SourceOfAdmissionCode_HospitalProviderSpell_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceOfReferralForAAndE_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="00"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SourceOfReferralForOut_Patients_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="97"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate_Episode_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StatusOfPatientIncludedInThePsychiatricCensusCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusOfPersonConductingDeliveryCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SuspensionStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="SuspensionEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ActivityTreatmentFunctionCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="3"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="102"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="106"/>
			<xs:enumeration value="107"/>
			<xs:enumeration value="108"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="130"/>
			<xs:enumeration value="140"/>
			<xs:enumeration value="141"/>
			<xs:enumeration value="142"/>
			<xs:enumeration value="143"/>
			<xs:enumeration value="144"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="160"/>
			<xs:enumeration value="161"/>
			<xs:enumeration value="170"/>
			<xs:enumeration value="171"/>
			<xs:enumeration value="172"/>
			<xs:enumeration value="173"/>
			<xs:enumeration value="174"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="190"/>
			<xs:enumeration value="191"/>
			<xs:enumeration value="192"/>
			<xs:enumeration value="199"/>
			<xs:enumeration value="211"/>
			<xs:enumeration value="212"/>
			<xs:enumeration value="213"/>
			<xs:enumeration value="214"/>
			<xs:enumeration value="215"/>
			<xs:enumeration value="216"/>
			<xs:enumeration value="217"/>
			<xs:enumeration value="218"/>
			<xs:enumeration value="219"/>
			<xs:enumeration value="220"/>
			<xs:enumeration value="221"/>
			<xs:enumeration value="222"/>
			<xs:enumeration value="223"/>
			<xs:enumeration value="241"/>
			<xs:enumeration value="242"/>
			<xs:enumeration value="251"/>
			<xs:enumeration value="252"/>
			<xs:enumeration value="253"/>
			<xs:enumeration value="254"/>
			<xs:enumeration value="255"/>
			<xs:enumeration value="256"/>
			<xs:enumeration value="257"/>
			<xs:enumeration value="258"/>
			<xs:enumeration value="259"/>
			<xs:enumeration value="260"/>
			<xs:enumeration value="261"/>
			<xs:enumeration value="262"/>
			<xs:enumeration value="263"/>
			<xs:enumeration value="264"/>
			<xs:enumeration value="280"/>
			<xs:enumeration value="290"/>
			<xs:enumeration value="291"/>
			<xs:enumeration value="300"/>
			<xs:enumeration value="301"/>
			<xs:enumeration value="302"/>
			<xs:enumeration value="303"/>
			<xs:enumeration value="304"/>
			<xs:enumeration value="305"/>
			<xs:enumeration value="306"/>
			<xs:enumeration value="307"/>
			<xs:enumeration value="308"/>
			<xs:enumeration value="309"/>
			<xs:enumeration value="310"/>
			<xs:enumeration value="311"/>
			<xs:enumeration value="313"/>
			<xs:enumeration value="314"/>
			<xs:enumeration value="315"/>
			<xs:enumeration value="316"/>
			<xs:enumeration value="317"/>
			<xs:enumeration value="318"/>
			<xs:enumeration value="319"/>
			<xs:enumeration value="320"/>
			<xs:enumeration value="321"/>
			<xs:enumeration value="322"/>
			<xs:enumeration value="323"/>
			<xs:enumeration value="324"/>
			<xs:enumeration value="325"/>
			<xs:enumeration value="327"/>
			<xs:enumeration value="328"/>
			<xs:enumeration value="329"/>
			<xs:enumeration value="330"/>
			<xs:enumeration value="331"/>
			<xs:enumeration value="340"/>
			<xs:enumeration value="341"/>
			<xs:enumeration value="342"/>
			<xs:enumeration value="343"/>
			<xs:enumeration value="344"/>
			<xs:enumeration value="345"/>
			<xs:enumeration value="346"/>
			<xs:enumeration value="350"/>
			<xs:enumeration value="352"/>
			<xs:enumeration value="360"/>
			<xs:enumeration value="361"/>
			<xs:enumeration value="370"/>
			<xs:enumeration value="371"/>
			<xs:enumeration value="400"/>
			<xs:enumeration value="401"/>
			<xs:enumeration value="410"/>
			<xs:enumeration value="420"/>
			<xs:enumeration value="421"/>
			<xs:enumeration value="422"/>
			<xs:enumeration value="424"/>
			<xs:enumeration value="430"/>
			<xs:enumeration value="450"/>
			<xs:enumeration value="460"/>
			<xs:enumeration value="499"/>
			<xs:enumeration value="501"/>
			<xs:enumeration value="502"/>
			<xs:enumeration value="503"/>
			<xs:enumeration value="560"/>
			<xs:enumeration value="650"/>
			<xs:enumeration value="651"/>
			<xs:enumeration value="652"/>
			<xs:enumeration value="653"/>
			<xs:enumeration value="654"/>
			<xs:enumeration value="655"/>
			<xs:enumeration value="656"/>
			<xs:enumeration value="657"/>
			<xs:enumeration value="658"/>
			<xs:enumeration value="659"/>
			<xs:enumeration value="660"/>
			<xs:enumeration value="661"/>
			<xs:enumeration value="662"/>
			<xs:enumeration value="663"/>
			<xs:enumeration value="700"/>
			<xs:enumeration value="710"/>
			<xs:enumeration value="711"/>
			<xs:enumeration value="712"/>
			<xs:enumeration value="713"/>
			<xs:enumeration value="715"/>
			<xs:enumeration value="720"/>
			<xs:enumeration value="721"/>
			<xs:enumeration value="722"/>
			<xs:enumeration value="723"/>
			<xs:enumeration value="724"/>
			<xs:enumeration value="725"/>
			<xs:enumeration value="726"/>
			<xs:enumeration value="727"/>
			<xs:enumeration value="800"/>
			<xs:enumeration value="811"/>
			<xs:enumeration value="812"/>
			<xs:enumeration value="822"/>
			<xs:enumeration value="834"/>
			<xs:enumeration value="840"/>
			<xs:enumeration value="920"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UBRN_Converted_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaitingListEntryLastReviewedDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WardDayPeriodAvailabilityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WardNightPeriodAvailabilityCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthOfStayAdjustment_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:maxInclusive value="999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthOfStayAdjustmentReason_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConsultationMediumUsed_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WardSecurityLevel_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaitingTimeMeasurementType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClinicCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WardCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartTime_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DischargeTime_HospitalProviderSpell_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEInitialAssessmentDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEDateSeenForTreatment_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEAttendanceConclusionDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="AAndEDepartureDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="WithheldIdentityReason_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AppointmentTime_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="StartTime_Episode_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="EndTime_Episode_Type">
		<xs:restriction base="ns:Time_Type"/>
	</xs:simpleType>
	<xs:simpleType name="MultiProfOrDiscIndCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DirectAccessReferralIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PresentOnAdmissionIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DischargedToHospitalAtHomeServiceIndicator_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmbulanceIncidentNumber_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationCodeConveyingAmbulanceTrust_Type">
		<xs:restriction base="ns:OrgCode_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ExpectedDurationOfAppointment_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarliestClinicallyAppropriateDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusClassificationAtCDSActivityDate_Type">
		<xs:restriction base="ns:OverseasVisitorClassification_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorClassification_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusStartDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OverseasVisitorStatusEndDate_Type">
		<xs:restriction base="ns:Date_Type"/>
	</xs:simpleType>
	<xs:simpleType name="sequenceNumber_Type">
		<xs:restriction base="ns:Integer_Type">
			<xs:minExclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProfessionalRegistrationIssuerCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="2"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProfessionalRegistrationEntryIdentifier_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocalSubSpecialtyCode_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RehabilitationAssessmentTeamType_Type">
		<xs:restriction base="ns:AlphaNumeric_Type">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
