GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/search/RequestedMatchedObjectDescriptorType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="RequestedMatchedObjectDescriptorType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ParameterTypeArray.xsd" />
  <xsd:complexType name="RequestedMatchedObjectDescriptorType">
    <xsd:annotation>
      <xsd:documentation>Type to define a matched object descriptor, which is used to define the fields from the matching results to be returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="propertyPath">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Path of the property that should be returned.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="options" type="hropen:ParameterTypeArray">
        <xsd:annotation>
          <xsd:documentation>Further parameters. May include other information relevant for property data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="RequestedMatchedObjectDescriptor" type="hropen:RequestedMatchedObjectDescriptorType" />
</xsd:schema>