GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/communication/EmailTypeArray.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="EmailTypeArray" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="CommunicationItemInclusion.xsd" />
    <xsd:include schemaLocation="EmailType.xsd" />
    <xsd:complexType name="EmailTypeArray">
        <xsd:annotation>
            <xsd:documentation>Array of email information details.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="1" maxOccurs="1" name="address">
                            <xsd:simpleType>
                                <xsd:annotation>
                                    <xsd:documentation>Actual email address</xsd:documentation>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string" />
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="name">
                            <xsd:simpleType>
                                <xsd:annotation>
                                    <xsd:documentation>Provide description for particular communication item</xsd:documentation>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string" />
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="useCode" type="hropen:CodeType">
                            <xsd:annotation>
                                <xsd:documentation>Code identifying the usage of the contact point e.g. business, private, etc.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="preference">
                            <xsd:simpleType>
                                <xsd:annotation>
                                    <xsd:documentation>Provide priority for given communication item</xsd:documentation>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:integer" />
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="availablePeriod" type="hropen:DateTimePeriodType" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EmailArray" type="hropen:EmailTypeArray" />
</xsd:schema>