GeneratedSchemaLibraries/UK CabinetOffice/Valuebill/ValuebillBAtoVOA-v4-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Changes 3.1c to 4.0 (Second maintenance releaset) 
		Updated to use VBcore-v4-0, VBcore-v4-0 and VBcommon-v4-0 (inplace of LeGovCore)

	Changes 3.1 to 3.1c (Second maintenance release - Initial Draft) 
		As per VOA Change Request Oct.2005
			Element names <PreviousAssessments> and <ProposedAssessments> changed to <ExistingEntries> and <ProposedEntries>
			Either or both rule enforced for Existing and Proposed Entries elements
		As per VOA Change Request Oct.2005
			<OccupierContact> element included as part of <BApropertySplitMergeStructure> so that contact details can be supplied for each identified property
		Updated to use VBcodes-v3-1c and VBcore-v3-1c
		Updated to use LeGovCore-v0-3 - Generic Common Components Schema
		Also updated to use v2-0 of AddressTypes and BS7666 schemas and PersonDescriptives schema
		Metadata updated to eGMS-v3-0

	Changes 3.0 to 3.1 (First maintenance release)
		Updated to use VBcore-v3-1 and VBcodes-v3-1
		Duplicate import specifications for AddressTypes, BS7666 and CommonSimpleTypes schemas added as work-around for differing parsers

	Final Project Version 3.0 issued (no change from 2.0c)

	Changes 2.0a to 2.0c (no change at v-2-0b)
		Updated to include version 2.0c of VbCore and VbCodes supporting schemas
		<PropertyDescription> elements moved to form part of the individual property identification so as to enable description of individual split/merged properties

	Changes 2.0 to 2.0a incorporating GovTalk consultation
		Updated to include version 2.0a of VbCore and VbCodes supporting schemas
		VbCodes schema now included indirectly via VBCore to avoid problem with inclusion of multiple schema with same NameSpace
		Organisation contact name added as alternative to personal contact name

	Version 2.0 issued for pilot operation and GovTalk consultation
	
	Changes 1.1a to 1.1b incorporating VOA feedback on V 1.1a
		Updated to refer to version 1.1b of VbCore and VbCodes 
		Property Description structure updated
		Existing Ctax Band / Rateable Value now associated with the individual property identities

	Version 1.1a incorporating changes agreed with VOA 30/04/04 -->
<xsd:schema xmlns:LGcore="http://www.govtalk.gov.uk/LG/core" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:bs7666="http://www.govtalk.gov.uk/people/bs7666" xmlns:apd="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns:pdt="http://www.govtalk.gov.uk/people/PersonDescriptives" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.govtalk.gov.uk/LG/Valuebill" targetNamespace="http://www.govtalk.gov.uk/LG/Valuebill" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4-0" id="VbBAtoVOA">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/metadata/egms">
				<Contributor Href="mailto:govtalk@cabinet-office.gsi.gov.uk">Technology Policy Team, e-Government Unit</Contributor>
				<Contributor Href="mailto:valuebill@tuckwood.co.uk">Valuebill Project, Project Manager - Barry Tuckwood</Contributor>
				<Creator Href="mailto:bay@egic.ltd.uk">Bruce Yeoman, EGiC</Creator>
				<Created>2004-01-17</Created>
				<Modified>2004-06-10</Modified>
				<Modified>2004-12-12</Modified>
				<Modified>2005-02-22</Modified>
				<Modified>2006-01-24</Modified>
				<Description>Schema for Billing Authority Council Tax and Non-Domestic Rates Reports</Description>
				<Review>2006-04-01</Review>
				<Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
				<Identifier>VbBAtoVOA</Identifier>
				<Identifier Href="http://www.govtalk.gov.uk/LG/Valuebill/ValuebillBAtoVOA-v4-0.xsd">ValuebillBAtoVOA-v4-0</Identifier>
				<Language codeListID="ISO639-2">eng</Language>
				<Publisher Href="mailto:valuebill@tuckwood.co.uk">Valuebill Project</Publisher>
				<ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">BApropertyReport</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">AssessmentProperties</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">BApropertySplitMergeStructure</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">BAreportBodyStructure</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">CouncilTaxReportStructure</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">NNDRreportStructure</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">BAreports</ProvidesDefinitionOf>
				<HasPart>VBcore-v4-0.xsd</HasPart>
				<HasPart>VBcodes-v4-0.xsd</HasPart>
				<HasPart>VBcommon-v4-0.xsd</HasPart>
				<!--				<Requires>http://www.govtalk.gov.uk/LG/core/LeGovCore-v0-3.xsd</Requires>-->
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/AddressTypes-v2-0.xsd</Requires>
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/bs7666-v2-0.xsd</Requires>
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/CommonSimpleTypes-v1-3.xsd</Requires>
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/PersonalDetailsTypes-v1-3.xsd</Requires>
				<Copyright>Crown Copyright 2004, 2005</Copyright>
				<ProtectiveMarking>Unclassified</ProtectiveMarking>
				<Status>draft</Status>
				<StatusDescription>Maintenance Release for Consultation</StatusDescription>
				<Version>3-1d</Version>
				<Category codeListID="GCL">People, communities and living; Local Taxes</Category>
				<Project>Valuebill National Project</Project>
				<Title>Valuebill BA to VOA Report Schema</Title>
				<Type>message</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="VBcore-v4-0.xsd"/>
	<!--<xsd:include schemaLocation="VBcodes-v3-1d.xsd"/>
	<xsd:include schemaLocation="VBcommon-v3-1d.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="PersonalDetailsTypes-v1-3.xsd"/>-->
	<xsd:annotation>
		<xsd:documentation>Additional duplicated import specifications added to handle problems with differing interpretation by parsers</xsd:documentation>
	</xsd:annotation>
	<!--	<xsd:import namespace="http://www.govtalk.gov.uk/LG/core" schemaLocation="LeGovCore-v0-3.xsd"/>-->
	<xsd:import namespace="http://www.govtalk.gov.uk/core" schemaLocation="CommonSimpleTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="AddressTypes-v2-0.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/bs7666" schemaLocation="BS7666-v2-0.xsd"/>
	<!--<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="ContactTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="CitizenIdentificationTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/PersonDescriptives" schemaLocation="PersonDescriptiveTypes-v1-1.xsd"/>-->
	<!-- start of Header & Trailer definition -->
	<xsd:complexType name="ReportHeaderStructure">
		<xsd:annotation>
			<xsd:documentation>Indicates start of record transfer set and provides common information about source and creation of the record set</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BillingAuthority">
				<xsd:simpleType>
					<xsd:restriction base="core:RestrictedStringType">
						<xsd:maxLength value="60"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BillingAuthorityIdentityCode" type="BAidentityNumberType">
				<xsd:annotation>
					<xsd:documentation>This is the DETR/ODPM supplied four digit code</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessDate" type="xsd:date"/>
			<xsd:element name="EntryDateTime" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportTrailerStructure">
		<xsd:annotation>
			<xsd:documentation>Indicates termination of the transfer record set with a time stamp and record count for audit and integrity checks</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RecordCount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EntryDateTime" type="xsd:dateTime"/>
			<xsd:element name="TotalNNDRreportCount" type="xsd:integer"/>
			<xsd:element name="TotalCtaxReportCount" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of Header & Trailer definition -->
	<!-- start of record types-->
	<xsd:complexType name="CouncilTaxReportStructure">
		<xsd:annotation>
			<xsd:documentation>Council Tax Report</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonForReport">
				<xsd:annotation>
					<xsd:documentation>Change code as in VOA Technical Circular 9th Edition </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType/>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NNDRreportStructure">
		<xsd:annotation>
			<xsd:documentation>NNDR Report</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonForReport">
				<xsd:annotation>
					<xsd:documentation>Change code as in VOA Technical Circular 9th Edition </xsd:documentation>
				</xsd:annotation>
				<xsd:complexType/>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BApropertySplitMergeStructure">
		<xsd:annotation>
			<xsd:documentation>A group of property identities which indicate the properties into which the subject of the report is to be split OR the properties to be merged into the subject of the report</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AssessmentProperties" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PropertyIdentity" type="BApropertyIdentificationStructure"/>
						<xsd:element name="PropertyDescription" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Individual description of each assessment property in the group - PropertyDescriptionText is optionally available to Ctax and NNDR reports - in addition, NNDR requires coded description if available</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PrimaryDescriptionCode" type="NndrPrimaryDescriptionCodeStructure" minOccurs="0"/>
									<xsd:element name="SecondaryDescriptionCode" type="NndrSecondaryDescriptionCodeStructure" minOccurs="0"/>
									<xsd:element name="PropertyDescriptionText" type="core:PopulatedStringType" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="CurrentTax" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Current tax assessment included if known because re-assement of existing hereditament / dwelling</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="CouncilTaxBand" type="BandType"/>
									<xsd:element name="RateableValue">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:restriction base="MonetaryStructure">
													<xsd:minInclusive value="1"/>
												</xsd:restriction>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="OccupierContact" type="OccupierContactStructure" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Occupier contact details for each property if available</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Remarks" type="core:PopulatedStringType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Information about splits and mergers should be included here </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--end of record types-->
	<xsd:complexType name="BAreportBodyStructure">
		<xsd:sequence>
			<xsd:element name="DateSent" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Date that the update record is sent by the Billing Authority</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionIdentityBA" type="TransactionIdentityType"/>
			<xsd:element name="BAidentityNumber" type="BAidentityNumberType">
				<xsd:annotation>
					<xsd:documentation>The four digit LA reference issued by DETR/ODPM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BAreportNumber">
				<xsd:simpleType>
					<xsd:restriction base="core:RestrictedStringType">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TypeOfTax">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="CtaxReasonForReport">
							<xsd:annotation>
								<xsd:documentation>This is a Council Tax Report</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ReasonForReportCode" type="CtaxReasonForReportCodeStructure">
										<xsd:annotation>
											<xsd:documentation>Change code as in VOA Technical Circular</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ReasonForReportDescription" type="core:PopulatedStringType" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="NNDRreasonForReport">
							<xsd:annotation>
								<xsd:documentation>This is a Non-Domestic Rates report</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ReasonForReportCode" type="NndrReasonForReportCodeStructure">
										<xsd:annotation>
											<xsd:documentation>Change code as in VOA Technical Circular</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="ReasonForReportDescription" type="core:PopulatedStringType" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:annotation>
					<xsd:documentation>Either one or both of Existing and Proposed Entries must be present - covering cases for Insert, Delete or Change</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ExistingEntries" type="BApropertySplitMergeStructure">
						<xsd:annotation>
							<xsd:documentation>The address or addresses that unambiguously identify:
- the property(s) from which the subject(s) of the assessment/banding have been split or merged, 
- the property(s) for which the assessment/banding is to be deleted from the list
- or, in the case of a change of address, the previous address.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ProposedEntries" type="BApropertySplitMergeStructure" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>The address or addresses which unambiguously identify the property(s) to be assessed/banded. These should be structured BS7666 address(s) and UPRN(s) but in the pilot stage a text address(s) will also be accepted</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="ProposedEntries" type="BApropertySplitMergeStructure">
					<xsd:annotation>
						<xsd:documentation>The address or addresses which unambiguously identify the property(s) to be assessed/banded. These should be structured BS7666 address(s) and UPRN(s) but in the pilot stage a text address(s) will also be accepted</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="IndicatedDateOfChange" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Date indicated for the change in property use/occupation to become effective</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PropertyPlanReferenceNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference number of property plan, if any, accompanying the report</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="core:PopulatedStringType">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SourceOfUpdate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Source of update information if known</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="core:PopulatedStringType">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Remarks" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="core:PopulatedStringType">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BAreports">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="BAreportHeader" type="ReportHeaderStructure"/>
				<xsd:element name="BApropertyReport" type="BAreportBodyStructure" maxOccurs="unbounded"/>
				<xsd:element name="BAreportTrailer" type="ReportTrailerStructure"/>
			</xsd:sequence>
			<xsd:attribute name="SchemaId" type="xsd:string" use="required"/>
			<xsd:attribute name="SchemaVersion" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
