GeneratedSchemaLibraries/UK CabinetOffice/Valuebill/VBcore-v4-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Changes 3.1c to 4.0 (Second maintenance release)
		LeGovCore schema replaced by VBcommon-v4-0 to provide similar arcitectural support pending publication of the LeGovCore schema
		Updated to use VBcodes-v4-0

	Changes 3.1 to 3.1c (Second maintenance release - Initial Draft) 
		Updated to use VBcodes-v3-1c
		Updated to use LeGovCore-v0-3 - Generic Common Components Schema
		This also requires use of v2-0 of AddressTypes and BS7666 schemas and PersonDescriptives schema
		Metadata updated to eGMS-v3-0

	Changes 3.0 to 3.1 (First maintenance release)
		Updated to use VBcodes-v3-1
		Elements of <VOdescriptiveAddressStructure> redefined as individual elements (not linked to BS7666 types)
		Duplicate import specifications for BS7666 and CommonSimpleTypes schemas added as work-around for differing parsers

	Final Project Version 3.0 issued (no change from 2.0c)

	Changes 2.0a to 2.0c (no change at v-2-0b)   
		Updated to use VBcodes-v2-0c and AddressTypes-v1-3c
		Enumeration value of '1990' for <ListYearType> changed to '1993'
		<VoPostcode> extended to differentiate between full and partial Postcode
	
	Changes 2.0 to 2.0a incorporating GovTalk consultation
		Updated to import BS7666-v1-3b via AddressTypes-v1-3b
		OrganisationNameType added as per GDSC entry
		VbCodes-v2-0a included so as to be available to main schemas to avoid problem with inclusion of multiple schema with same NameSpace

	Version 2.0 issued for pilot operation and GovTalk consultation
	
	Changes 1.1a to 1.1b incorporating VOA feedback on V 1.1a
		Additional C.Tax Band "I" added
		<VOAcaseNumberType> made mandatory - zero value not allowed
		 
	Version 1.1a incorporating changes agreed with VOA 30/04/04 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.govtalk.gov.uk/LG/Valuebill" xmlns:LGcore="http://www.govtalk.gov.uk/LG/core" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:bs7666="http://www.govtalk.gov.uk/people/bs7666" xmlns:apd="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns:pdt="http://www.govtalk.gov.uk/people/PersonDescriptives" targetNamespace="http://www.govtalk.gov.uk/LG/Valuebill" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4-0" id="VbCore">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/metadata/egms">
				<Contributor Href="mailto:govtalk@cabinet-office.gsi.gov.uk">Technology Policy Team, e-Government Unit</Contributor>
				<Contributor Href="mailto:valuebill@tuckwood.co.uk">Valuebill Project, Project Manager - Barry Tuckwood</Contributor>
				<Creator Href="mailto:bay@egic.ltd.uk">Bruce Yeoman, EGiC</Creator>
				<Created>2004-01-16</Created>
				<Modified>2004-06-10</Modified>
				<Modified>2004-12-12</Modified>
				<Modified>2005-02-22</Modified>
				<Modified>2006-01-24</Modified>
				<Description>Schema to support core data types for Valuebill</Description>
				<Review>2006-04-01</Review>
				<Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
				<Identifier>VBcore</Identifier>
				<Identifier Href="http://www.govtalk.gov.uk/LG/Valuebill/VBcore-v4-0.xsd">VBcore-v4-0</Identifier>
				<Language codeListID="ISO639-2">eng</Language>
				<Publisher Href="mailto:valuebill@tuckwood.co.uk">Valuebill Project</Publisher>
				<ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">CommunityDescriptionStructure</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">BAidentityNumberType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">CouncilTaxOrNNDRflagType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">ListYearType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">OccupancyIndicatorType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">SCATcodeType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">TaxListType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">TransactionIdentityType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">TransitionIndicatorType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">VOAcaseNumberType</ProvidesDefinitionOf>
				<ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/LG/Valuebill">VOApropertyReferenceType</ProvidesDefinitionOf>
				<HasPart>VBcodes-v4-0.xsd</HasPart>
				<HasPart>VBcommon-v4-0.xsd</HasPart>
				<!--				<Requires>http://www.govtalk.gov.uk/LG/core/LeGovCore-v0-3.xsd</Requires>-->
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/AddressTypes-v2-0.xsd</Requires>
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/bs7666-v2-0.xsd</Requires>
				<Requires>http://www.govtalk.gov.uk/gdsc/schemas/CommonSimpleTypes-v1-3.xsd</Requires>
				<Copyright>Crown Copyright 2004, 2005</Copyright>
				<ProtectiveMarking>Unclassified</ProtectiveMarking>
				<Status>draft</Status>
				<StatusDescription>Maintenance Release for Consultation</StatusDescription>
				<Version>4-0</Version>
				<Category codeListID="GCL">People, communities and living; Local Taxes</Category>
				<Project>Valuebill National Project</Project>
				<Title>Valuebill Core Data Types</Title>
				<Type>message support</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="VBcodes-v4-0.xsd"/>
	<xsd:include schemaLocation="VBcommon-v4-0.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="AddressTypes-v2-0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Additional duplicated import specifications added to handle problems with differing interpretation by parsers</xsd:documentation>
	</xsd:annotation>
	<!--	<xsd:import namespace="http://www.govtalk.gov.uk/LG/core" schemaLocation="LeGovCore-v0-3.xsd"/>-->
	<xsd:import namespace="http://www.govtalk.gov.uk/core" schemaLocation="CommonSimpleTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/bs7666" schemaLocation="BS7666-v2-0.xsd"/>
	<xsd:simpleType name="BAidentityNumberType">
		<xsd:annotation>
			<xsd:documentation>The four digit LA reference issued by DETR/ODPM</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LAidentityNumberType"/>
	</xsd:simpleType>
	<xsd:simpleType name="VOAcaseNumberType">
		<xsd:annotation>
			<xsd:documentation>Case number as assigned by VOA - this should be mandatory but zero value permitted as temporary measure (for CT NoAction updates)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="99999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxListType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether the list is draft, compiled or shadow</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:PopulatedStringType">
			<xsd:enumeration value="draft"/>
			<xsd:enumeration value="compiled"/>
			<xsd:enumeration value="shadow"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ListYearType">
		<xsd:annotation>
			<xsd:documentation>Indicates Tax List Year - mandatory for NNDR optional for Ctax as not used yet</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gYear">
			<xsd:enumeration value="1993"/>
			<xsd:enumeration value="1995"/>
			<xsd:enumeration value="2000"/>
			<xsd:enumeration value="2005"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CouncilTaxOrNNDRflagType">
		<xsd:annotation>
			<xsd:documentation>Flag to indicate whether message relates to Council Tax (ctax) or Non-Domestic Rates (nndr)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
			<xsd:enumeration value="ctax"/>
			<xsd:enumeration value="nndr"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionIdentityType">
		<xsd:annotation>
			<xsd:documentation>Unique identity assigned to each report transaction for audit/system integrity</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:RestrictedStringType">
			<xsd:minLength value="5"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SCATcodeType">
		<xsd:restriction base="core:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CommunityDescriptionStructure">
		<xsd:sequence>
			<xsd:element name="CommunityCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="core:RestrictedStringType">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CommunityDescriptionText" type="core:PopulatedStringType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TransitionIndicatorType">
		<xsd:annotation>
			<xsd:documentation>'Y' indicates that provisions of the Transitional scheme apply - 'L' indicates informative letter sent</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="L"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OccupancyIndicatorType">
		<xsd:annotation>
			<xsd:documentation>Indicates whether singular or composite occupancy i.e. partially domestic/commercial</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
			<xsd:enumeration value="composite"/>
			<xsd:enumeration value="singular"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
