GeneratedSchemaLibraries/UK CabinetOffice/PlanningPortalSchemaDocDevelopment/mdcesv02.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "mdcesv02.xsd"
	 xmlns:mdc = "mdcesv02.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "">
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	<element name = "DublinCoreElementSet">
		<complexType>
			<sequence>
				<element ref = "mdc:Title"/>
				<element ref = "mdc:Creator"/>
				<element ref = "mdc:Subject" maxOccurs = "unbounded"/>
				<element ref = "mdc:Description"/>
				<element ref = "mdc:Publisher"/>
				<element ref = "mdc:Contributor" maxOccurs = "unbounded"/>
				<element ref = "mdc:Date"/>
				<element ref = "mdc:Type" maxOccurs = "unbounded"/>
				<element ref = "mdc:Format"/>
				<element ref = "mdc:Identifier"/>
				<element ref = "mdc:Source"/>
				<element ref = "mdc:Language"/>
				<element ref = "mdc:Relation" maxOccurs = "unbounded"/>
				<element ref = "mdc:Coverage" maxOccurs = "unbounded"/>
				<element ref = "mdc:Rights"/>
			</sequence>
		</complexType>
	</element>
	<element name = "Title" type = "string"/>
	<element name = "Creator" type = "string"/>
	<element name = "Subject" type = "string"/>
	<element name = "Description" type = "string"/>
	<element name = "Publisher" type = "string"/>
	<element name = "Contributor" type = "string"/>
	<element name = "Date" type = "date"/>
	<element name = "Type" type = "string"/>
	<element name = "Format" type = "string"/>
	<element name = "Identifier" type = "string"/>
	<element name = "Source" type = "string"/>
	<element name = "Language" type = "language" default = "en"/>
	<element name = "Relation" type = "string"/>
	<element name = "Coverage" type = "string"/>
	<element name = "Rights" type = "string"/>
</schema>