LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Compensation/xml/SalarySurveySubmissionType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="SalarySurveySubmissionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ShiftCompensationType.xsd" />
  <xsd:include schemaLocation="RewardType.xsd" />
  <xsd:include schemaLocation="../../common/xml/work/DeploymentType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IdentifierType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/DateType.xsd" />
  <xsd:include schemaLocation="LongTermIncentivePlanType.xsd" />
  <xsd:include schemaLocation="MatchType.xsd" />
  <xsd:complexType name="SalarySurveySubmissionItem">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="match" type="hropen:MatchType">
        <xsd:annotation>
          <xsd:documentation>An indication by the participating organization that specifies the match accuracy (strength) of their job vs. the survey job. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="hireDate" type="hropen:DateType">
        <xsd:annotation>
          <xsd:documentation>The date the person was hired.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="deployment">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The position a person currently holds. This may include details on the job, location, compensation, and other related information.</xsd:documentation>
          </xsd:annotation>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="deploymentId" type="hropen:IdentifierType">
              <xsd:annotation>
                <xsd:documentation>Provides a unique identifier to a specific deployment. This may be used when a person has multiple deployments within an organization. For example, a coach and math teacher at a school.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="workerAssignmentSource" type="hropen:WorkerAssignmentSourceType">
              <xsd:annotation>
                <xsd:documentation>Defines the source of the worker and related assignment.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="workLocation" type="hropen:WorkLocationType">
              <xsd:annotation>
                <xsd:documentation>The location of the workers assignment.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="communication" type="hropen:CommunicationType">
              <xsd:annotation>
                <xsd:documentation>Contact information, such as phone, address, etc. for the organization.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="resourceRelationshipCode" type="hropen:ResourceRelationshipCodeList">
              <xsd:annotation>
                <xsd:documentation>Describes the relationship between the employer and worker, e.g. Employee, Vendor Employee.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="organizationIds">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="job" type="hropen:JobType">
              <xsd:annotation>
                <xsd:documentation>Represents the specific job (position) at an organization and related identifiers and classifications.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="position" type="hropen:PositionType">
              <xsd:annotation>
                <xsd:documentation>Defines a position and related identifiers.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="scheduledHours" type="hropen:RateType">
              <xsd:annotation>
                <xsd:documentation>Do Not Use. This property will be removed in the next major release. Please use ScheduleHours property instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="scheduleHours" type="hropen:QuantityType">
              <xsd:annotation>
                <xsd:documentation>The hours a person is scheduled to work.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="workSchedule" type="hropen:ScheduleType">
              <xsd:annotation>
                <xsd:documentation>The schedule a person is planned to work.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="assignmentReasonCode" type="hropen:AssignmentReasonCodeList">
              <xsd:annotation>
                <xsd:documentation>The reason a person is assigned to the position, e.g. Hire, Transfer, Promotion, etc.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="fullTimeEquivalentRatio" type="hropen:RatioType">
              <xsd:annotation>
                <xsd:documentation>The number of total hours worked divided by the maximum number of compensable hours in a full-time schedule as defined by law.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="effectivePeriod" type="hropen:EffectiveTimePeriodType">
              <xsd:annotation>
                <xsd:documentation>The period the deployment is effective.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="employeeReportingCode" type="hropen:CodeType">
              <xsd:annotation>
                <xsd:documentation>Deprecated. Do Not Use. Use the employeeReportingCodes array instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="employeeReportingCodes">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Allows further classification of the employee using employer or program-specific codes and controlled vocabularies. This information may be collected to use for return reporting back to the employer.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:EmployeeReportingCodeType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="securityTag" type="hropen:IdentifierType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="specialClassifications">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>A special classification of the Employee.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:SpecialClassificationType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="specialProvisions">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Any special provisions for the Employee.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="wageHourLawCoverageCountryCode" type="hropen:CountryCodeList">
              <xsd:annotation>
                <xsd:documentation>The country the wage hour laws pertain to.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="wageHourLawCoverageIndicator" type="hropen:IndicatorType">
              <xsd:annotation>
                <xsd:documentation>This determines if a person is covered by wage hour laws. In the US, a person would be considered non-exempt if the indicator is true (they are covered under the law).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="laborBargainingUnitIndicator" type="hropen:IndicatorType">
              <xsd:annotation>
                <xsd:documentation>Indicates if the person is part of a labor bargaining unit, such as a union.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="laborBargainingUnitCode" type="hropen:CodeType">
              <xsd:annotation>
                <xsd:documentation>Code of the labor bargaining unit; e.g. Unison.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="laborBargainingUnitMemberId" type="hropen:IdentifierType">
              <xsd:annotation>
                <xsd:documentation>The person's id within the labor bargaining unit.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="newHireProbationaryIndicator" type="hropen:IndicatorType">
              <xsd:annotation>
                <xsd:documentation>Indicates if the person is a new hire.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="newHireProbationaryDuration" type="hropen:DurationType">
              <xsd:annotation>
                <xsd:documentation>The length of the probation for the new hire; e.g. Hire is on probation for three months from start date.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="organization" type="hropen:OrganizationType">
              <xsd:annotation>
                <xsd:documentation>The organization the person is working for.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="license" type="hropen:LicenseType">
              <xsd:annotation>
                <xsd:documentation>Deprecated. Do Not Use. Use the licenses array instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="licenses">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Any licenses the person carries for the related position.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:LicenseType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="certification" type="hropen:CertificationType">
              <xsd:annotation>
                <xsd:documentation>Deprecated. Do Not Use. Use the certifications array instead.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="certifications">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Any certifications the person carries for the related position.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:CertificationType" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="statusCode">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Active" />
                  <xsd:enumeration value="Inactive" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="statusEffectiveDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>The status effective date of this deployment.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="intervalCode" type="hropen:PayRateIntervalCodeList">
              <xsd:annotation>
                <xsd:documentation>The frequency at which an earning is 'earned'. E.g. how often the worker is paid the associated earning.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="employeeRecordIdentifier" type="hropen:IdentifierType">
              <xsd:annotation>
                <xsd:documentation>Random number assigned by the participating company, that can not be connected to the system of record and is assigned exclusively for the salary survey.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="shiftCompensation" type="hropen:ShiftCompensationType">
              <xsd:annotation>
                <xsd:documentation>Premium pay for working a 2nd or 3rd shift.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="reward">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" type="hropen:RewardType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="longTermIncentivePlan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:LongTermIncentivePlanType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SalarySurveySubmissionType">
    <xsd:annotation>
      <xsd:documentation>A record of Salary Survey to capture details of related employment and organization</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Alternative document IDs.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:integer" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                    <xsd:complexType>
                      <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList">
                          <xsd:annotation>
                            <xsd:documentation>The Country (represented by an ISO 3166 2 letter code) under which the data protection policy applies. If the policy applies to the world, the country is optional.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="countrySubDivisions">
                          <xsd:complexType>
                            <xsd:annotation>
                              <xsd:documentation>An optional further restriction or application of the data protection policy based on a region within the associated country. It should contain an ISO 3166-2 code for the country. Example would be 'US-CA' for California for further restrictions based on the CCPA regulation.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AddressComponentType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType">
                          <xsd:annotation>
                            <xsd:documentation>The description of the data protection policy (optionally associated with the country and optional region).</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:all>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="salarySurveySubmissions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" type="hropen:SalarySurveySubmissionItem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="SalarySurveySubmission" type="hropen:SalarySurveySubmissionType" />
</xsd:schema>