GeneratedSchemaLibraries/UK CabinetOffice/FireAndRescue/e-fire XML schemas v2.2/Schema/EFire-OISYS-v1-0-Strict.wsdl

<!--WSDL generated by thinktecture WSCF; version 0.5.1.5216-->
<!--Monday, 10-10-2005 - 10:40 AM-->
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by david sinfield (Parity Solutions) -->
<!--Monday, 17-10-2005 - 13:10 AM-->
<!-- See additional comments re manual re-work required to generated wsdl -->
<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="Efire-OISYS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import0="http://www.fire.gov.uk/schemas/Efire" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="Efire-OISYS" name="EFire-OISYS">
	<types>
		<xsd:schema>
			<xsd:import schemaLocation="Efire-Messages-v1-0.xsd" namespace="http://www.fire.gov.uk/schemas/Efire"/>
		</xsd:schema>
	</types>
	<message name="loginIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:LogIn"/>
	</message>
	<message name="loginOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:LogInResponse"/>
	</message>
	<message name="logoutIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:LogOut"/>
	</message>
	<message name="logoutOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:LogOutResponse"/>
	</message>
	<message name="getListIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetList"/>
	</message>
	<message name="getListOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetListResponse"/>
	</message>
	<message name="getDocumentByIdIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetDocumentById"/>
	</message>
	<message name="getDocumentByIdOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetDocumentByIdResponse"/>
	</message>
	<message name="getDocumentByTypeIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetDocumentByType"/>
	</message>
	<message name="getDocumentByTypeOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:GetDocumentByTypeResponse"/>
	</message>
	<message name="acknowledgeDocumentIn">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:AcknowledgeDocument"/>
	</message>
	<message name="acknowledgeDocumentOut">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:AcknowledgeDocumentResponse"/>
	</message>
	<message name="EfireSoapHeader">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<part name="messagePart" element="import0:EfireSoapHeader"/>
	</message>
	<portType name="EFire-OISYSInterface">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
		<operation name="Login">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
			<input message="tns:loginIn"/>
			<output message="tns:loginOut"/>
		</operation>
		<operation name="Logout">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
			<input message="tns:logoutIn"/>
			<output message="tns:logoutOut"/>
		</operation>
		<operation name="GetDocumentByType">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
			<input message="tns:getDocumentByTypeIn"/>
			<output message="tns:getDocumentByTypeOut"/>
		</operation>
		<operation name="AcknowledgeDocument">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
			<input message="tns:acknowledgeDocumentIn"/>
			<output message="tns:acknowledgeDocumentOut"/>
		</operation>
	</portType>
	<binding name="EFire-OISYS" type="tns:EFire-OISYSInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Login">
			<soap:operation soapAction="Efire-OISYS:loginIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</output>
		</operation>
		<operation name="Logout">
			<soap:operation soapAction="Efire-OISYS:logoutIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</output>
		</operation>
		<operation name="GetDocumentByType">
			<soap:operation soapAction="Efire-OISYS:getDocumentByTypeIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</output>
		</operation>
		<operation name="AcknowledgeDocument">
			<soap:operation soapAction="Efire-OISYS:acknowledgeDocumentIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:EfireSoapHeader" part="messagePart" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="EFire-OISYSPort">
		<port name="EFire-OISYSPort" binding="tns:EFire-OISYS">
			<soap:address location="http://www.fire.gov.uk/Efire/webServices/v1-0"/>
			<!-- Manual add service location -->
			<!-- The url is a place holder. This points to the public web server. 
	  The service will only be exposed on the private server. 
	  The address for the production and test web servers is to be decided -->
		</port>
	</service>
	<!--		
	<xsd:annotation>
			<xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
				<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
					<Audience>e-service developers</Audience>
					<Contributor>david sinfield,parity solutions(mailto:d.sinfield@parity.net)</Contributor>
					<Contributor>steve bailey, hyfinity (mailto:steve.bailey@hyfinity.com)</Contributor>
					<Creator>e-fire group, ODPM</Creator>
					<Date>
						<Created>2005-07-15</Created>
					</Date>
					<Date>
						<Modified>2005-10-17</Modified>
					</Date>
					<Description>Efire Portal WebService Definition</Description>
					<Format>
						<MediaType>text/xml</MediaType>
						<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
						<Description>XML schema, W3C Recommendation 2001</Description>
					</Format>
					<Identifier>Efire-OISYS-v1-0</Identifier>
					<Language>[ISO 639-2/B] ENG</Language>
					<Publisher>ODPM</Publisher>
					<Relation>
						<Requires>Efire-Messages-v1-0</Requires>
					</Relation>
					<Rights>Unclassified
					<Copyright>Crown Copyright 2005</Copyright>
					</Rights>
					<Subject>
						<Category>Safety/Fire</Category>
					</Subject>
					<Subject>
						<Project>e-fire</Project>
					</Subject>
					<Title>Efire Portal WebService Definition</Title>
				</Metadata>
			</xs:appinfo>
		</xs:annotation>
-->
	<!-- End of Manual Add -->
	<!-- Manual edit - Combine all headers -->
	<!-- Remove the auto generated
  <message name="loginInHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="loginOutHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="logoutInHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="getListInHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="getListOutHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  <message name="getDocumentByIdOutHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="getDocumentByTypeInHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="getDocumentByTypeOutHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  <message name="acknowledgeDocumentInHeader1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="import0:EfireSoapHeader" />
  </message>
  End of remove autogenerated -->
	<!--Create a single header-->
	<!-- Manual Edit change all headers in the binding node to point to the EfireSoapHeader message -->
</definitions>
