GeneratedSchemaLibraries/UK CabinetOffice/FireAndRescue/IRS_Incident-v1-0i_2007-09-20/xsd/FRSIncidentState-v1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Steve Bailey (Hyfinity Limited) -->
<xs:schema xmlns="http://www.fire.gov.uk/schemas/Incident" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:fire="http://www.fire.gov.uk/schemas" xmlns:ft="http://www.govtalk.gov.uk/financial/GDSCFinancialTypes" targetNamespace="http://www.fire.gov.uk/schemas/Incident" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="FRSIncidentState-v1-0">
	<xs:import namespace="http://www.govtalk.gov.uk/core" schemaLocation="CommonSimpleTypes-v1-3.xsd"/>
	<xs:import namespace="http://www.fire.gov.uk/schemas" schemaLocation="FireTypes-v1-0.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Audience>e-service developers</Audience>
				<Contributor>Steve Bailey,Hyfinity Limited (mailto:steve.bailey@hyfinity.com)</Contributor>
				<Contributor>Abdul Kayam, Hyfinity Limited (mailto:abdul.kayam@hyfinity.com)</Contributor>
				<Contributor>Gerard Smyth, Hyfinity Limited (mailto:gerard.smyth@hyfinity.com)</Contributor>
				<Creator>Fire and Rescue Statistics Division, HM Government</Creator>
				<Date>
					<Created>2005-08-15</Created>
				</Date>
				<Date>
					<Modified>2007-03-01</Modified>
				</Date>
				<Description>Fire and Rescue Statistics - Incident Collection System incident state details</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>FRSIncidentState-v1-0</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>HM Government</Publisher>
				<Relation>
					<Requires>FireTypes-v1-0</Requires>
				</Relation>
				<Relation>
					<Requires>CommonSimpleTypes-v1-3</Requires>
				</Relation>
				<Relation>
					<Requires>FinancialTypes-v1-3</Requires>
				</Relation>
				<Rights>Unclassified
                    <Copyright>Crown Copyright 2005</Copyright>
				</Rights>
				<Subject>
					<Category>Response</Category>
				</Subject>
				<Subject>
					<Project>Fire and Rescue Statistics - Incident Collection System</Project>
				</Subject>
				<Title>Fire and Rescue Statistics - Incident Collection System incident state details</Title>
			</Metadata>
		</xs:appinfo>
	</xs:annotation>
	<xs:attributeGroup name="IncidentIdentifierAttributes">
		<xs:annotation>
			<xs:documentation>Defines the attributes that should be applied to an Incident Identifier Structure.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="IncidentId" type="xs:long" use="optional">
			<xs:annotation>
				<xs:documentation>This is the Incident Recording Systems internal unique Incident Identifier. This will be generated by the system when any Incident data has been collected for the first time by the system regardless of status or completeness. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="IdentifierStructure">
		<xs:annotation>
			<xs:documentation>Contains the primary identifer information used to identify an incident.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FRSIncidentNumber">
				<xs:annotation>
					<xs:documentation>1.1 - The identifier allocated by the individual FRS. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="FRSIncidentIdentifierType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NationalStatisticsNumber" type="NationalStatisticsNumberStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier used by the National Statistics Incident Recording System once an Incident has been Published.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchIdentifierStructure">
		<xs:annotation>
			<xs:documentation>Contains all the information used to identify an incident.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FRSIncidentNumber" type="FRSIncidentIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier allocated by the individual FRS. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalStatisticsNumber" type="NationalStatisticsNumberStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier used by the National Statistics Incident Colllection System.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditDetailStructure">
		<xs:annotation>
			<xs:documentation>Contains information useful for auditing this incident, such as its current state, along with info on when and by whom it was created and last updated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IncidentStatus" type="IncidentStatusType">
				<xs:annotation>
					<xs:documentation>10.1 / 10.2 / 10.3 -Stores the current status of this incident e.g. 50=Closed (Mobilised Data Captured), 60=Recorded, 65=Recorded With Queries, 70=Published, 0=Cancelled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateCreated" type="fire:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date and time at which this incident was first created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreatedBy" type="UserIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier of the user/system identifier who created this incident.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateUpdated" type="fire:DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date and time at which this incident was last updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdatedBy" type="UserIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier of the user/system identifier who last updated this incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSection" type="DataSectionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the identifier for the logical data section last completed on the online form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasicAuditDetailStructure">
		<xs:annotation>
			<xs:documentation>Contains basic last updated information useful for auditing this incident.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IncidentStatus" type="IncidentStatusType">
				<xs:annotation>
					<xs:documentation>Stores the current status of this incident e.g. 50=Closed (Mobilised Data Captured), 60=Recorded, 70=Published, 0=Cancelled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateUpdated" type="fire:DateTime">
				<xs:annotation>
					<xs:documentation>The date and time at which this incident was last updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdatedBy" type="UserIDType">
				<xs:annotation>
					<xs:documentation>The identifier of the user/system identifier who last updated this incident. The format of this field may need to be altered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataSection" type="DataSectionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the identifier for the logical data section last completed on the online form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParentIncidentStructure">
		<xs:annotation>
			<xs:documentation>Stores the identification information for an associated parent incident.  This can be specified using either of the FRSIncidentNumbr or the NationalStatisticsNumber for the parent incident.  If this structure is present, one of these options MUST be used.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FRSIncidentNumber" type="FRSIncidentIdentifierType" minOccurs="0"/>
			<xs:element name="NationalStatisticsNumber" type="NationalStatisticsNumberStructure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildIncidentStructure">
		<xs:annotation>
			<xs:documentation>Stores the identification information for an associated set of children incidents.  This information is returned for an Incident that is a Parent Incident.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChildIncident" maxOccurs="10">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="IdentifierStructure">
							<xs:attributeGroup ref="IncidentIdentifierAttributes"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponsiblePartyStructure">
		<xs:annotation>
			<xs:documentation>Contains information that identifies the responsible party (individual or station) responsible for recording and publishing the Incident. For OverTheBorder incidents this could be on the behalf of another FRS as defined by the NationalStatistics Number FRSId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationId" type="fire:StationIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1.3 - Records the responsible Station identifier if supplied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireOfficerId" type="UserIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1.4 - Records the responsible FireOfficer identifier if supplied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FRSId" type="fire:FRSIdType">
				<xs:annotation>
					<xs:documentation>1.6 - The identifier for the brigade that the incident has been designated as the responsible party for recording the Incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DataSectionType">
		<xs:annotation>
			<xs:documentation>This is provided by the online forms to identify the last section of data completed in the logical form sequence.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinancialYearType">
		<xs:annotation>
			<xs:documentation>Represents a full 4-digit year value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2]{1}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FRSIncidentIdentifierType">
		<xs:annotation>
			<xs:documentation>Defines the allowable format for a FRS incident identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fire:StringRestrictedMixedType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentStatusType">
		<xs:annotation>
			<xs:documentation>Defines the different states an incident can be in, and the code numbers associated with them</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Cancelled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>First Call</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Mobilised</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Arrived at Scene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="40">
				<xs:annotation>
					<xs:documentation>Under Control</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="50">
				<xs:annotation>
					<xs:documentation>Closed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="55">
				<xs:annotation>
					<xs:documentation>Closed with Queries</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="60">
				<xs:annotation>
					<xs:documentation>Recorded</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="65">
				<xs:annotation>
					<xs:documentation>Recorded with Queries</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="70">
				<xs:annotation>
					<xs:documentation>Published</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="75">
				<xs:annotation>
					<xs:documentation>Published with Conditions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="80">
				<xs:annotation>
					<xs:documentation>Queried by National Statistics</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="90">
				<xs:annotation>
					<xs:documentation>Closed by National Statistics</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentValidationStatusType">
		<xs:annotation>
			<xs:documentation>Defines the different values used to control the level of validation to be/or has been performed by the system for an Incident. The values are: Auto-Save, Basic and Full. Auto-Save cannot be used by Web Service interactions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Auto-Save">
				<xs:annotation>
					<xs:documentation>The Incident data is well-formed XML, but no basic schema or full business logic has been undertaken.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Basic">
				<xs:annotation>
					<xs:documentation>The Incident data is well-formed XML and compliant with the XML Schemas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Full">
				<xs:annotation>
					<xs:documentation>The Incident data is well-formed XML, compliant with the XML Schemas and has passed the full complex business logic and validation provided by the system.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NationalStatisticsNumberStructure">
		<xs:annotation>
			<xs:documentation>Defines the structure containing all the parts that make up the National Statistics Published Incident number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FRSId" type="fire:FRSIdType">
				<xs:annotation>
					<xs:documentation>1.2 - The identifier of the brigade that covered the territory that the incident occured within.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NominalYear" type="FinancialYearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The year during which this incident took place. Some based on Calendar years others on April to March. This will be populated when the Incident has the Incident Status set to Published and the Incident has passed all validation constraints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequenceNumber" type="fire:ZeroTo9999999Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique allocated number for this incident, within the specified FRS and during the given nominal year.  The same sequence number can exist for different FRSs or nominal years. This will be populated when the Incident has the Incident Status set to Published and the Incident has passed all validation constraints.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UserIDType">
		<xs:annotation>
			<xs:documentation>Defines the allowable format for a user ID value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fire:StringRestrictedMixedType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
