GeneratedSchemaLibraries/UK CabinetOffice/FireAndRescue/IRS_Incident-v1-0i_2007-09-20/xsd/FRSIncidentFireTransport-v1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Steve Bailey (Hyfinity Limited) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Gerard Smyth (Hyfinity Limited) -->
<xs:schema xmlns="http://www.fire.gov.uk/schemas/Incident" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns:fire="http://www.fire.gov.uk/schemas" targetNamespace="http://www.fire.gov.uk/schemas/Incident" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="FRSIncidentFireTransport-v1-0">
	<xs:include schemaLocation="FRSIncidentCommonTypes-v1-0.xsd"/>
	<xs:import namespace="http://www.govtalk.gov.uk/core" schemaLocation="CommonSimpleTypes-v1-3.xsd"/>
	<xs:import namespace="http://www.fire.gov.uk/schemas" schemaLocation="FireTypes-v1-0.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Audience>e-service developers</Audience>
				<Contributor>Steve Bailey,Hyfinity Limited (mailto:steve.bailey@hyfinity.com)</Contributor>
				<Contributor>Abdul Kayam, Hyfinity Limited (mailto:abdul.kayam@hyfinity.com)</Contributor>
				<Contributor>Gerard Smyth, Hyfinity Limited (mailto:gerard.smyth@hyfinity.com)</Contributor>
				<Creator>Fire and Rescue Statistics Division, HM Government</Creator>
				<Date>
					<Created>2005-08-15</Created>
				</Date>
				<Date>
					<Modified>2007-07-10</Modified>
				</Date>
				<Description>Fire and Rescue Statistics - Incident Collection System specific transport fire details</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>FRSIncidentFireTransport-v1-0</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>HM Government</Publisher>
				<Relation>
					<Requires>FRSIncidentCommonTypes-v1-0</Requires>
				</Relation>
				<Relation>
					<Requires>FireTypes-v1-0</Requires>
				</Relation>
				<Relation>
					<Requires>CommonSimpleTypes-v1-3</Requires>
				</Relation>
				<Rights>Unclassified
                    <Copyright>Crown Copyright 2005</Copyright>
				</Rights>
				<Subject>
					<Category>Response</Category>
				</Subject>
				<Subject>
					<Project>Fire and Rescue Statistics - Incident Collection System</Project>
				</Subject>
				<Title>Fire and Rescue Statistics - Incident Collection System specific transport fire details</Title>
			</Metadata>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="RoadVehicleStructure">
		<xs:annotation>
			<xs:documentation>Contains the specific information needed for a primary fire involving a road vehicle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VRM" minOccurs="0">
				<xs:annotation>
					<xs:documentation>8.31 - Stores the registration number for the vehicle if known.  This can then be used to look up the make/model information from the DVLA.      </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="VrmType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VIN" type="VinType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>8.32 - Stores the vehicle identification number of the vehicle if known.  If this is present along with teh VRM, then it can provide more accurate DVLA lookups, and better detect fraud situations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stolen" type="fire:YesNoDontKnowType">
				<xs:annotation>
					<xs:documentation>8.33 - Indicates whether or not this vehicle has been reported stolen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abandoned" type="fire:YesNoDontKnowType">
				<xs:annotation>
					<xs:documentation>8.34 - Indicates whether or not this vehicle had been adandoned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Damage" type="RoadVehicleDamageStructure">
				<xs:annotation>
					<xs:documentation>Provides infomation on the damage caused by the fire.  For vehicles this consists of the size of the fire on arrival, and how much further damage was caused before it was put out.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireStartLocation" type="RoadVehicleFireStartLocationStructure">
				<xs:annotation>
					<xs:documentation>8.14 - Specifies where within the vehicle the fire started</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseAndReason" type="OtherCauseAndReasonStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the additional cause and reason details that apply to road vehicle fires</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoatStructure">
		<xs:annotation>
			<xs:documentation>Contains the specific information only needed for a primary fire involving a boat</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Damage" type="BoatDamageStructure"/>
			<xs:element name="FireLocation" type="BoatFireLocationStructure"/>
			<xs:element name="FireStartLocation" type="BoatFireStartLocationStructure">
				<xs:annotation>
					<xs:documentation>8.14 - Location of fire start e.g. kitchen, engine room.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseAndReason" type="OtherCauseAndReasonStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the additional cause and reason details that apply to boat fires</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RailVehicleStructure">
		<xs:annotation>
			<xs:documentation>Contains the specific information only needed for a primary fire involving a rail vehicle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Damage" type="RailVehicleDamageStructure"/>
			<xs:element name="FireStartLocation" type="RailVehicleFireStartLocationStructure">
				<xs:annotation>
					<xs:documentation>8.14 - Location of fire start e.g. engine.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseAndReason" type="OtherCauseAndReasonStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the additional cause and reason details that apply to rail vehicle fires</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AircraftStructure">
		<xs:annotation>
			<xs:documentation>Contains the specific information only needed for a primary fire involving an aircraft</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Damage" type="AircraftDamageStructure"/>
			<xs:element name="FireStartLocation" type="AircraftFireStartLocationStructure">
				<xs:annotation>
					<xs:documentation>8.14 - Location of fire start e.g. cockpit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseAndReason" type="OtherCauseAndReasonStructure" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the additional cause and reason details that apply to aircraft fires</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoadVehicleDamageStructure">
		<xs:annotation>
			<xs:documentation>Contains the damage information specifc for a road vehicle.  This includes the size of fire on arrival, and total area the fire was restricted to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FireSizeOnArrival">
				<xs:annotation>
					<xs:documentation>8.20 - Estimated fire size on arrival of service.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="RoadVehicleFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.21 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DamageRestrictedTo">
				<xs:annotation>
					<xs:documentation>8.22 - Damage restricted to (at stop)  e.g cab for lorry.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="RoadVehicleFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.23 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RoadVehicleFireSizeType">
		<xs:annotation>
			<xs:documentation>defines the available options for the FireSizeOnArrival / DamageRestrictedTo fields for a road vehicle fire</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>Driver/Passenger compartment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>Separate luggage compartment of vehicle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>Engine compartment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation>Fuel tank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>Roof/Roof rack (exterior to vehicle)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation>Wheels/Tyres/Brakes/Axles/Bearings</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Whole vehicle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Not applicable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BoatDamageStructure">
		<xs:annotation>
			<xs:documentation>Contains the damage information specifc for a boat fire.  This includes the size of fire on arrival, and total area the fire was restricted to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FireSizeOnArrival">
				<xs:annotation>
					<xs:documentation>8.20 - Estimated fire size on arrival of service.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="BoatFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.21 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DamageRestrictedTo">
				<xs:annotation>
					<xs:documentation>8.22 - Damage restricted to (at stop)  e.g. origin.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="BoatFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.23 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BoatFireSizeType">
		<xs:annotation>
			<xs:documentation>defines the available options for the FireSizeOnArrival / DamageRestrictedTo fields for a boat fire</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Limited to item 1st ignited</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Limited to room of origin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Limited to deck of origin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Limited to 2 decks</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Affecting more than 2 decks, not whole boat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Whole boat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Not applicable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RailVehicleDamageStructure">
		<xs:annotation>
			<xs:documentation>Contains the damage information specifc for a rail vehicle fire.  This includes the size of fire on arrival, and total area the fire was restricted to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FireSizeOnArrival">
				<xs:annotation>
					<xs:documentation>8.20 - Estimated fire size on arrival of service.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="RailVehicleFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.21 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DamageRestrictedTo">
				<xs:annotation>
					<xs:documentation>8.22 - Damage restricted to (at stop)  e.g. engine.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="RailVehicleFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.23 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RailVehicleFireSizeType">
		<xs:annotation>
			<xs:documentation>defines the available options for the FireSizeOnArrival / DamageRestrictedTo fields for a rail vehicle fire</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Limited to item 1st ignited</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Driver’s area only</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Single carriage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>More than one carriage, not whole train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Whole train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Not applicable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AircraftDamageStructure">
		<xs:annotation>
			<xs:documentation>Contains the damage information specifc for an aircraft fire.  This includes the size of fire on arrival, and total area the fire was restricted to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FireSizeOnArrival">
				<xs:annotation>
					<xs:documentation>8.20 - Estimated fire size on arrival of service.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AircraftFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.21 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DamageRestrictedTo">
				<xs:annotation>
					<xs:documentation>8.22 - Damage restricted to (at stop)  e.g cabin.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AircraftFireSizeType">
							<xs:attribute name="DistanceToAdjoiningProperty" type="DistanceToType" use="required">
								<xs:annotation>
									<xs:documentation>8.23 - Add the attribute DistanceToAdjoiningProperty to specify how far away the other affected properties were. (in metres)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AircraftFireSizeType">
		<xs:annotation>
			<xs:documentation>defines the available options for the FireSizeOnArrival / DamageRestrictedTo fields for an aircraft fire</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Limited to item 1st ignited</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Engine/Engines</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>Cockpit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>Over half the aircraft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Whole aircraft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="98">
				<xs:annotation>
					<xs:documentation>Not applicable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BoatFireLocationStructure">
		<xs:annotation>
			<xs:documentation>Contains the extra fire location information specific for boat fires.  This includes information on the number of decks on the boat, and which one contained the fire.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecksAboveMain" type="fire:ZeroTo999Type">
				<xs:annotation>
					<xs:documentation>8.28 - Number of decks above ground.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecksBelowMain" type="fire:ZeroTo999Type">
				<xs:annotation>
					<xs:documentation>8.29 - Number of decks below ground.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeckOfOrigin">
				<xs:annotation>
					<xs:documentation>8.30 - Deck of origin of fire. Less than or eual to Decks Above Water. Greater than or equal to negative value of DecksBelowGround.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="-999"/>
						<xs:maxInclusive value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoadVehicleFireStartLocationStructure">
		<xs:annotation>
			<xs:documentation>Extends RoadVehicleFireStartLocationType to provide the 'other' attribute so that the user's custom value can be stored.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RoadVehicleFireStartLocationType">
				<xs:attributeGroup ref="fire:OtherAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="RoadVehicleFireStartLocationType">
		<xs:annotation>
			<xs:documentation>This is a subset of the options available in the FireStartLocationType, containing only the options applicable to RoadVehicle Fires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="FireStartLocationType">
			<xs:enumeration value="34">
				<xs:annotation>
					<xs:documentation>Boot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="35">
				<xs:annotation>
					<xs:documentation>Driver/Passenger area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation>Engine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Fuel tank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="38">
				<xs:annotation>
					<xs:documentation>Other inside/Cargo area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Wheel/Brakes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Not known</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RailVehicleFireStartLocationStructure">
		<xs:annotation>
			<xs:documentation>Extends RailVehicleFireStartLocationType to provide the 'other' attribute so that the user's custom value can be stored.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RailVehicleFireStartLocationType">
				<xs:attributeGroup ref="fire:OtherAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="RailVehicleFireStartLocationType">
		<xs:annotation>
			<xs:documentation>This is a subset of the options available in the FireStartLocationType, containing only the options applicable to RailVehicle Fires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="FireStartLocationType">
			<xs:enumeration value="43">
				<xs:annotation>
					<xs:documentation>Driver area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Fuel tank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Passenger area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="44">
				<xs:annotation>
					<xs:documentation>Power unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="56">
				<xs:annotation>
					<xs:documentation>Restaurant/Buffet carriage</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Wheels/Brakes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Not known</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BoatFireStartLocationStructure">
		<xs:annotation>
			<xs:documentation>Extends BoatFireStartLocationType to provide the 'other' attribute so that the user's custom value can be stored.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="BoatFireStartLocationType">
				<xs:attributeGroup ref="fire:OtherAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="BoatFireStartLocationType">
		<xs:annotation>
			<xs:documentation>This is a subset of the options available in the FireStartLocationType, containing only the options applicable to Boat Fires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="FireStartLocationType">
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Boiler room</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation>Car deck (ferries)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="40">
				<xs:annotation>
					<xs:documentation>Crew area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation>Deck cargo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation>Engine room</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Fuel tank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="55">
				<xs:annotation>
					<xs:documentation>Hold/Cargo area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Passenger area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Not known</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AircraftFireStartLocationStructure">
		<xs:annotation>
			<xs:documentation>Extends AircraftFireStartLocationType to provide the 'other' attribute so that the user's custom value can be stored.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AircraftFireStartLocationType">
				<xs:attributeGroup ref="fire:OtherAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AircraftFireStartLocationType">
		<xs:annotation>
			<xs:documentation>This is a subset of the options available in the FireStartLocationType, containing only the options applicable to Aircraft Fires</xs:documentation>
		</xs:annotation>
		<xs:restriction base="FireStartLocationType">
			<xs:enumeration value="45">
				<xs:annotation>
					<xs:documentation>Cargo area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="46">
				<xs:annotation>
					<xs:documentation>Cockpit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation>Engine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Fuel tank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Passenger area</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Wheels/Brakes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="47">
				<xs:annotation>
					<xs:documentation>Wing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Not known</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VrmType">
		<xs:annotation>
			<xs:documentation>Defines what is accepted as a valid VRM value.  This is the License/registration number of the vehicle, allocated by the relevant authority, and will allow NI types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="7"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-HJ-NP-Z]{3}[0-9]{1,3}[A-HJ-NP-Z]{1}|[A-HJ-NP-Z]{1}[0-9]{1,3}[A-HJ-Z]{3}|[0-9]{1,4}[A-HJ-NP-Z]{1}|[A-HJ-NP-Z]{2}[0-9]{1,4}|[A-HJ-NP-Z]{1}[0-9]{1,4}|[A-HJ-NP-Z]{3}[0-9]{1,4}|[0-9]{3}[A-HJ-NP-Z]{3}|[0-9]{2}[A-HJ-NP-Z]{3}|[0-9]{1}[A-HJ-NP-Z]{3}|[0-9]{3}[A-HJ-NP-Z]{2}|[0-9]{1}[A-HJ-NP-Z]{2}|[0-9]{2}[A-HJ-NP-Z]{2}|[0-9]{3}[A-HJ-NP-Z]{1}[0-9]{3}|[A-HJ-NP-Z]{1}[0-9]{5}|[0-9]{4}[A-HJ-NP-Z]{3}|[0-9]{2}[A-HJ-NP-Z]{2}[0-9]{2}|[0-9]{4}[0-9]?|[A-Z]{2}[0-9]{2}[A-Z]{3}|[A-HJ-NP-Z]{2}[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VinType">
		<xs:annotation>
			<xs:documentation>Vehicle Identification Number for a vehicle. The chassis number of the vehicle allocated by the manufacture at the factory where the vehicle was built.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="17"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[ A-Z0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
