LinqToXsd.Schemas/Tests/Nil/NilTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    targetNamespace="http://linqtoxsd.schemas.org/test/nil-test.xsd"
    xmlns="http://linqtoxsd.schemas.org/test/nil-test.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="e-datetime" type="xs:dateTime" />
				<xs:element name="e-date" type="xs:date" />
				<xs:element name="e-time" type="xs:time" />
			</xs:sequence>
			<xs:attribute name="a-date" type="xs:date" />
			<xs:attribute name="a-time" type="xs:time" />
		</xs:complexType>
	</xs:element>
</xs:schema>