LinqToXsd.Schemas/Tests/Nil/NilTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    targetNamespace="http://linqtoxsd.schemas.org/test/nil-test.xsd"
    xmlns="http://linqtoxsd.schemas.org/test/nil-test.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
>
	<xs:complexType name="ValueHolder">
		<xs:sequence>
			<xs:element name="Value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>					

	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequiredRef" type="xs:string" nillable="true" />
				<xs:element name="RequiredVal" type="xs:int" nillable="true" />
				<xs:element name="RequiredEl" type="ValueHolder" nillable="true" />
				<xs:element name="OptionalRef" type="xs:string" minOccurs="0" nillable="true" />
				<xs:element name="OptionalVal" type="xs:int" minOccurs="0" nillable="true" />
				<xs:element name="OptionalEl" type="ValueHolder" minOccurs="0" nillable="true" />
				<xs:element name="ListRef" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				<xs:element name="ListVal" type="xs:int" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				<xs:element name="ListEl" type="ValueHolder" minOccurs="0" maxOccurs="unbounded" nillable="true" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>