LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Common/xml/competency/SpecifiedCompetencyType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="SpecifiedCompetencyType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base/IdentifierType.xsd" />
  <xsd:include schemaLocation="../evaluation/BaseScoreType.xsd" />
  <xsd:complexType name="SpecifiedCompetencyType">
    <xsd:annotation>
      <xsd:documentation>A specified competency is a reference to a particular competency at a specified level of proficiency.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="competencyIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Array of competency identifiers.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Competency name.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="proficiencyLevel" type="hropen:BaseScoreType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="SpecifiedCompetency" type="hropen:SpecifiedCompetencyType" />
</xsd:schema>