GeneratedSchemaLibraries/UK CabinetOffice/PlanningPortalSchemaDocApplication/BS7666Schema3.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://GovTalk/Schemas/ChangeOfAddress00f.xsd"
	 xmlns:bs7666 = "http://GovTalk/Schemas/ChangeOfAddress00f.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "">
	<annotation>
		<documentation>
BS7666 Schema Definition Purpose: Definition of basic
BS7666 types and constructs.
Includes a definition of a basic BS7666 Address
Date: 05/01/01
Updated 19/03/01 to conform to GovTalk Guidelines
</documentation>
	</annotation>
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	
	<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Adrian
Kent (private) -->
	
	
	<!-- Basic BS7666 Compliant Address Element -->
	
	<complexType name = "BSaddressStructure">
		<annotation>
			<documentation>BS7666 Compliant Address
Structure</documentation>
			<documentation>At least one of
Town, County and Locality</documentation>
			<documentation>One of
</documentation>
			<documentation>Both
</documentation>
			<documentation>Both
</documentation>
			<documentation>Both
</documentation>
			<documentation>All
</documentation>
		</annotation>
		<sequence>
			<element name = "SAON" type = "bs7666:SAONtype" minOccurs = "0">
				<annotation>
					<documentation>Secondary
Addressable Object</documentation>
				</annotation>
			</element>
			<element name = "PAON" type = "bs7666:PAONtype">
				<annotation>
					<documentation>Primary Addressable
Object</documentation>
				</annotation>
			</element>
			<element name = "StreetDescription" type = "bs7666:StreetDescriptorType">
				<annotation>
					<documentation>Street Description
</documentation>
				</annotation>
			</element>
			<choice>
				<choice>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</choice>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:County"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</sequence>
			</choice>
			<element name = "Posttown" type = "bs7666:PosttownType" minOccurs = "0"/>
			<element name = "Postcode" type = "bs7666:PostcodeType" minOccurs = "0"/>
		</sequence>
		<attribute name = "uprn" type = "bs7666:UPRNtype"/>
	</complexType>
	
	<!-- UPRN Definition -->
	
	<simpleType name = "UPRNtype">
		<restriction base = "integer">
			<maxInclusive value = "999999999999"/>
			<minInclusive value = "1"/>
		</restriction>
	</simpleType>
	<simpleType name = "USRNtype">
		<restriction base = "integer">
			<maxInclusive value = "99999999"/>
			<minInclusive value = "1"/>
		</restriction>
	</simpleType>
	<simpleType name = "PostcodeType">
		<restriction base = "string"/>
	</simpleType>
	<simpleType name = "PAONtype">
		<restriction base = "string"/>
	</simpleType>
	<simpleType name = "SAONtype">
		<restriction base = "string"/>
	</simpleType>
	<simpleType name = "PosttownType">
		<restriction base = "string">
			<maxLength value = "30"/>
			<minLength value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "LocalityType">
		<restriction base = "string">
			<maxLength value = "35"/>
			<minLength value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "CountyType">
		<restriction base = "string">
			<maxLength value = "30"/>
			<minLength value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "TownType">
		<restriction base = "string">
			<maxLength value = "30"/>
			<minLength value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "StreetDescriptorType">
		<restriction base = "string">
			<maxLength value = "100"/>
			<minLength value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "StreetReferenceTypeType">
		<restriction base = "integer">
			<enumeration value = "1"/>
			<enumeration value = "2"/>
			<enumeration value = "3"/>
			<enumeration value = "4"/>
		</restriction>
	</simpleType>
	<simpleType name = "ReleaseNumberType">
		<restriction base = "positiveInteger">
			<minInclusive value = "1"/>
		</restriction>
	</simpleType>
	<simpleType name = "VersionNumberType">
		<restriction base = "positiveInteger">
			<minInclusive value = "1"/>
		</restriction>
	</simpleType>
	<simpleType name = "ToleranceType">
		<restriction base = "decimal">
			<minInclusive value = "0"/>
		</restriction>
	</simpleType>
	<simpleType name = "RefPointGridCoordinateType">
		<restriction base = "string">
			<pattern value = "/d{14}"/>
		</restriction>
	</simpleType>
	<simpleType name = "UPRNlistType">
		<list itemType = "bs7666:UPRNtype"/>
	</simpleType>
	<simpleType name = "USRNlistType">
		<list itemType = "bs7666:USRNtype"/>
	</simpleType>
	<simpleType name = "ProvenanceCodeType">
		<restriction base = "string">
			<enumeration value = "T"/>
			<enumeration value = "L"/>
			<enumeration value = "F"/>
			<enumeration value = "R"/>
			<enumeration value = "P"/>
			<enumeration value = "O"/>
			<enumeration value = "U"/>
		</restriction>
	</simpleType>
	<simpleType name = "CustodianCodeType">
		<restriction base = "string">
			<pattern value = "\d{4}"/>
		</restriction>
	</simpleType>
	<simpleType name = "RepresentativePointCodeType">
		<restriction base = "positiveInteger">
			<enumeration value = "1"/>
			<enumeration value = "2"/>
			<enumeration value = "3"/>
			<enumeration value = "4"/>
		</restriction>
	</simpleType>
	<simpleType name = "LogicalStatusType">
		<restriction base = "integer">
			<enumeration value = "1"/>
			<enumeration value = "5"/>
			<enumeration value = "6"/>
			<enumeration value = "8"/>
			<enumeration value = "9"/>
			<maxInclusive value = "9"/>
			<minInclusive value = "1"/>
		</restriction>
	</simpleType>
	
	<!-- USRN Definition -->
	
	
	<!-- PostCode Definition -->
	
	
	<!-- PAON Definition -->
	
	
	<!-- SAON Definition -->
	
	
	<!-- Post Town Definition -->
	
	
	<!-- Locality Definition -->
	
	
	<!-- County Definition -->
	
	
	<!-- Town Definition -->
	
	
	<!-- Street Descriptor -->
	
	
	<!-- Street Reference Type Definition -->
	
	
	<!-- Release Number Definition -->
	
	
	<!-- Version Number Definition -->
	
	
	<!-- Tolerance Definition -->
	
	
	<!-- Reference Point Grid Coordinate Definition required for
ESUs -->
	
	
	<!-- Type Definition For a BS7666 Street -->
	
	<complexType name = "StreetStructure">
		<sequence>
			<element name = "StreetReferenceType" type = "bs7666:StreetReferenceTypeType"/>
			<element name = "StartCoordinate" type = "bs7666:CoordinateStructure"/>
			<element name = "EndCoordinate" type = "bs7666:CoordinateStructure"/>
			<element name = "Tolerance" type = "bs7666:ToleranceType"/>
			<element name = "VersionNumber" type = "bs7666:VersionNumberType"/>
			<element name = "EntryDate" type = "date"/>
			<element name = "ClosureDate" type = "date"/>
			<element name = "ResponsibleAuthority" type = "bs7666:CustodianCodeType"/>
			<element name = "DescriptiveIdentifier" type = "bs7666:StreetDescriptiveIdentifierStructure"/>
			<element name = "StreetAlias" type = "bs7666:StreetDescriptiveIdentifierStructure" minOccurs = "0"/>
			<element name = "StreetCrossReferences" minOccurs = "0">
				<complexType>
					<choice>
						<element name = "UNIQUE_STREET_REFERENCE_NUMBERS" type = "bs7666:USRNlistType"/>
						<element name = "ELEMENTARY_STREET_UNIT" type = "bs7666:ElementaryStreetUnitStructure" minOccurs = "0" maxOccurs = "unbounded"/>
					</choice>
				</complexType>
			</element>
		</sequence>
		<attribute name = "usrn" type = "bs7666:USRNtype"/>
	</complexType>
	
	<!-- Type Definition For a Street Descriptive Identifier
New Construct, contains the street description and
at least one of Town, County or Locality
-->
	
	<complexType name = "StreetDescriptiveIdentifierStructure">
		<annotation>
			<documentation>At least one of
Town, County and Locality</documentation>
			<documentation>One of
</documentation>
			<documentation>Both
</documentation>
			<documentation>Both
</documentation>
			<documentation>Both
</documentation>
			<documentation>All
</documentation>
		</annotation>
		<sequence>
			<element name = "StreetDescription" type = "bs7666:StreetDescriptorType"/>
			<choice>
				<choice>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</choice>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:County"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</sequence>
				<sequence>
					<element ref = "bs7666:Town"/>
					<element ref = "bs7666:Locality"/>
					<element ref = "bs7666:County"/>
				</sequence>
			</choice>
		</sequence>
	</complexType>
	
	<!-- BS7666 Elementary Street Unit -->
	
	<complexType name = "ElementaryStreetUnitStructure">
		<sequence>
			<element name = "ESUidentity" type = "bs7666:RefPointGridCoordinateType"/>
			<element name = "Version" type = "bs7666:VersionNumberType"/>
			<element name = "EntryDate" type = "date"/>
			<element name = "ClosureDate" type = "date" minOccurs = "0"/>
			<element name = "StartCoordinate" type = "bs7666:CoordinateStructure"/>
			<element name = "EndCoordinate" type = "bs7666:CoordinateStructure"/>
			<element name = "Tolerance" type = "bs7666:ToleranceType"/>
			<element name = "IntermediateCoord" type = "bs7666:CoordinateStructure" minOccurs = "0" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	
	<!-- Coordinate Definition -->
	
	<complexType name = "CoordinateStructure">
		<annotation>
			<documentation>Coordinate Point based on UK
National Grid</documentation>
		</annotation>
		<sequence>
			<element name = "X">
				<annotation>
					<documentation>Easting Field
</documentation>
				</annotation>
				<simpleType>
					<restriction base = "unsignedLong">
						<maxInclusive value = "999999"/>
						<minInclusive value = "0"/>
					</restriction>
				</simpleType>
			</element>
			<element name = "Y">
				<annotation>
					<documentation>Northing Field
</documentation>
				</annotation>
				<simpleType>
					<restriction base = "unsignedLong">
						<maxInclusive value = "9999999"/>
						<minInclusive value = "0"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	
	<!-- Type Definition for a list or UPRN's -->
	
	
	<!-- Type Definition for a list or USRN's -->
	
	
	<!-- Polygon representing the extent of a BLPU. -->
	
	<complexType name = "BLPUpolygonStructure">
		<sequence>
			<element name = "PolygonID">
				<simpleType>
					<restriction base = "positiveInteger">
						<maxInclusive value = "99"/>
						<minInclusive value = "0"/>
					</restriction>
				</simpleType>
			</element>
			<element name = "PolygonType" minOccurs = "0">
				<annotation>
					<documentation>H to represent a
hole or not present</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<enumeration value = "H"/>
					</restriction>
				</simpleType>
			</element>
			<choice>
				<element name = "Vertices" type = "bs7666:CoordinateStructure" minOccurs = "3" maxOccurs = "unbounded"/>
				<element name = "ExternalRef" type = "unsignedLong"/>
			</choice>
		</sequence>
	</complexType>
	
	<!-- The Extent of a BLPU - expressed either as one or more
polygons or external references -->
	
	<complexType name = "BLPUextentStructure">
		<sequence>
			<element name = "SourceDescription">
				<annotation>
					<documentation>Description of
Source of BLPU Extent</documentation>
				</annotation>
				<simpleType>
					<restriction base = "string">
						<maxLength value = "50"/>
						<minLength value = "0"/>
					</restriction>
				</simpleType>
			</element>
			<element name = "EntryDate" type = "date"/>
			<element name = "SourceDate" type = "date"/>
			<element name = "StartDate" type = "date"/>
			<element name = "EndDate" type = "date" minOccurs = "0"/>
			<element name = "LastUpdateDate" type = "date"/>
			<element name = "ExtentDefinition" type = "bs7666:BLPUpolygonStructure" maxOccurs = "unbounded"/>
		</sequence>
	</complexType>
	
	<!-- BS7666 Provenance Code -->
	
	
	<!-- BS7666 Provenance for a BLPU -->
	
	<complexType name = "ProvenanceStructure">
		<sequence>
			<element name = "ProvenanceCode" type = "bs7666:ProvenanceCodeType"/>
			<element name = "Annotation" type = "string"/>
			<element name = "EntryDate" type = "date"/>
			<element name = "StartDate" type = "date"/>
			<element name = "EndDate" type = "date" minOccurs = "0"/>
			<element name = "LastUpdateDate" type = "date"/>
			<element name = "Extent" type = "bs7666:BLPUextentStructure" minOccurs = "0"/>
		</sequence>
	</complexType>
	
	<!-- Custodian Code - 4 digit code identifier for a particular
local authority or other custodian -->
	
	
	<!-- Representative Point Code -->
	
	
	<!-- Logical Status for an LPI and BLPU-->
	
	
	<!-- BS7666: Basic Land And Property Unit -->
	
	<complexType name = "BasicLandAndPropertyUnitStructure">
		<sequence>
			<element name = "CustodianCode" type = "bs7666:CustodianCodeType"/>
			<element name = "RepresentativePointCode" type = "bs7666:RepresentativePointCodeType"/>
			<element name = "LogicalStatus" type = "bs7666:LogicalStatusType"/>
			<element name = "GridReference" type = "bs7666:CoordinateStructure"/>
			<element name = "EntryDate" type = "date"/>
			<element name = "StartDate" type = "date"/>
			<element name = "EndDate" type = "date" minOccurs = "0"/>
			<element name = "LastUpdateDate" type = "date"/>
			<element name = "LandAndPropertyIdentifier" type = "bs7666:LandAndPropertyIdentifierStructure" maxOccurs = "unbounded"/>
			<element name = "Provenance" type = "bs7666:ProvenanceStructure" maxOccurs = "unbounded"/>
		</sequence>
		<attribute name = "UPRN" type = "bs7666:UPRNtype"/>
	</complexType>
	
	<!-- BS7666 Land and Property Identifier -->
	
	<complexType name = "LandAndPropertyIdentifierStructure">
		<sequence>
			<element name = "PAON" type = "bs7666:PAONtype"/>
			<element name = "SAON" type = "bs7666:SAONtype" minOccurs = "0"/>
			<element name = "Posttown" type = "bs7666:PosttownType" minOccurs = "0"/>
			<element name = "Postcode" type = "bs7666:PostcodeType" minOccurs = "0"/>
			<element name = "Level" minOccurs = "0">
				<simpleType>
					<restriction base = "string">
						<maxLength value = "30"/>
						<minLength value = "0"/>
					</restriction>
				</simpleType>
			</element>
			<element name = "LogicalStatus" type = "bs7666:LogicalStatusType"/>
			<element name = "OfficialAddressMarker" type = "boolean" minOccurs = "0"/>
			<element name = "StartDate" type = "date"/>
			<element name = "EntryDate" type = "date"/>
			<element name = "EndDate" type = "date" minOccurs = "0"/>
			<element name = "LastUpdateDate" type = "date"/>
			<choice>
				<element name = "Street" type = "bs7666:StreetStructure"/>
				<element name = "USRN" type = "bs7666:USRNtype"/>
			</choice>
		</sequence>
	</complexType>
	<element name = "Town" type = "bs7666:TownType"/>
	<element name = "Locality" type = "bs7666:LocalityType"/>
	<element name = "County" type = "bs7666:CountyType"/>
</schema>