GeneratedSchemaLibraries/UK CabinetOffice/PlanningPortalSchemaDocApplication/PPForms.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:pType = "PINSTypesv06.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = ""
	 elementFormDefault = "qualified">
	<xsd:import namespace = "PINSTypesv06.xsd" schemaLocation = "PINSTypesv06.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Schema definition for the types used within the individual form schemas</xsd:documentation>
	</xsd:annotation>
	<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Simon (IBM) -->
	
	
	<!-- Generic types -->
	
	<xsd:element name = "Duration">
		<xsd:annotation>
			<xsd:documentation>Duration of time</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "Years" type = "xsd:integer" minOccurs = "0"/>
				<xsd:element name = "Months" type = "xsd:integer" minOccurs = "0"/>
				<xsd:element name = "Days" type = "xsd:integer" minOccurs = "0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "ApplicantName">
		<xsd:annotation>
			<xsd:documentation>Name of the applicant (either organisation or person)</xsd:documentation>
		</xsd:annotation>
		<!--<xsd:choice>-->
		
		<!--</xsd:choice>-->
		<xsd:sequence>
			<xsd:element ref = "pType:OrgName"/>
			<xsd:element name = "PersonName" type = "pType:PersonName">
				<xsd:annotation>
					<xsd:documentation>Name of a person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Plan">
		<xsd:annotation>
			<xsd:documentation>Generic plan description</xsd:documentation>
		</xsd:annotation>
		<!-- Should be an int? -->
		<xsd:all>
			<xsd:element name = "Description" type = "xsd:string"/>
			<xsd:element name = "Number" type = "xsd:string"/>
		</xsd:all>
	</xsd:complexType>
	
	<!--<xsd:complexType name="Area">
    <xsd:annotation>
      <xsd:documentation>A unit/value pair where unit is fixed as square meters</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Value" type="xsd:integer" use="required"/>
    <xsd:attribute name="Unit" type="xsd:string" use="required" fixed="sq.meters"/>
  </xsd:complexType>-->
	
	
	<!--<xsd:complexType name="Length">
    <xsd:annotation>
      <xsd:documentation>A unit/value pair where unit is fixed at meters</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="Value" type="xsd:integer" use="required"/>
    <xsd:attribute name="Unit" type="xsd:string" use="required" fixed="meters"/>
  </xsd:complexType>-->
	
	<xsd:complexType name = "TableRow">
		<xsd:annotation>
			<xsd:documentation>Type used for describing a row in a table that illustrates existing/proposed information</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name = "Existing" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Proposed" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Net" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name = "EmploymentTableRow">
		<xsd:annotation>
			<xsd:documentation>Type used for describing a row in a table that illustrates existing/proposed information</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name = "FullTime" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "PartTime" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Total" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name = "FloorspaceTableRow">
		<xsd:annotation>
			<xsd:documentation>Type used for describing a row in a table that illustrates existing/proposed information</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name = "Existing" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Existing number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ToDemolish" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>To be demolished</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Proposed" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Proposed number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Total" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Net number of items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:element name = "DocRef">
		<xsd:annotation>
			<xsd:documentation>A Document reference, this is only as described in the form (ie. application date/ref #)</xsd:documentation>
		</xsd:annotation>
		<!-- May need work this one, not sure how to implement document references -->
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "RefNo" type = "xsd:string">
					<xsd:annotation>
						<xsd:documentation>Reference Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name = "AppDate" type = "xsd:date">
					<xsd:annotation>
						<xsd:documentation>Application Date</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Section 1:  Applicant address -->
	
	<xsd:complexType name = "ApplicantAddress">
		<xsd:annotation>
			<xsd:documentation>Name/contact information for the applicant</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Name" type = "ApplicantName">
				<xsd:annotation>
					<xsd:documentation>Applicant name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ContactName" type = "pType:PersonName" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation>A contact name (need if for example name of applicant is an orginisation)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ContactDetails" type = "pType:ShortContactDetails">
				<xsd:annotation>
					<xsd:documentation>Phone/Address contact inforation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "DXNumber" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>A reference number?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 2:  Agent Address -->
	
	<xsd:complexType name = "AgentAddress">
		<xsd:annotation>
			<xsd:documentation>Name/contact information for the agent</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Name" type = "pType:PersonName">
				<xsd:annotation>
					<xsd:documentation>Person name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ContactName" type = "pType:PersonName" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation>Contact name (if different to person name)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ContactDetails" type = "pType:ShortContactDetails">
				<xsd:annotation>
					<xsd:documentation>Contact phone number/address</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "DXNumber" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Reference number?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 3:  Site Location -->
	
	<xsd:complexType name = "SiteLocation">
		<xsd:annotation>
			<xsd:documentation>Location of the site</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "SameAsApplicant" type = "xsd:boolean"/>
			<xsd:element ref = "pType:ExternalAddress"/>
			<xsd:element name = "OtherLocation" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>If there is no address, a free-text description of where it is</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 4:   Description of Proposals -->
	
	<xsd:complexType name = "ProposalDescription">
		<xsd:annotation>
			<xsd:documentation>Generic description of the proposal</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Description" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 5:   Type of Application -->
	
	
	<!--<xsd:element name="Type.ReservedMatters">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Siting" type="xsd:boolean"/>
				<xsd:element name="Design" type="xsd:boolean"/>
				<xsd:element name="ExternalAppearance" type="xsd:boolean"/>
				<xsd:element name="MeansOfAccess" type="xsd:boolean"/>
				<xsd:element name="Landscaping" type="xsd:boolean"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.ProposalType">
		<xsd:annotation>
			<xsd:documentation>Types of proposal</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="NewBuilding" type="xsd:boolean"/>
				<xsd:element name="AlterBuilding" type="xsd:boolean"/>
				<xsd:element name="ChangeUse" type="xsd:boolean"/>
				<xsd:element name="Demolition" type="xsd:boolean"/>
				<xsd:element name="OtherOperation" type="xsd:boolean"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.ReferenceNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Generic reference number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Type.PrevDecisionDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date of any previous decisions</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Type.ConditionNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Ref # for a condition.  should this be an int or a string?</xsd:documentation>
		</xsd:annotation>
	</xsd:element>-->
	
	
	<!-- Should be int? -->
	
	
	<!--<xsd:element name="Type.Outline">
		<xsd:annotation>
			<xsd:documentation>Type of application:  Outlne</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReservedMatters"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.Approval">
		<xsd:annotation>
			<xsd:documentation>Type of application: Approval of Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReservedMatters"/>
				<xsd:element ref="Type.ReferenceNumber"/>
				<xsd:element ref="Type.PrevDecisionDate"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.Full">
		<xsd:annotation>
			<xsd:documentation>Type of application: Full</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.RenewTemp">
		<xsd:annotation>
			<xsd:documentation>Type of application: Renewal of temporary permission</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReferenceNumber"/>
				<xsd:element ref="Type.PrevDecisionDate"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.RenewUnexp">
		<xsd:annotation>
			<xsd:documentation>Type of application: Renewal of unexpired permission</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReferenceNumber"/>
				<xsd:element ref="Type.PrevDecisionDate"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.Removal">
		<xsd:annotation>
			<xsd:documentation>Type of application: Removal of condition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReferenceNumber"/>
				<xsd:element ref="Type.PrevDecisionDate"/>
				<xsd:element ref="Type.ConditionNumber"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Type.Variation">
		<xsd:annotation>
			<xsd:documentation>Type of application: Variation of condition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Type.ReferenceNumber"/>
				<xsd:element ref="Type.PrevDecisionDate"/>
				<xsd:element ref="Type.ConditionNumber"/>
				<xsd:element ref="Type.ProposalType"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfApplication">
		<xsd:annotation>
			<xsd:documentation>The type of application</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Type.Outline"/>
			<xsd:element ref="Type.Approval"/>
			<xsd:element ref="Type.Full"/>
			<xsd:element ref="Type.RenewTemp"/>
			<xsd:element ref="Type.RenewUnexp"/>
			<xsd:element ref="Type.Removal"/>
			<xsd:element ref="Type.Variation"/>
		</xsd:choice>
	</xsd:complexType>-->
	
	<xsd:complexType name = "TypeOfApplication">
		<xsd:annotation>
			<xsd:documentation>The type of application</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Type">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "OUTLINE"/>
						<xsd:enumeration value = "APPROVAL"/>
						<xsd:enumeration value = "FULL"/>
						<xsd:enumeration value = "RENEWELTEMP"/>
						<xsd:enumeration value = "RENEWELUNEXPIRED"/>
						<xsd:enumeration value = "CONDITIONREMOVAL"/>
						<xsd:enumeration value = "CONDITIONVARIATION"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name = "OutlineOrApproval" type = "xsd:string"/>
			<xsd:element name = "ExistingRefNo" type = "xsd:string"/>
			<xsd:element name = "PreviousDecisionDate" type = "xsd:date"/>
			<xsd:element name = "ConditionNo" type = "xsd:string"/>
			<xsd:element name = "ProposalType" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 6:   Access -->
	
	
	<!--	<xsd:complexType name="AccessType">
		<xsd:all>
			<xsd:element name="Pedestrian" minOccurs="0"/>
			<xsd:element name="Vehicular" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="Access">
		<xsd:annotation>
			<xsd:documentation>The types of access available/proposed</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<xsd:element name="Effected" type="AccessType" minOccurs="1"/>
			<xsd:element name="Proposed" type="AccessType" minOccurs="1"/>
			
			<xsd:element name="Effected" type="AccessType" minOccurs="1"/>
			<xsd:element name="Proposed" type="AccessType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>-->
	
	<xsd:complexType name = "Access">
		<xsd:sequence>
			<xsd:element name = "IsAccessAffected" type = "xsd:boolean"/>
			<xsd:element name = "AccessAffected" type = "xsd:string"/>
			<xsd:element name = "IsAccessProposed" type = "xsd:boolean"/>
			<xsd:element name = "AccessProposed" type = "xsd:string"/>
			<xsd:element name = "DisabilityAccess" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 7   Other Information -->
	
	<xsd:complexType name = "OtherInformation">
		<xsd:annotation>
			<xsd:documentation>Additional planning information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Disabilities" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "AddPlant" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "RemovePlant" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "StoreRefuse" type = "xsd:boolean" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 8   Submitted Drawings -->
	
	<xsd:complexType name = "SubmittedDrawings">
		<xsd:annotation>
			<xsd:documentation>A list of plans submitted</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Plan" type = "Plan" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 9   Site Area & Floorspace -->
	
	
	<!-- for parts 9.5/9.6/9.7 does the back end fill in the unit types or do we declare another type? -->
	
	<xsd:complexType name = "SiteArea">
		<xsd:annotation>
			<xsd:documentation>Site area and floorspace</xsd:documentation>
		</xsd:annotation>
		<!--<xsd:element ref="pType:Area" minOccurs="0"/>-->
		<xsd:sequence>
			<xsd:element name = "SiteAreaValues" type = "xsd:string"/>
			<xsd:element name = "Units" type = "xsd:string"/>
			<xsd:element name = "FrontageSize" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "ExistingFloorspace" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "ProposedFloorspace" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "ChangeUseFloorspace" type = "xsd:int" minOccurs = "0"/>
			<xsd:element name = "RemoveBuildingPart" type = "xsd:boolean" minOccurs = "0"/>
			<xsd:element name = "Plan" type = "Plan" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 10   Existing uses -->
	
	<xsd:complexType name = "ExistingUses">
		<!--  More stuff to add from other forms -->
		<xsd:sequence>
			<xsd:element name = "CurrentUse" type = "xsd:string"/>
			<xsd:element name = "PreviousUse" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 11   Materials -->
	
	<xsd:complexType name = "Materials">
		<xsd:sequence>
			<xsd:element name = "Walls" type = "xsd:string"/>
			<xsd:element name = "Roof" type = "xsd:string"/>
			<xsd:element name = "Boundaries" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 12   Height -->
	
	<xsd:complexType name = "Height">
		<xsd:sequence>
			<xsd:element name = "PropHeight" type = "xsd:int">
				<xsd:annotation>
					<xsd:documentation>Higth of proposal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 13   Details -->
	
	
	<!--<xsd:element name="ApplicationFor">
    <xsd:annotation>
      <xsd:documentation>Is the application used for any of these purposes...</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="Industry" type="xsd:boolean"/>
        <xsd:element name="Office" type="xsd:boolean"/>
        <xsd:element name="Warehousing" type="xsd:boolean"/>
        <xsd:element name="Storage" type="xsd:boolean"/>
        <xsd:element name="Shopping" type="xsd:boolean"/>
        <xsd:element name="GeneralCommerical" type="xsd:boolean"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>-->
	
	<xsd:complexType name = "Details">
		<xsd:sequence>
			<xsd:element name = "RetroApplication" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Retrospective application yes/no</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ApplicationFor" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 14   Interest -->
	
	<xsd:complexType name = "Interest">
		<xsd:annotation>
			<xsd:documentation>Interest the applicant has in teh proposal</xsd:documentation>
		</xsd:annotation>
		<!--<xsd:attribute name="Type">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Owner"/>
          <xsd:enumeration value="Lessee"/>
          <xsd:enumeration value="PropectivePurchaser"/>
          <xsd:enumeration value="Other"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>-->
		<xsd:sequence>
			<xsd:element name = "ApplicantInterest" type = "xsd:string"/>
			<xsd:element name = "OtherDetails" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "OwnAdjoining" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Applicant ows/controls adjoining land</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "CouncilOwned" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Has any part of teh site ever been in council ownership</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 15   Pubilc rights of way -->
	
	<xsd:complexType name = "PublicRightOfWay">
		<xsd:annotation>
			<xsd:documentation>Effects on public rights of way</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "IsAltering" type = "xsd:boolean"/>
			<xsd:element name = "IsAdjacent" type = "xsd:boolean"/>
			<xsd:element name = "Plan" type = "Plan" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 16   Car Parking -->
	
	<xsd:complexType name = "Parking">
		<xsd:annotation>
			<xsd:documentation>Effects on parking</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Cars" type = "TableRow"/>
			<xsd:element name = "GoodsVehicle" type = "TableRow"/>
			<xsd:element name = "MotorCycle" type = "TableRow"/>
			<xsd:element name = "Disability" type = "TableRow"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 17   Drainage -->
	
	<xsd:complexType name = "Drainage">
		<xsd:annotation>
			<xsd:documentation>Drainage issues</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "SurfaceWater" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Method of disposal of surface water</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "FoulSewage" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Method of disposal of foul water</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "SepticTankGroundInvestigated" type = "xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 18   Previous Applications -->
	
	<xsd:complexType name = "PreviousApplications">
		<xsd:annotation>
			<xsd:documentation>Any previous applications</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "AnyPreviousApplications" type = "xsd:boolean"/>
			<xsd:element ref = "DocRef" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 19   Planning Fee -->
	
	<xsd:complexType name = "PlanningFee">
		<!--<xsd:element name="Fee" type="pType:Fee"/>-->
		
		<!-- change this??? -->
		<xsd:sequence>
			<xsd:element name = "IsEnclosed" type = "xsd:boolean"/>
			<xsd:element name = "FeeAmount" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 20   Residential Information -->
	
	<xsd:element name = "ResidentialUnitChanges">
		<xsd:annotation>
			<xsd:documentation>Changes to the number of residentail units</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "House" type = "TableRow"/>
				<xsd:element name = "Flat" type = "TableRow"/>
				<xsd:element name = "Bedsit" type = "TableRow"/>
				<xsd:element name = "Other" type = "TableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "LandType">
		<xsd:annotation>
			<xsd:documentation>Possible land types</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "Brownfield"/>
				<xsd:enumeration value = "Greenfield"/>
				<xsd:enumeration value = "Unknown"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "ResidentialInformation">
		<xsd:sequence>
			<xsd:element ref = "LandType"/>
			<xsd:element ref = "ResidentialUnitChanges"/>
			<xsd:element name = "Net" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 21   Industrial Or Commercial -->
	
	<xsd:complexType name = "IndustrialUse">
		<xsd:sequence>
			<xsd:element name = "ProcessesAndProducts" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of processes carries out and the end products</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Machinery" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Type of machinery to be installed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 22   Related Development -->
	
	<xsd:complexType name = "RelatedDevelopment">
		<xsd:annotation>
			<xsd:documentation>Description of any related developments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "ExistingUseNearby" type = "xsd:boolean"/>
			<xsd:element name = "ExistingUseNearbyDetails" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "LargerScheme" type = "xsd:boolean"/>
			<xsd:element name = "LargerSchemeDetails" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 23   Floorspace -->
	
	<xsd:element name = "FloorspaceChanges">
		<xsd:annotation>
			<xsd:documentation>Describes the amount of floorspace/changes to floorspace</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "Shop" type = "FloorspaceTableRow"/>
				<xsd:element name = "ProfessionalFinancial" type = "FloorspaceTableRow"/>
				<xsd:element name = "Restaurant" type = "FloorspaceTableRow"/>
				<xsd:element name = "Office" type = "FloorspaceTableRow"/>
				<xsd:element name = "Industrial" type = "FloorspaceTableRow"/>
				<xsd:element name = "Warehouse" type = "FloorspaceTableRow"/>
				<xsd:element name = "Hotel" type = "FloorspaceTableRow"/>
				<xsd:element name = "Other" type = "FloorspaceTableRow"/>
				<xsd:element name = "Total" type = "FloorspaceTableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "Floorspace">
		<xsd:sequence>
			<xsd:element ref = "FloorspaceChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 24   Employment -->
	
	<xsd:element name = "EmploymentChanges">
		<xsd:annotation>
			<xsd:documentation>Describes chagnes in the number of people employeed</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "Existing" type = "EmploymentTableRow"/>
				<xsd:element name = "Proposed" type = "EmploymentTableRow"/>
				<xsd:element name = "Net" type = "EmploymentTableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "Employment">
		<xsd:sequence>
			<xsd:element ref = "EmploymentChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 25   Traffic Flow -->
	
	<xsd:element name = "TrafficFlowChanges">
		<xsd:annotation>
			<xsd:documentation>Describe the change in the number of vehicles</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "Car" type = "TableRow"/>
				<xsd:element name = "HGV" type = "TableRow"/>
				<xsd:element name = "Other" type = "TableRow"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "TrafficFlow">
		<xsd:sequence>
			<xsd:element ref = "TrafficFlowChanges"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 26   Servicing -->
	
	<xsd:complexType name = "Servicing">
		<xsd:sequence>
			<xsd:element name = "VehicleProvision" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Provisions that will be made for loading/unloading and turning of vehicles</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 27   Hours of working/opening -->
	
	<xsd:complexType name = "TimePeriod">
		<xsd:annotation>
			<xsd:documentation>A length of time, with a start and end date/time</xsd:documentation>
		</xsd:annotation>
		<!-- is there a time format? -->
		<xsd:sequence>
			<xsd:element name = "StartTime" type = "xsd:dateTime"/>
			<xsd:element name = "StopTime" type = "xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "HoursOfWorkTableRow">
		<xsd:sequence>
			<xsd:element name = "Existing" type = "TimePeriod"/>
			<xsd:element name = "Proposed" type = "TimePeriod"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "HoursOfWorkTable">
		<xsd:annotation>
			<xsd:documentation>Table describing a set of timeperiods, one for each day of the week</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Mon" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Tue" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Wed" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Thu" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Fri" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Sat" type = "HoursOfWorkTableRow"/>
			<xsd:element name = "Sun" type = "HoursOfWorkTableRow"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "HoursOfWork">
		<xsd:annotation>
			<xsd:documentation>The hours that people will be working at the site, and the opening hours of the site</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Working" type = "HoursOfWorkTable">
				<xsd:annotation>
					<xsd:documentation>The working hours of the site</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Opening" type = "HoursOfWorkTable">
				<xsd:annotation>
					<xsd:documentation>The opening hours of the site</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 28   Hazardous Substances -->
	
	<xsd:element name = "HazardousMaterial">
		<xsd:annotation>
			<xsd:documentation>Description of hazardous materials to be handled</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element name = "Name" type = "xsd:string"/>
				<xsd:element name = "Quantity" type = "xsd:integer"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "HazardousSubstances">
		<xsd:annotation>
			<xsd:documentation>Description of both hazardous materials and trade waste</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "TradeWaste" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of the nature/volume and means of disposal of trade waste</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "HazardousStorage" type = "xsd:boolean"/>
			<xsd:element ref = "HazardousMaterial" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- more edits may need to be done to the schema from this point -->
	
	
	<!-- Section 29   Previous History -->
	
	<xsd:complexType name = "PreviousHistory">
		<xsd:annotation>
			<xsd:documentation>References to previous applications</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref = "DocRef" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 30   Application Type -->
	
	<xsd:complexType name = "ListedBuildingAppType">
		<xsd:sequence>
			<xsd:element name = "ListedBuilding" maxOccurs = "unbounded">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Demolition"/>
						<xsd:enumeration value = "Alteration"/>
						<xsd:enumeration value = "Extention"/>
						<xsd:enumeration value = "ChangeCondition"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name = "ConservationArea" maxOccurs = "unbounded">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Demolition"/>
						<xsd:enumeration value = "ChangeCondition"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 31   Building Information -->
	
	<xsd:complexType name = "BuildingInformation">
		<xsd:sequence>
			<xsd:element name = "Grade" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "1"/>
						<xsd:enumeration value = "2"/>
						<xsd:enumeration value = "2*"/>
						<xsd:enumeration value = "Ecclesiastical"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name = "Type" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 32   Proposed Works and Materials -->
	
	<xsd:complexType name = "ProposedWorks">
		<xsd:annotation>
			<xsd:documentation>Detailed description of changes to be made</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Exterior">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Works" type = "xsd:string"/>
						<xsd:element name = "Materials" type = "xsd:string"/>
						<xsd:element name = "Colors" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Interior">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Works" type = "xsd:string"/>
						<xsd:element name = "Materials" type = "xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Boundaries" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 33   Grant Aid -->
	
	<xsd:complexType name = "GrantAid">
		<xsd:annotation>
			<xsd:documentation>Information about any grants/aid packages provided for the building</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "HasAid" type = "xsd:boolean"/>
			<xsd:element name = "Description" type = "xsd:string" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 34   Type of Existing Development/Use -->
	
	<xsd:element name = "ExistingDevelopmentType">
		<xsd:annotation>
			<xsd:documentation>Types of existing development</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name = "ResidentialGT4" type = "xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Residential use began more than 4 years ago</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name = "UseGT10" type = "xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Use began more than 10 years ago</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name = "UseBreachOfPermissionGT10">
					<xsd:annotation>
						<xsd:documentation>Use began more than 10 years ago in breach of a planning permission condition</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name = "RefNo" type = "xsd:string"/>
							<xsd:element name = "DecisionDate" type = "xsd:date"/>
							<xsd:element name = "ConditionNo" type = "xsd:string"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "UseNoPermissionGT10" type = "xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Use began within last 10 years not requiring planning permission at the time</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name = "WorksGT10" type = "xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>Building works/operations began more than 4 years ago</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name = "PermittedDevelopment">
					<xsd:annotation>
						<xsd:documentation>Falls within the category of Permitted Development</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name = "BasisOfClaim" type = "xsd:string"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Other">
					<xsd:annotation>
						<xsd:documentation>Other (claims change of use/operation was not development or has planning permission)</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name = "BasisOfClaim" type = "xsd:string"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "ExistingDevelopmentUse">
		<xsd:sequence>
			<xsd:element ref = "ExistingDevelopmentType"/>
			<xsd:element name = "Date" type = "xsd:date">
				<xsd:annotation>
					<xsd:documentation>Date Use Commenced / Development Completed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 35   Supporting Evidence -->
	
	<xsd:complexType name = "SupportingEvidence">
		<xsd:annotation>
			<xsd:documentation>Statement of Case Why Applicant Thinks Certificate Should be Granted</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Evidence" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 37   Proposed Uses -->
	
	<xsd:element name = "ProposedUses.Type">
		<xsd:annotation>
			<xsd:documentation>Types of proposed use</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name = "Temporary">
					<xsd:complexType>
						<xsd:all>
							<xsd:element ref = "Duration"/>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name = "Permanent"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "ProposedUses">
		<xsd:sequence>
			<xsd:element name = "Description" type = "xsd:string"/>
			<xsd:element name = "IsStarted" type = "xsd:boolean"/>
			<xsd:element ref = "ProposedUses.Type"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 39   Illumination -->
	
	<xsd:complexType name = "Illumination">
		<xsd:sequence>
			<xsd:element name = "Frequency">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "Static"/>
						<xsd:enumeration value = "Intermittent"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name = "Amount" type = "xsd:integer"/>
		</xsd:sequence>
		<xsd:attribute name = "type">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:string">
					<xsd:enumeration value = "None"/>
					<xsd:enumeration value = "Internal"/>
					<xsd:enumeration value = "External"/>
					<xsd:enumeration value = "Floodlight"/>
					<xsd:enumeration value = "Halo"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- Section 40   Period of concent -->
	
	<xsd:complexType name = "PeriodOfConcent">
		<xsd:sequence>
			<xsd:element name = "Length">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:integer">
						<xsd:enumeration value = "1"/>
						<xsd:enumeration value = "2"/>
						<xsd:enumeration value = "3"/>
						<xsd:enumeration value = "4"/>
						<xsd:enumeration value = "5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 41   Additional Information -->
	
	<xsd:complexType name = "AdditionalInformation">
		<xsd:sequence>
			<xsd:element name = "Description" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 42   Type of tree or woodland application -->
	
	<xsd:complexType name = "TypeOfWoodlandApplication">
		<xsd:sequence>
			<xsd:element name = "ProtectByPresivationOrder" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Is the application to undertake works to tree(s) protected by a tree preservation order?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "TPONo" type = "xsd:string" minOccurs = "0"/>
			<xsd:element name = "SubjectToPlanningPermission" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Is the application for works to tree(s) that are subject to conditions of a planning permission.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "InConservationArea" type = "xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Is the application for works to tree(s) in a Conservation Area</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Section 43   Description of works to be carried out -->
	
	<xsd:complexType name = "Tree">
		<xsd:annotation>
			<xsd:documentation>Description of a tree</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "Type" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Type of tree</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Size">
				<xsd:annotation>
					<xsd:documentation>Dimentions of the tree</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name = "TrunkDiameter" type = "xsd:integer"/>
					<xsd:attribute name = "Height" type = "xsd:integer"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Position" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Position of the tree</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ScetchReference" type = "xsd:string" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>References to the tree on any scretchs/drawings atached</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "DescriptionOfWorks">
		<xsd:sequence>
			<xsd:element name = "ExistingTree" type = "Tree" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>Any existing trees</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Description" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of work</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "Reason" type = "xsd:string" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation>Reason for doing the work</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "ReplacementTrees" type = "Tree" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>Any replacement trees</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>