LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalDataInterchange/AdvertisementConsent.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<!-- uses only part of ExistingUses: 10.1 Current Use-->
		
		<!-- uses only part of Interest: 14.6 and 14.7 -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "SiteLocation" type = "SiteLocation"/>
				<xsd:element name = "ProposalDescription" type = "ProposalDescription"/>
				<xsd:element name = "ExistingUses" type = "ExistingUses"/>
				<xsd:element name = "Interest" type = "Interest"/>
				<xsd:element name = "Illumination" type = "Illumination"/>
				<xsd:element name = "PeriodOfConsent" type = "PeriodOfConsent"/>
				<xsd:element name = "AdditionalInformation" type = "AdditionalInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name = "PeriodOfConsent">
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>
</xsd:schema>