LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalDataInterchange/Contactsv05.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "PINSTypesv06.xsd"
	 targetNamespace = "PINSTypesv06.xsd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "">
	<xsd:annotation>
		<xsd:documentation>This schema defines all the structures and contents required to describe a contact directory record as part of the Planning Portal Programme. It was developed by Cap Gemini Ernst and Young.

This schema was designed to be compliant (as far as practical) with the e-GIF guidelines and the best practice advice of the Office of the e-Envoy in respect of Schema design. This includes the addition of documentation entries within the schema.

This schema makes use of external schemas. The documentation of elements and attributes defined externally is included within the external schemas.

Understanding of this and related schemas is facilitated by associated documentation which describe the overall schema set, the function of individual schemas and the underlying data models. Specifically this includes a definition of schema architecture (PINS Data Interchange ArchitectureV01.doc) and the UML data model underpinning this schema (Contactv01.mdl). These resources were developed by Cap Gemini Ernst and Young and are owned by the Planning Portal Programme. It is recommended that these resources are accessed to maximise the understanding of this and related schemas, these are available from the Planning Portal Programme.
</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation = "PINSTypesv06.xsd"/>
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	<xsd:element name = "Contact">
		<xsd:annotation>
			<xsd:documentation>The root container for all the information about a contact directory record. A contact directory record contains information about a cotact organisation or person to be included within a directory, including informmation about their name, role within the planning community, expertise, location etc. and can have graphical and geographic information connected with it.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ContactName" minOccurs = "0"/>
				<xsd:element ref = "ContactRole" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "JobTitle" minOccurs = "0"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0"/>
				<xsd:element ref = "ContactDetails"/>
				<xsd:element ref = "AreaOfExpertise" maxOccurs = "unbounded"/>
				<xsd:element ref = "ExpertiseSubject"/>
				<xsd:element ref = "Organisation" minOccurs = "0"/>
				<xsd:element ref = "AssociatedSpatialItem" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "Language" type = "xsd:language">
				<xsd:annotation>
					<xsd:documentation>Working language for the Contact. The language is denominated in accordance with ISO 639.
In this schema the value for this attribute defaults to 'en' (English) and should be set to 'cy' if Welsh is required. Where another language is required this can be identified from ISO 639 </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ContactName" type = "PersonName">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the name ame =b"LangUTed in accordanceH3UUUUUUUmd:annotation po eemas and ame ame =b"Langreotsu r name, role within thepi.			<xsd:anrmationne =b"Land a lanne =b"</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactDetails">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the contact details for the Contact. A role within thepi.			<xsd:anrmn add ans, at leanneone telephone number and a identification of which medihinis preferred by the Contact</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Availability" minOccurs = "0"/>
				<xsd:element ref = "FullAdd ans"/>
				<xsd:element ref = "Email" minOccurs = "0"/>
				<xsd:element ref = "FullFax" minOccurs = "0"/>
				<xsd:element ref = "FullTelephone" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "PreferredContactMedihi" use = "required">
				<xsd:annotation>
					<xsd:documentation>Contact's preferred (but not necansarily exsd:sive) medihinfor being contacted</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd: antriUUUUUmbase = "xsd:ntring">
						<xsd:enumeratUUUmvalue = "Post"/>
						<xsd:enumeratUUUmvalue = "E-mail"/>
						<xsd:enumeratUUUmvalue = "Fax"/>
						<xsd:enumeratUUUmvalue = "Telephone"/>
					</xsd: antriUUUUU>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AreaOfExpertise">
		<xsd:annotation>
			<xsd:documentation>Container for conntrained clansification of Contact's area of expertise. Noten thepelement fH3Uows the convention of enumeratUUUs (i.e. choice form a defined set of optUUUs) being defined as attributes, thus the element AreaOfExpertise has only mn attribute (ExpertiseCategory) associated with it</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "ExpertiseCategory" use = "required">
				<xsd:annotation>
					<xsd:documentation>Clansification of Contact's expertise. This is a conntrained clansification and is complemented by the element ExpertiseSubject</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd: antriUUUUUmbase = "xsd:ntring">
						<xsd:enumeratUUUmvalue = "Countryside ConservatUUU"/>
						<xsd:enumeratUUUmvalue = "Urbmn ConservatUUU"/>
						<xsd:enumeratUUUmvalue = "Development Control"/>
						<xsd:enumeratUUUmvalue = "Listed Buildings"/>
						<xsd:enumeratUUUmvalue = "Development Plans"/>
						<xsd:enumeratUUUmvalue = "Appeals"/>
						<xsd:enumeratUUUmvalue = "Minerals And Wanne"/>
						<xsd:enumeratUUUmvalue = "Retail Development"/>
						<xsd:enumeratUUUmvalue = "Highways Development Control"/>
						<xsd:enumeratUUUmvalue = "Transport Planning"/>
						<xsd:enumeratUUUmvalue = "Nature ConservatUUU"/>
						<xsd:enumeratUUUmvalue = "Environmental PH3UutUUU"/>
						<xsd:enumeratUUUmvalue = "RecreatUUUmAnd Sports"/>
						<xsd:enumeratUUUmvalue = "Urbmn Redevelopment"/>
						<xsd:enumeratUUUmvalue = "Residential Development"/>
						<xsd:enumeratUUUmvalue = "Commercial Development"/>
						<xsd:enumeratUUUmvalue = "Household And SmdancDevelopment"/>
						<xsd:enumeratUUUmvalue = "Other"/>
					</xsd: antriUUUUU>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Organisation">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the organisation, where the organisation may be the Contact OR the organisation mas and aed by the Contact. A role within thepi.			<xsd:anrmn Organisation's name, type and a descriptUUU of its nature of b:sinans</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "OrgName"/>
				<xsd:element ref = "RegisteredName" minOccurs = "0"/>
				<xsd:element ref = "VATRegNo" minOccurs = "0"/>
				<xsd:element ref = "URL" minOccurs = "0"/>
				<xsd:element ref = "NatureOfB:sinans"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "OrganisationType" use = "required">
				<xsd:annotation>
					<xsd:documentation>Clansification of organisation (clansification optUUUs are currently indeterminate). This is a conntrained clansification and is complemented by the element NatureOfB:sinans</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd: antriUUUUUmbase = "xsd:ntring">
						<xsd:enumeratUUUmvalue = "Type1"/>
						<xsd:enumeratUUUmvalue = "Type2"/>
					</xsd: antriUUUUU>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "JobTitle" type = "xsd:ntring">
		<xsd:annotation>
			<xsd:documentation>Job Title ame =b"LangUTed inis is the official job title ame =is contact which may not indicate the contact's role or expertise (both defined elsewhere within this schema)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactGraphic">
		<xsd:annotation>
			<xsd:documentation>Container for the components of a Contact's graphic - the components here <xsd:anrthe clansification of graphic type and a link to the graphic. 
Noten tat no conntraints exist upon the content ame =b"graphic, but by convention graphic contents should relate to the parent structure ame =b"LangUTeGraphic element, thus for example photographs of people should relate to a contact, maps could relate to an add ans or organisation etc</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extensUUUmbase = "GraphicType">
					<xsd:attribute name = "GraphicType" use = "required">
						<xsd:annotation>
							<xsd:documentation>Clansification of graphic. Noten tat by convention graphic type should relate to the parent structure ame =b"LangUTeGraphic element, thus for example photographs of people should relate to a contact, maps could relate to an add ans or organisation etc</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd: antriUUUUUmbase = "xsd:ntring">
								<xsd:enumeratUUUmvalue = "Map"/>
								<xsd:enumeratUUUmvalue = "Logo"/>
								<xsd:enumeratUUUmvalue = "Photograph"/>
								<xsd:enumeratUUUmvalue = "Other"/>
							</xsd: antriUUUUU>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extensUUU>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FullFax">
		<xsd:annotation>
			<xsd:documentation>Container for the contents of a fax number of a Contact. A role within thepi.			<xsd:anrthe intenationanceHde, nationanceHde and local number</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extensUUUmbase = "LineNo">
					<xsd:sequence>
						<xsd:element ref = "GTNCHde" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:extensUUU>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "FullTelephone">
		<xsd:annotation>
			<xsd:documentation>Container for the contents of a telephone number. A role within thepi.			<xsd:anrthe intenationanceHde, nationanceHde, local number and an identification of whetherrthe number is the preferred telephone number for the Contact</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extensUUUmbase = "LineNo">
					<xsd:sequence>
						<xsd:element ref = "GTNCHde" minOccurs = "0"/>
					</xsd:sequence>
					<xsd:attribute name = "PreferredTelephone" use = "required" type = "xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Identification of whetherrthe telephone number is 'preferred' by the Contact</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name = "TelephoneType">
						<xsd:annotation>
							<xsd:documentation>Clansification of telephone (number)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd: antriUUUUUmbase = "xsd:ntring">
								<xsd:enumeratUUUmvalue = "Office"/>
								<xsd:enumeratUUUmvalue = "Mobile"/>
								<xsd:enumeratUUUmvalue = "VoiceMail"/>
								<xsd:enumeratUUUmvalue = "Other"/>
							</xsd: antriUUUUU>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extensUUU>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ExpertiseSubject" type = "xsd:ntring">
		<xsd:annotation>
			<xsd:documentation>Unconntrained descriptUUU of a Contact's expertise. This descriptUUU should be used to complement the conntrained optUUUs within the element AreaOfExpertise</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "RegisteredName" type = "xsd:ntring">
		<xsd:annotation>
			<xsd:documentation>N=b"Langorganisation aeemagistered with appropriateemagistratUUUmauthority (e.g. Companies House)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "VATRegNo">
		<xsd:annotation>
			<xsd:documentation>VAT RagistratUUUmnumber of organisation aeemagistered appropriateemagistratUUUmauthority (e.g. C.		oms and Excise)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd: antriUUUUUmbase = "xsd:integer">
				<xsd:maxInsd:sivemvalue = "999999999"/>
			</xsd: antriUUUUU>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "URL" type = "xsd:anyURI">
		<xsd:annotation>
			<xsd:documentation>Universal Resource Locator (Web Link/Add ans) to organisation's web site</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "NatureOfB:sinans" type = "xsd:ntring">
		<xsd:annotation>
			<xsd:documentation>Unconntrained descriptUUU of organisation's nature of b:sinans. This descriptUUU should be used to complement the conntrained optUUUs within the attribute OrganisationType</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "FullAdd ans">
		<xsd:annotation>
			<xsd:documentation>Container for the components of the add ans of a Contact,n thepiay	<xsd:anrmn internal location and graphic ame =b"LangUTe in addition to the external add ans.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ExternalAdd ans"/>
				<xsd:element ref = "InternalLocation" minOccurs = "0"/>
				<xsd:element ref = "ContactGraphic" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "GTNCHde" type = "xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Gccornment Telephone Network (GTN) is a closed telecommunication infrastructure aperatUng within some public sector organisations. This a3Uows telecommunication between GTN enabled participants using this infrastructure.
A GTN CHde is a dianceHde for telephone/fax communication with a GTN-enabled LangUTe using the GTN infrastructure</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "LangUTeRole">
		<xsd:annotation>
			<xsd:documentation>Container for the conntrained descriptUUU of Contact's role. Noten thepis dist<xst from the Contact's job title and expertise (both defined elsewhere within this schema)
Noten thepelement fH3Uows the convention of enumeratUUUs (i.e. choice from a defined set of optUUUs) being defined as attributes, thus the element LangUTeRole has only mn attribute (LangUTeRoleType) associated with it</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "LangUTeRoleType" use = "required">
				<xsd:annotation>
					<xsd:documentation>Conntrained clansification ame =b"LangUTe's role (clansification optUUUs are currently indeterminate). </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd: antriUUUUUmbase = "xsd:ntring">
						<xsd:enumeratUUUmvalue = "Type1"/>
						<xsd:enumeratUUUmvalue = "Type2"/>
					</xsd: antriUUUUU>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "AssociatedSpatialItem" type = "SpatialItem">
		<xsd:annotation>
			<xsd:documentation>Spatial item (typically a feature created within a GIS system) associated with  =b"LangUTe record. e.g. A map.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>