LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalDataInterchange/modifiedgmlpacket.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "modifiedgmlpacket.xsd"
	 xmlns:mpak = "modifiedgmlpacket.xsd"
	 xmlns:gml = "http://www.opengis.net/gml"
	 version = "0.5"
	 elementFormDefault = "qualified"
	 finalDefault = "#all">
	<import namespace = "http://www.opengis.net/gml" schemaLocation = "feature.xsd"/>
	<annotation>
		<documentation>gmlpacket.xsd v0.5 2001-02</documentation>
		<documentation xml:lang = "en">
      GML schema for simple data transfer.
    </documentation>
	</annotation>
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
	
	
	<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema

Schema is a modified version of the gmlpacket.xsd schema from OGC, main modification is the elimination of the remoteSchema attribute from the packetMember type-->
	
	
	<!--  File: gmlpacket.xsd  -->
	
	
	<!-- import constructs from the GML Feature and Geometry schemas -->
	
	<element name = "gmlPacket" type = "mpak:GMLPacketType"/>
	<element name = "packetMember" type = "mpak:packetMemberType"/>
	<element name = "StaticFeature" type = "mpak:StaticFeatureType"/>
	<complexType name = "GMLPacketBaseType">
		<complexContent>
			<restriction base = "gml:AbstractFeatureCollectionType">
				<sequence>
					<element ref = "gml:description" minOccurs = "0"/>
					<element ref = "gml:name" minOccurs = "0"/>
					<element ref = "gml:boundedBy"/>
					<element ref = "mpak:packetMember" minOccurs = "0" maxOccurs = "unbounded"/>
				</sequence>
				<attribute name = "fid" type = "ID"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name = "GMLPacketType">
		<complexContent>
			<extension base = "mpak:GMLPacketBaseType">
				<sequence>
					<element name = "Metadata" type = "mpak:MetadataType" minOccurs = "0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name = "packetMemberType">
		<complexContent>
			<restriction base = "gml:FeatureAssociationType">
				<sequence minOccurs = "0">
					<element ref = "mpak:StaticFeature"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name = "MetadataType">
		<sequence>
			<element name = "origin" type = "string" minOccurs = "0"/>
			<element name = "title" type = "string" minOccurs = "0"/>
			<element name = "abstract" type = "string" minOccurs = "0"/>
		</sequence>
	</complexType>
	<complexType name = "StaticFeatureType">
		<complexContent>
			<extension base = "gml:AbstractFeatureType">
				<sequence>
					<element ref = "gml:pointProperty" minOccurs = "0"/>
					<element ref = "gml:polygonProperty" minOccurs = "0"/>
					<element ref = "gml:lineStringProperty" minOccurs = "0"/>
					<element name = "property" type = "mpak:PropertyType" minOccurs = "0" maxOccurs = "unbounded"/>
				</sequence>
				<attribute name = "featureType" use = "required" type = "string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name = "PropertyType">
		<sequence>
			<element name = "propertyName" type = "string"/>
			<element name = "value">
				<complexType>
					<simpleContent>
						<extension base = "string">
							<attribute name = "dataType" use = "required" type = "mpak:DataType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<simpleType name = "DataType">
		<restriction base = "string">
			<enumeration value = "string"/>
			<enumeration value = "integer"/>
			<enumeration value = "long"/>
			<enumeration value = "decimal"/>
			<enumeration value = "boolean"/>
			<enumeration value = "time"/>
			<enumeration value = "date"/>
		</restriction>
	</simpleType>
</schema>