LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalDataInterchange/PlanningApplication2.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "IndustrialUse" type = "IndustrialUse"/>
				<xsd:element name = "RelatedDevelopment" type = "RelatedDevelopment"/>
				<xsd:element name = "Floorspace" type = "Floorspace"/>
				<xsd:element name = "Employment" type = "Employment"/>
				<xsd:element name = "TrafficFlow" type = "TrafficFlow"/>
				<xsd:element name = "Servicing" type = "Servicing"/>
				<xsd:element name = "HoursOfWork" type = "HoursOfWork"/>
				<xsd:element name = "HazardousSubstances" type = "HazardousSubstances"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>