LinqToXsd.Schemas/UK CabinetOffice/PlanningPortalDataInterchange/PlanningApplication.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 targetNamespace = "http://hursley.ibm.com/schema/PlanningPortal/XForm"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:include schemaLocation = "PPForms.xsd"/>
	<xsd:element name = "form">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "SiteLocation" type = "SiteLocation"/>
				<xsd:element name = "ProposalDescription" type = "ProposalDescription"/>
				<xsd:element name = "TypeOfApplication" type = "TypeOfApplication"/>
				<xsd:element name = "Access" type = "Access"/>
				<xsd:element name = "OtherInformation" type = "OtherInformation"/>
				<xsd:element name = "Materials" type = "Materials"/>
				<xsd:element name = "SiteArea" type = "SiteArea"/>
				<xsd:element name = "PublicRightOfWay" type = "PublicRightOfWay"/>
				<xsd:element name = "ExistingUses" type = "ExistingUses"/>
				<xsd:element name = "ResidentialInformation" type = "ResidentialInformation"/>
				<xsd:element name = "Height" type = "Height"/>
				<xsd:element name = "Details" type = "Details"/>
				<xsd:element name = "Interest" type = "Interest"/>
				<xsd:element name = "Parking" type = "Parking"/>
				<xsd:element name = "Drainage" type = "Drainage"/>
				<xsd:element name = "PreviousApplications" type = "PreviousApplications"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>