LinqToXsd.Schemas/HR-XML/4.3.0 FINAL/Payroll/xml/WorkerPaidHoursReportType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="WorkerPaidHoursType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../../common/xml/base/EffectiveTimePeriodType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IndicatorType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/MonthType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/DayOfMonthType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IdentifierType.xsd" />
  <xsd:include schemaLocation="../../common/xml/codelist/TimeOffTypeCodeList.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NumberType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
  <xsd:include schemaLocation="../../common/xml/codelist/PayTypeCodeList.xsd" />
  <xsd:complexType name="PaidForWorkInPayPeriodType">
    <xsd:annotation>
      <xsd:documentation>Details on if the worker was paid in a particular month.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="includedDayOfMonth" type="hropen:DayOfMonthType">
        <xsd:annotation>
          <xsd:documentation>Specifies pay period that includes this day, i.e The person worked during this pay period that includes the 12th.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="reportedMonth" type="hropen:MonthType">
        <xsd:annotation>
          <xsd:documentation>The reported month.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="paidForWorkIndicator" type="hropen:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>Indicate if worker was paid in PayPeriodMonthDay and ReportedYearMonth.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="WorkedHoursType">
    <xsd:annotation>
      <xsd:documentation>Specifies the hours worked for a specific pay type. For example, 8 hours of holiday pay.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="workedPayTypeCode" type="hropen:PayTypeCodeList">
        <xsd:annotation>
          <xsd:documentation>Type of compensation, e.g. holiday, overtime, shift differential, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>A short phrase further describing the pay type.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="workedHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>Number of hours worked for a specific pay type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="TimeOffHoursType">
    <xsd:annotation>
      <xsd:documentation>The hours a worker took off. For example, 8 hours of vacation pay.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="timeOffTypeCode" type="hropen:TimeOffTypeCodeList">
        <xsd:annotation>
          <xsd:documentation>The type of hours a worker took off, such as bereavement, jury duty, vacation, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>A short phrase further describing the pay type.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="timeOffHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>Number of hours a worker took off.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="WorkerPaidHoursType">
    <xsd:annotation>
      <xsd:documentation>The hours a worker was paid for time off or actual time worked.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Alternative document IDs.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:integer" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                    <xsd:complexType>
                      <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList">
                          <xsd:annotation>
                            <xsd:documentation>The Country (represented by an ISO 3166 2 letter code) under which the data protection policy applies. If the policy applies to the world, the country is optional.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="countrySubDivisions">
                          <xsd:complexType>
                            <xsd:annotation>
                              <xsd:documentation>An optional further restriction or application of the data protection policy based on a region within the associated country. It should contain an ISO 3166-2 code for the country. Example would be 'US-CA' for California for further restrictions based on the CCPA regulation.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AddressComponentType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType">
                          <xsd:annotation>
                            <xsd:documentation>The description of the data protection policy (optionally associated with the country and optional region).</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:all>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="workerId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides a unique identifier to a specific worker (an employer specific identifier).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="reportingTimePeriod" type="hropen:EffectiveTimePeriodType">
        <xsd:annotation>
          <xsd:documentation>Defines the period of the hours paid and worked. 'As of date' would use the validTo date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="totalPaidHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The total number of hours for which a worker received pay. Includes all actual work hours and hours of employer-paid leave that were used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="totalWorkedHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The total number of hours a worker was engaged in a paid work activity, including regular and premium hours (overtime, shift differential), rest periods and stand-by time. Includes work hours for which compensatory time off was earned. Does not include any employer-paid leave time used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="totalPremiumWorkedHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The number of premium hours a worker actually worked, including stand-by time, for which a premium rate of compensation was paid. Includes overtime and hours for which shift differentials were paid such as night, holiday or weekend work. Includes hours for which compensatory time off was earned, if more than one hour of CTO was earned for each hour of actual work. Does not include any hours used of employer-paid leave time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="totalPaidTimeOffHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The total number of hours of employer-paid time used by a worker for any type of absence from work including vacation, sickness, bereavement, maternity, family care, jury duty, education, meals, military duty, administrative time off, sabbatical, or other personal leave. Includes hours of compensatory time off (CTO) when used. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="totalHolidayPaidTimeOffHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>When the employer offers such benefit as a separate accrued leave, the number of hours a worker was paid by the employer for absence from work on days of special religious, cultural, social, or patriotic significance, on which work and business ordinarily cease. Includes public and floating holiday paid leave.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="workedWeeks" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The number of weeks during which the worker earned, at a minimum, an amount of remuneration specified by the state based on time worked and paid leave taken.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="paidForWorkInPayPeriod">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Details on if the worker was paid in a particular month.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:PaidForWorkInPayPeriodType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="regularWorkedHours" type="hropen:NumberType">
        <xsd:annotation>
          <xsd:documentation>The number of hours a worker was engaged in a regular paid work activity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="premiumWorkedHours">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The number of hours a worker was engaged in a premium paid work activity, including premium hours (overtime, shift differential), rest periods and stand-by time. Includes work hours for which compensatory time off was earned. Does not include any employer-paid leave time used.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:WorkedHoursType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="paidTimeOffHours">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The number of hours of employer-paid time used by a worker for any type of absence from work including vacation, sickness, bereavement, maternity, family care, jury duty, education, meals, military duty, administrative time off, sabbatical, or other personal leave. Includes hours of compensatory time off (CTO) when used. </xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:TimeOffHoursType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="WorkerPaidHours" type="hropen:WorkerPaidHoursType" />
</xsd:schema>