GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/base/BinaryObjectType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="BinaryObjectType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BinaryObjectType">
    <xsd:annotation>
      <xsd:documentation>A binary object is a sequence of binary digits (bits) to represent a file. It is recommended to use base64 encoding.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="encoding">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="7bit" />
            <xsd:enumeration value="8bit" />
            <xsd:enumeration value="binary" />
            <xsd:enumeration value="quoted-printable" />
            <xsd:enumeration value="base64" />
            <xsd:enumeration value="ietf-token" />
            <xsd:enumeration value="x-token" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="mimeType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="filename">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="BinaryObject" type="hropen:BinaryObjectType" />
</xsd:schema>