GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/base/StatusType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="StatusType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="DateType.xsd" />
  <xsd:include schemaLocation="TextType.xsd" />
  <xsd:include schemaLocation="CodeType.xsd" />
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>Provide a status for an entity.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="statusCode" type="hropen:CodeType">
        <xsd:annotation>
          <xsd:documentation>The status of the entity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="statusDate" type="hropen:DateType">
        <xsd:annotation>
          <xsd:documentation>The date on which the status changed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="hropen:TextType">
        <xsd:annotation>
          <xsd:documentation>A description of the status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="reasonCode" type="hropen:CodeType">
        <xsd:annotation>
          <xsd:documentation>The reason for the status. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Status" type="hropen:StatusType" />
</xsd:schema>