GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Common/xml/base/TextType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.2.0" id="TextType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../codelist/LanguageCodeList.xsd" />
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>Text is a character string, such as a finite set of characters, generally in the form of words of a language.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="value">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>The text.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="languageCode" type="hropen:LanguageCodeList">
        <xsd:annotation>
          <xsd:documentation>The language of the text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="Text" type="hropen:TextType" />
</xsd:schema>