GeneratedSchemaLibraries/CellML/flattened/cellml_1_1.xsd

<?xml version='1.0'?>
<schema elementFormDefault="qualified" targetNamespace="http://www.cellml.org/cellml/1.1#"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cellml="http://www.cellml.org/cellml/1.1#"
    xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:xlink="http://www.w3.org/1999/xlink">
    <import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml2.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink-href.xsd"/>
    <element name="model" type="cellml:model">
        <key name="uniqueComponentName">
            <selector xpath="cellml:component | cellml:import/cellml:component"/>
            <field xpath="@name"/>
        </key>
        <unique name="UnitsName">
            <selector xpath="cellml:units | cellml:import/cellml:units"/>
            <field xpath="@name"/>
        </unique>
        <keyref name="connectionComponent1" refer="cellml:uniqueComponentName">
            <selector xpath="cellml:connection/cellml:map_components"/>
            <field xpath="@component_1"/>
        </keyref>
        <keyref name="connectionComponent2" refer="cellml:uniqueComponentName">
            <selector xpath="cellml:connection/cellml:map_components"/>
            <field xpath="@component_1"/>
        </keyref>
        <keyref name="componentRefExists" refer="cellml:uniqueComponentName">
            <selector xpath=".//cellml:component_ref"/>
            <field xpath="@component"/>
        </keyref>
    </element>
    <complexType name="model">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element name="import" type="cellml:import"/>
                <element name="units" type="cellml:units"/>
                <element name="component" type="cellml:component">
                    <unique name="uniqueComponentUnitsName">
                        <selector xpath="cellml:units"/>
                        <field xpath="@name"/>
                    </unique>
                    <key name="uniqueComponentVariableName">
                        <selector xpath="cellml:variable"/>
                        <field xpath="@name"/>
                    </key>
                    <keyref name="checkReactions" refer="cellml:uniqueComponentVariableName">
                        <selector xpath=".//cellml:variable_ref"/>
                        <field xpath="@variable"/>
                    </keyref>
                    <keyref name="checkRoleDelta" refer="cellml:uniqueComponentVariableName">
                        <selector xpath=".//cellml:role"/>
                        <field xpath="@delta_variable"/>
                    </keyref>
                    <unique name="uniqueDelta">
                        <selector xpath=".//cellml:role"/>
                        <field xpath="@delta_variable"/>
                    </unique>
                </element>
                <element name="group" type="cellml:group"/>
                <element name="connection" type="cellml:connection"/>
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="import">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element name="units" type="cellml:importedUnits"/>
                <element name="component" type="cellml:importedComponent"/>
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute ref="xlink:href" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="units">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element name="unit" type="cellml:unit"/>
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="base_units" type="cellml:yesno"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="unit">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="units" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="multiplier" type="double"/>
        <attribute name="prefix" type="cellml:unitPrefix"/>
        <attribute name="offset" type="double"/>
        <attribute name="exponent" type="double"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="component">
        <choice maxOccurs="unbounded" minOccurs="0">
            <element name="units" type="cellml:units"/>
            <element name="variable" type="cellml:variable"/>
            <element name="reaction" type="cellml:reaction"/>
            <element ref="mathml:math"/>
        </choice>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="group">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            <choice maxOccurs="1" minOccurs="1">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="relationship_ref"
                        type="cellml:relationshipRef"/>
                    <any maxOccurs="unbounded" minOccurs="0" namespace="##other"
                        processContents="skip"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="component_ref"
                        type="cellml:toplevelComponentRef"/>
                </sequence>
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="component_ref"
                        type="cellml:toplevelComponentRef"/>
                    <any maxOccurs="unbounded" minOccurs="0" namespace="##other"
                        processContents="skip"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="relationship_ref"
                        type="cellml:relationshipRef"/>
                </sequence>
            </choice>
            <choice maxOccurs="unbounded" minOccurs="0">
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="relationshipRef">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier"/>
        <attribute name="relationship" type="cellml:relationship"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="toplevelComponentRef">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            <element maxOccurs="unbounded" minOccurs="1" name="component_ref"
                type="cellml:componentRef"/>
            <choice maxOccurs="unbounded" minOccurs="0">
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="component" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="componentRef">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element name="component_ref" type="cellml:componentRef"/>
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="component" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="connection">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            <choice>
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="map_components"
                        type="cellml:mapComponents"/>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="map_variables"
                            type="cellml:mapVariables"/>
                        <choice maxOccurs="unbounded" minOccurs="0">
                            <element name="map_variables" type="cellml:mapVariables"/>
                            <any namespace="##other" processContents="skip"/>
                        </choice>
                    </sequence>
                </sequence>
                <sequence>
                    <sequence>
                        <element maxOccurs="1" minOccurs="1" name="map_variables"
                            type="cellml:mapVariables"/>
                        <choice maxOccurs="unbounded" minOccurs="0">
                            <element name="map_variables" type="cellml:mapVariables"/>
                            <any namespace="##other" processContents="skip"/>
                        </choice>
                    </sequence>
                    <element maxOccurs="1" minOccurs="1" name="map_components"
                        type="cellml:mapComponents"/>
                    <sequence>
                        <choice maxOccurs="unbounded" minOccurs="0">
                            <element name="map_variables" type="cellml:mapVariables"/>
                            <any namespace="##other" processContents="skip"/>
                        </choice>
                    </sequence>
                </sequence>
            </choice>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="importedUnits">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="units_ref" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="importedComponent">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="component_ref" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="variable">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="name" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="units" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="public_interface" type="cellml:interface"/>
        <attribute name="private_interface" type="cellml:interface"/>
        <attribute name="initial_value" type="cellml:initialValue"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="mapComponents">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <any namespace="##other" processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="component_1" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="component_2" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="mapVariables">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="variable_1" type="cellml:cellMLIdentifier" use="required"/>
        <attribute name="variable_2" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="reaction">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            <element maxOccurs="unbounded" minOccurs="1" name="variable_ref"
                type="cellml:variableRef"/>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="reversible" type="cellml:yesno"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="variableRef">
        <sequence>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
            <element maxOccurs="unbounded" minOccurs="1" name="role" type="cellml:role"/>
            <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
        </sequence>
        <attribute name="variable" type="cellml:cellMLIdentifier" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="role">
        <sequence>
            <choice maxOccurs="unbounded" minOccurs="0">
                <element ref="mathml:math"/>
            </choice>
        </sequence>
        <attribute name="role" type="cellml:roleType" use="required"/>
        <attribute name="direction" type="cellml:direction"/>
        <attribute name="delta_variable" type="cellml:cellMLIdentifier"/>
        <attribute name="stoichiometry" type="double"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <simpleType name="cellMLIdentifier">
        <restriction base="string">
            <pattern value="[a-z|A-Z|_]*[a-z|A-Z][a-z|A-Z|0-9|_]*"/>
        </restriction>
    </simpleType>
    <simpleType name="interface">
        <restriction base="string">
            <enumeration value="in"/>
            <enumeration value="out"/>
            <enumeration value="none"/>
        </restriction>
    </simpleType>
    <simpleType name="initialValue">
        <union>
            <simpleType>
                <restriction base="cellml:cellMLIdentifier"/>
            </simpleType>
            <simpleType>
                <restriction base="double"/>
            </simpleType>
        </union>
    </simpleType>
    <simpleType name="unitPrefix">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="yotta"/>
                    <enumeration value="zetta"/>
                    <enumeration value="exa"/>
                    <enumeration value="peta"/>
                    <enumeration value="tera"/>
                    <enumeration value="giga"/>
                    <enumeration value="mega"/>
                    <enumeration value="kilo"/>
                    <enumeration value="hecto"/>
                    <enumeration value="deka"/>
                    <enumeration value="deci"/>
                    <enumeration value="centi"/>
                    <enumeration value="milli"/>
                    <enumeration value="micro"/>
                    <enumeration value="nano"/>
                    <enumeration value="pico"/>
                    <enumeration value="femto"/>
                    <enumeration value="atto"/>
                    <enumeration value="zepto"/>
                    <enumeration value="yocto"/>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="integer"/>
            </simpleType>
        </union>
    </simpleType>
    <simpleType name="yesno">
        <restriction base="string">
            <enumeration value="yes"/>
            <enumeration value="no"/>
        </restriction>
    </simpleType>
    <simpleType name="relationship">
        <restriction base="string">
            <enumeration value="encapsulation"/>
            <enumeration value="containment"/>
        </restriction>
    </simpleType>
    <simpleType name="roleType">
        <restriction base="string">
            <enumeration value="reactant"/>
            <enumeration value="product"/>
            <enumeration value="catalyst"/>
            <enumeration value="activator"/>
            <enumeration value="inhibitor"/>
            <enumeration value="modifier"/>
            <enumeration value="rate"/>
        </restriction>
    </simpleType>
    <simpleType name="direction">
        <restriction base="string">
            <enumeration value="forward"/>
            <enumeration value="reverse"/>
            <enumeration value="both"/>
        </restriction>
    </simpleType>
</schema>
