LinqToXsd.Schemas/UK CabinetOffice/eDeliver-eis/Common_ed.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.17.0 (http://www.liquid-technologies.com)-->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Andrew Harding (The Rent Service) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Matt Best (Rent Service Project) -->
<xsd:schema xmlns:cmn="http://www.therentservice.gov.uk/schema/Common_ed.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.therentservice.gov.uk/schema/Common_ed.xsd" version="3.8A" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CommonSimpleTypes-v1-2_ed.xsd" />
  <xsd:annotation>
    <xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Creator>The Rent Service (helpdesk@therentservice.gov.uk)</Creator>
				<Date>
					<Created>2004-02-16</Created>
					<Updated>2007-07-04</Updated>
				</Date>
				<Description>Schema for the validation of PTD referrals</Description>
				<Identifier>Common_ed.xsd-edeliver_v1-1</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>The Rent Service, 5 Welbeck Street, London, W1G 9YQ</Publisher>
				<Subject>
					<Category>People, communities and living</Category>
					<Keyword>Housing Benefit</Keyword>
					<Keyword>Rent Service</Keyword>
				</Subject>
				<Title>Common datatypes for electronic Housing Benefit schemas</Title>
			</Metadata>
		</xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="Accomodation">
    <xsd:annotation>
      <xsd:documentation>Accomodation Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SRRRequired" type="xsd:boolean" />
      <xsd:element name="Dwelling" type="cmn:Dwelling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Address">
    <xsd:annotation>
      <xsd:documentation>Address Type Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="UKAddress" type="cmn:UKPostalAddressStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmountPerPeriod">
    <xsd:annotation>
      <xsd:documentation>Amount Per Period Type Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AmountPerPeriod">
        <xsd:annotation>
          <xsd:documentation>Amount per period - Note WeeksSpreadOver attribute is required if TimePeriod is set "Per Week"</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
              <xsd:attribute name="TimePeriod" type="cmn:TypeTimePeriod" use="required" />
              <xsd:attribute name="WeeksSpreadOver" type="xsd:decimal" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Board">
    <xsd:annotation>
      <xsd:documentation>Meals Included</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:annotation>
        <xsd:documentation>Choice of None or various Meals that can be used in combination</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="None" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>True if No Meals are Provided. If Meals Are provided specify by selection</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="FullBoard" type="cmn:YesNoType">
          <xsd:annotation>
            <xsd:documentation>Full Board Provided</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="Breakfast" type="cmn:YesNoType">
            <xsd:annotation>
              <xsd:documentation>Breakfast Provided</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Lunch" type="cmn:YesNoType">
            <xsd:annotation>
              <xsd:documentation>Lunch Provided</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="EveningMeal" type="cmn:YesNoType">
            <xsd:annotation>
              <xsd:documentation>Evening Meal Provided</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AuthorityContact">
    <xsd:annotation>
      <xsd:documentation>Local Authority Contact</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Person" type="cmn:CitizenNameStructure" />
      <xsd:element minOccurs="0" name="Telephone" type="cmn:OfficeTelephone" />
      <xsd:element minOccurs="0" name="EMailAddress" type="cmn:EmailStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dwelling">
    <xsd:annotation>
      <xsd:documentation>Specifies the dwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DwellingType" type="cmn:DwellingType" />
      <xsd:element name="DwellingDetail" type="cmn:DwellingDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DwellingDetail">
    <xsd:annotation>
      <xsd:documentation>Specifies Dwelling Floors and Rooms</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CentralHeating" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>True if dwelling is centarlly heated</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParkingSpace" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>ParkingSpace</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Garage" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>Garage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Garden" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>True if dwelling has a garden</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumberofFloors">
        <xsd:annotation>
          <xsd:documentation>Specifies number of floors in the dwelling</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:maxInclusive value="100" />
            <xsd:minInclusive value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Floors">
        <xsd:annotation>
          <xsd:documentation>Specifies The Floors That Are Used Under The Tenancy - See Attribute List</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="Basement" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="Ground" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="First" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="Second" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="Third" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="Fourth" type="cmn:YesNoType" use="optional" />
          <xsd:attribute name="Fifth" type="cmn:YesNoType" use="optional" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Rooms" type="cmn:Rooms">
        <xsd:annotation>
          <xsd:documentation>Specifies The Number Of Rooms For Sole Use And Shared Use In A Variety Of Categories</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DwellingType">
    <xsd:annotation>
      <xsd:documentation>Describes the type of dwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:annotation>
        <xsd:documentation>Choice of one of the following items</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Room">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Room sub type attribute derived from Enumeration DwellingTypeRoom</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingRoom" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Rooms">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Rooms sub type attribute derived from Enumeration DwellingTypeRoom</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingRoom" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="House">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type House. Sub type attribute derived from Enumeration DwellingTypeHouse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingHouse" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PurposeBuiltFlat">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Purpose Built Flat. Sub type attribute derived from Enumeration DwellingTypeFlat</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingFlat" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConvertedFlat">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Converted Flat. Sub type attribute derived from Enumeration DwellingTypeFlat</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingFlat" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Bungalow">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Bungalow. Sub type attribute derived from Enumeration DwellingTypeHouse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingHouse" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Maisonette">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Maisonette. Sub type attribute derived from Enumeration DwellingTypeFlat</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingFlat" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Studio">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Studio Flat. Sub type attribute derived from Enumeration DwellingTypeFlat</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingFlat" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FlatOverCommercial">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Flat over commercial premises. Sub type attribute derived from Enumeration DwellingTypeFlat</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="DwellingType" type="cmn:TypeDwellingFlat" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Caravan" type="cmn:TypeDwellingCaravan">
        <xsd:annotation>
          <xsd:documentation>Dwelling Type Caravan. Sub type attribute derived from Enumeration DwellingTypeCaravan</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CaravanSite">
        <xsd:annotation>
          <xsd:documentation>No Sub Type Attribute required</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Houseboat">
        <xsd:annotation>
          <xsd:documentation>No Sub Type Attribute required</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Mooring">
        <xsd:annotation>
          <xsd:documentation>No Sub Type Attribute required</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bedspace">
        <xsd:annotation>
          <xsd:documentation>No Sub Type Attribute required</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Other">
        <xsd:annotation>
          <xsd:documentation>Used to describe unique Properties such as lihgthouses, windmills etc. Has a required attribute to describe the property</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="Description" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="HousingAssociation">
    <xsd:annotation>
      <xsd:documentation>Housing Association</xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="LocalAuthority">
    <xsd:annotation>
      <xsd:documentation>Local Authority Identifiers</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LACode">
        <xsd:annotation>
          <xsd:documentation>Local Authority Unique Code</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OfficeCode">
        <xsd:annotation>
          <xsd:documentation>Optional Local Authority Office Code</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:maxInclusive value="99" />
            <xsd:minInclusive value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Location">
    <xsd:annotation>
      <xsd:documentation>Location Within Property</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RoomNumber">
        <xsd:annotation>
          <xsd:documentation>Room Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="FloorNumber">
        <xsd:annotation>
          <xsd:documentation>Floor Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="xPosition" type="cmn:TypexSpacePosition">
        <xsd:annotation>
          <xsd:documentation>Description of Position (Centre, Left, Right)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="zPosition" type="cmn:TypezSpacePosition">
        <xsd:annotation>
          <xsd:documentation>Description of Position (Fromt, Middle, Rear)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description">
        <xsd:annotation>
          <xsd:documentation>Free Text Description</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="70" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Manifest">
    <xsd:annotation>
      <xsd:documentation>Document Manifest</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SenderRecipient" type="cmn:LocalAuthority">
        <xsd:annotation>
          <xsd:documentation>Identifies the Local Authority sending or receiving the document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Timestamp" type="cmn:Timestamp">
        <xsd:annotation>
          <xsd:documentation>Timestamp Data</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Occupant">
    <xsd:annotation>
      <xsd:documentation>Joint Occupant Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>Single Occurence</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="OccupantName" type="cmn:CitizenNameStructure" />
      <xsd:element name="Gender" type="cmn:SexType" />
      <xsd:element name="Relationship" type="cmn:Relationship">
        <xsd:annotation>
          <xsd:documentation>Specifies relationship of occupant to applicant</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DateofBirth" type="cmn:CitizenBirthDateStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Occupants">
    <xsd:annotation>
      <xsd:documentation>Specifies Occupants of Tenancy</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="Occupant" type="cmn:Occupant">
        <xsd:annotation>
          <xsd:documentation>Individual Occupant Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisation">
    <xsd:annotation>
      <xsd:documentation>Organisation Type Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrganisationName">
        <xsd:annotation>
          <xsd:documentation>Organisation Name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party">
    <xsd:annotation>
      <xsd:documentation>Party Type Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation>Party may be either an organisation or an individual</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="Organisation" type="cmn:Organisation">
          <xsd:annotation>
            <xsd:documentation>Organisation</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Individual" type="cmn:CitizenNameStructure">
          <xsd:annotation>
            <xsd:documentation>Person</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="PartyAddress" type="cmn:UKPostalAddressStructure">
        <xsd:annotation>
          <xsd:documentation>Address of Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PartyContactPhone" type="cmn:OfficeTelephone">
        <xsd:annotation>
          <xsd:documentation>Contact Telephone Numbers of Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PartyContactEMail" type="cmn:EmailStructure">
        <xsd:annotation>
          <xsd:documentation>Contact E-Mail Addreses of Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Relationship">
    <xsd:annotation>
      <xsd:documentation>Occupant Relationship to Applicant</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Relationship" type="cmn:TypeRelationship">
        <xsd:annotation>
          <xsd:documentation>Enumerated restriction on relationship to applicant</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SpecifyOther">
        <xsd:annotation>
          <xsd:documentation>Value Required when Relationship is 'Other'. Otherwise not used</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Room">
    <xsd:annotation>
      <xsd:documentation>Room Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="NumberInProperty" type="xsd:integer" use="required" />
    <xsd:attribute name="NumberForSoleUse" type="xsd:integer" use="required" />
    <xsd:attribute name="NumberForSharedUse" type="xsd:integer" use="required" />
  </xsd:complexType>
  <xsd:complexType name="Rooms">
    <xsd:annotation>
      <xsd:documentation>Rooms In Property</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LivingRooms" type="cmn:Room" />
      <xsd:element name="Bedrooms" type="cmn:Room" />
      <xsd:element name="BedsittingRooms" type="cmn:Room" />
      <xsd:element name="Bathrooms" type="cmn:Room" />
      <xsd:element name="Toilets" type="cmn:Room" />
      <xsd:element minOccurs="0" name="Kitchens" type="cmn:Room" />
      <xsd:element minOccurs="0" name="Other" type="cmn:Room">
        <xsd:annotation>
          <xsd:documentation>Number of rooms NOT suitable for living in</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Property">
    <xsd:annotation>
      <xsd:documentation>Property Address</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>Sequence Proprerty Address Details and Location Details</xsd:documentation>
      </xsd:annotation>
      <xsd:element minOccurs="0" name="BuildingName">
        <xsd:annotation>
          <xsd:documentation>Optional building or premise name for property.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OrganisationName">
        <xsd:annotation>
          <xsd:documentation>Optional organisation or farm name for property.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Address" type="cmn:UKPostalAddressStructure">
        <xsd:annotation>
          <xsd:documentation>Address Data For Property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Optional single repeat</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="Locations" type="cmn:Location">
          <xsd:annotation>
            <xsd:documentation>Optional specification of locations within the property. If this does not occur then it is assumed that the case is for the whole property.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Services">
    <xsd:annotation>
      <xsd:documentation>Services Provided Under Terms Of Tenancy</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="None" />
      <xsd:choice>
        <xsd:element name="AllFuel" />
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Heating" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Heating</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="HotWater" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Hot water</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="CookingFuel" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Gas or Electricity For Cooking</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Power" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Power</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="LightingAccomodation" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Lighting of Accomodation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="LightingCommonAreas" type="cmn:TypeEligibility">
            <xsd:annotation>
              <xsd:documentation>Lighting of Common Areas</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:element minOccurs="0" name="CleaningAccomodation" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Cleaning of accomodation</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="CleaningCommonAreas" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Cleaning of Common Areas</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="Laundry" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Laundry Service Provided By Landlord</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="Porter" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Porter service</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="WaterCharges" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Water Charges</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="Enviromental" type="cmn:TypeEligibility">
          <xsd:annotation>
            <xsd:documentation>Sewerage or or allied environmental charges</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contact">
    <xsd:annotation>
      <xsd:documentation>Contact details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContactDetails" type="cmn:CitizenContactDetailsStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tenant">
    <xsd:annotation>
      <xsd:documentation>Tenant Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Gender" type="cmn:SexType" />
      <xsd:element name="Name" type="cmn:CitizenNameStructure">
        <xsd:annotation>
          <xsd:documentation>Tenant Name Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Address" type="cmn:UKPostalAddressStructure">
        <xsd:annotation>
          <xsd:documentation>Tenant Address Information  Mandatory if not the same as the property address. This will probably only be the case for PTDs</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PreferredCommunication" type="cmn:TypeCommunicationMethod">
        <xsd:annotation>
          <xsd:documentation>Preferred method of communication.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Telephone" type="cmn:Telephone" />
      <xsd:element minOccurs="0" name="NINumber" type="cmn:NationalInsuranceNumberType">
        <xsd:annotation>
          <xsd:documentation>Tenant National Insurance Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YoungIndividual" type="cmn:YesNoMaybeType">
        <xsd:annotation>
          <xsd:documentation>Is the calimant a Young Individual?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tenancy">
    <xsd:annotation>
      <xsd:documentation>Tenancy Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="JointTenancy" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>Is tenancy is a joint tenancy?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Furnished" type="cmn:TypeFurniture">
        <xsd:annotation>
          <xsd:documentation>Specifies level of furnishing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LandlordResident" type="cmn:YesNoType">
        <xsd:annotation>
          <xsd:documentation>Boolean specifying if the Landlord is resident ayt the property</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ServicesIncluded" type="cmn:Services">
        <xsd:annotation>
          <xsd:documentation>Specifies services included under the tenancy</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrossRent">
        <xsd:annotation>
          <xsd:documentation>Amount of Rent Per Variable Time Period INCLUDING values of services, meals, etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="cmn:AmountPerPeriod">
              <xsd:sequence>
                <xsd:element name="SupportedAccommodation">
                  <xsd:simpleType>
                    <xsd:list itemType="xsd:boolean" />
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NetRent">
        <xsd:annotation>
          <xsd:documentation>Amount of Rent Per Variable Time Period EXCLUDING values of services, meals, etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="cmn:AmountPerPeriod" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MealsIncluded" type="cmn:Board">
        <xsd:annotation>
          <xsd:documentation>Specifies what meals are included if any</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="HousingAssociation">
        <xsd:annotation>
          <xsd:documentation>Specifies HA Referral Reasons</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="cmn:HousingAssociation">
              <xsd:sequence>
                <xsd:element name="ReferralReason" type="cmn:TypeReferralReasons">
                  <xsd:annotation>
                    <xsd:documentation>Enumerated Reason For Referral</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="SharedOwnership">
                  <xsd:annotation>
                    <xsd:documentation>Percentage SharedOwnership of Property 0 denotes not shared. Valid Range 0-100</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                      <xsd:minInclusive value="0" />
                      <xsd:maxInclusive value="100" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Occupants" type="cmn:Occupants" />
      <xsd:element name="TenancyStartDate" type="cmn:DateType" />
      <xsd:element minOccurs="0" name="TenancyEndDate" type="cmn:DateType" />
      <xsd:element name="TenancyLength" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Timestamp">
    <xsd:annotation>
      <xsd:documentation>Timestamp</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CompilationDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Compilation Date of data from senders system</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompilationTime" type="xsd:time">
        <xsd:annotation>
          <xsd:documentation>Compilation Time of data from senders system</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Substitute">
    <xsd:annotation>
      <xsd:documentation>Application substitute details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="cmn:TRSReference">
        <xsd:annotation>
          <xsd:documentation>TRS Case Reference for original case.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubstitueReasons" type="cmn:TypeSubstituteReasons">
        <xsd:annotation>
          <xsd:documentation>Reasons for the substitute application.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChangeOfCircumstances">
    <xsd:annotation>
      <xsd:documentation>Twelve Month Check</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EffectiveDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Effective date of change.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence maxOccurs="7">
        <xsd:annotation>
          <xsd:documentation>Optional reasons for 12 month referral. Up to seven reasons may be specified.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="ReasonForReferral" type="cmn:TypeTwelveMonthReasons">
          <xsd:annotation>
            <xsd:documentation>Twelve Month Reason For Referral</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LandlordAgent">
    <xsd:annotation>
      <xsd:documentation>Defines Landlord and Agent Details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation>Supports Many Parties of type Landlord or landlords agent. Can occur in any order.</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="PartyRole" type="cmn:TypePartyRole">
        <xsd:annotation>
          <xsd:documentation>Overides Global Party Role Defined In Common - Enumeration Is a local restriction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Party" type="cmn:Party">
        <xsd:annotation>
          <xsd:documentation>Party Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Telephone">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TelephoneNumber" type="cmn:TelephoneStructure" />
      <xsd:element minOccurs="0" name="MobileNumber" type="cmn:TelephoneStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OfficeTelephone">
    <xsd:annotation>
      <xsd:documentation>Defines the set of telephone numbres for an office</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MainTelephoneNumber" type="cmn:TelephoneStructure" />
      <xsd:element minOccurs="0" name="SecondTelephoneNumber" type="cmn:TelephoneStructure" />
      <xsd:element minOccurs="0" name="MobileNumber" type="cmn:TelephoneStructure" />
      <xsd:element minOccurs="0" name="FaxNumber" type="cmn:FaxStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UKPostalAddressStructure">
    <xsd:annotation>
      <xsd:documentation>Local implementation of eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="2" maxOccurs="5" name="Line" type="cmn:AddressLineType" />
      <xsd:element minOccurs="1" name="PostCode" type="cmn:PostCodeType">
        <xsd:annotation>
          <xsd:documentation>Please note that the postcode is MANDATORY for all Rent Service referrals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CitizenBirthDateStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>This might change to allow codes as well as descriptions of for verification</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="BirthDate" type="cmn:DateType" />
      <xsd:element name="VerifiedBy" type="cmn:VerifiedByType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CitizenNameStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CitizenNameTitle" type="cmn:CitizenNameTitleType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CitizenNameForename" type="cmn:CitizenNameForenameType" />
      <xsd:element name="CitizenNameSurname" type="cmn:CitizenNameSurnameType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CitizenNameSuffix" type="cmn:CitizenNameSuffixType" />
      <xsd:element minOccurs="0" name="CitizenNameRequestedName" type="cmn:CitizenNameRequestedNameType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TelephoneStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TelNationalNumber" type="cmn:TelephoneNumberType" />
      <xsd:element minOccurs="0" name="TelExtensionNumber" type="cmn:TelephoneExtensionType" />
      <xsd:element minOccurs="0" name="TelCountryCode" type="cmn:TelCountryCodeType" />
    </xsd:sequence>
    <xsd:attribute name="TelUse" type="cmn:WorkHomeType" />
    <xsd:attribute name="TelMobile" type="cmn:YesNoType" />
    <xsd:attribute name="TelPreferred" type="cmn:YesNoType" />
  </xsd:complexType>
  <xsd:complexType name="FaxStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FaxNationalNumber" type="cmn:TelephoneNumberType" />
      <xsd:element minOccurs="0" name="FaxExtensionNumber" type="cmn:TelephoneExtensionType" />
      <xsd:element minOccurs="0" name="FaxCountryCode" type="cmn:TelCountryCodeType" />
    </xsd:sequence>
    <xsd:attribute name="FaxUse" type="cmn:WorkHomeType" />
    <xsd:attribute name="FaxMobile" type="cmn:YesNoType" />
    <xsd:attribute name="FaxPreferred" type="cmn:YesNoType" />
  </xsd:complexType>
  <xsd:complexType name="EmailStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EmailAddress" type="cmn:RestrictedStringType" />
    </xsd:sequence>
    <xsd:attribute name="EmailUsage" type="cmn:WorkHomeType" />
    <xsd:attribute name="EmailPreferred" type="cmn:YesNoType" />
  </xsd:complexType>
  <xsd:complexType name="CitizenContactDetailsStructure">
    <xsd:annotation>
      <xsd:documentation>eEnvoy structure</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email" type="cmn:EmailStructure" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="cmn:TelephoneStructure" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="cmn:FaxStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TypeCase">
    <xsd:annotation>
      <xsd:documentation>Specifies Case Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HB" />
      <xsd:enumeration value="PT" />
      <xsd:enumeration value="RD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeDwellingRoom">
    <xsd:annotation>
      <xsd:documentation>Specifies Sub Categories of A Room Dwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Non Self Contained" />
      <xsd:enumeration value="Hostel" />
      <xsd:enumeration value="Hotel" />
      <xsd:enumeration value="Care Home" />
      <xsd:enumeration value="Independent Hospital" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeDwellingFlat">
    <xsd:annotation>
      <xsd:documentation>Specifies Sub Categories of A Flat Dwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Self Contained" />
      <xsd:enumeration value="Non Self Contained" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeDwellingHouse">
    <xsd:annotation>
      <xsd:documentation>Specifies Sub Categories of A House Dwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Detached" />
      <xsd:enumeration value="Semi Detached" />
      <xsd:enumeration value="Terraced" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeDwellingCaravan">
    <xsd:annotation>
      <xsd:documentation>Specifies Sub Categories of A CaravanDwelling</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Touring Caravan" />
      <xsd:enumeration value="Mobile Home" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTimePeriod">
    <xsd:annotation>
      <xsd:documentation>Specifies Types of Time Period</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Per Day" />
      <xsd:enumeration value="Per Week" />
      <xsd:enumeration value="Per Fortnight" />
      <xsd:enumeration value="Per Lunar Month" />
      <xsd:enumeration value="Per Calendar Month" />
      <xsd:enumeration value="Per Quarter" />
      <xsd:enumeration value="Per Half Year" />
      <xsd:enumeration value="Per Annum" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeFurniture">
    <xsd:annotation>
      <xsd:documentation>Specifies level of furnishing</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None" />
      <xsd:enumeration value="Minimal" />
      <xsd:enumeration value="White Goods Only" />
      <xsd:enumeration value="Partial" />
      <xsd:enumeration value="Full" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypexSpacePosition">
    <xsd:annotation>
      <xsd:documentation>x Space Position of Room in Property (Center, Left,Right)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Centre" />
      <xsd:enumeration value="Left" />
      <xsd:enumeration value="Right" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypezSpacePosition">
    <xsd:annotation>
      <xsd:documentation>z Space Position of Room in Property (Front,Middle,Rear)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Front" />
      <xsd:enumeration value="Middle" />
      <xsd:enumeration value="Rear" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeReferralReasons">
    <xsd:annotation>
      <xsd:documentation>Referral Reasons Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Not HA or RSL" />
      <xsd:enumeration value="High Rent" />
      <xsd:enumeration value="Size Exceeded" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeRelationship">
    <xsd:annotation>
      <xsd:documentation>Relationship Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Daughter" />
      <xsd:enumeration value="Joint Tenant" />
      <xsd:enumeration value="Other" />
      <xsd:enumeration value="Partner" />
      <xsd:enumeration value="Son" />
      <xsd:enumeration value="Spouse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeRoles">
    <xsd:annotation>
      <xsd:documentation>Party Role Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Landlord" />
      <xsd:enumeration value="Landlords Agent" />
      <xsd:enumeration value="Tenant" />
      <xsd:enumeration value="Tenants Agent" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTwelveMonthClaim">
    <xsd:annotation>
      <xsd:documentation>Type of 12 month claim.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New claim" />
      <xsd:enumeration value="Renewal claim" />
      <xsd:enumeration value="Change of circumstances" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTitle">
    <xsd:annotation>
      <xsd:documentation>Specifies Types of Title</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Mr" />
      <xsd:enumeration value="Mrs" />
      <xsd:enumeration value="Miss" />
      <xsd:enumeration value="Ms" />
      <xsd:enumeration value="Dr" />
      <xsd:enumeration value="Rev" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTransaction">
    <xsd:annotation>
      <xsd:documentation>Specifies the Transaction Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="New" />
      <xsd:enumeration value="Amendment" />
      <xsd:enumeration value="Additional Information" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeSubstituteReasons">
    <xsd:annotation>
      <xsd:documentation>Reasons for Substitute.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Error on size of Dwelling" />
      <xsd:enumeration value="Number of Occupiers" />
      <xsd:enumeration value="Composition of Household" />
      <xsd:enumeration value="Term of the Tenancy" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTwelveMonthReasons">
    <xsd:annotation>
      <xsd:documentation>Twelve Month Referral Reasons</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Change in number of occupiers" />
      <xsd:enumeration value="Change in composition of household" />
      <xsd:enumeration value="Child turning 10 or 16" />
      <xsd:enumeration value="Young individual - SRR needed" />
      <xsd:enumeration value="Change in condition of dwelling" />
      <xsd:enumeration value="Change in tenancy terms other than rent" />
      <xsd:enumeration value="Pre-agreed contractual rent increase and no size notional/EHR in previous decision" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypePartyRole">
    <xsd:annotation>
      <xsd:documentation>Party Role Types - Overides Common Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Landlord" />
      <xsd:enumeration value="Landlords Agent" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCommunicationMethod">
    <xsd:annotation>
      <xsd:documentation>Communication methods.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Post" />
      <xsd:enumeration value="Telephone" />
      <xsd:enumeration value="Email" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeEligibility">
    <xsd:annotation>
      <xsd:documentation>REgarding eligibility of services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Eligible" />
      <xsd:enumeration value="Ineligible" />
      <xsd:enumeration value="Not included" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NationalInsuranceNumberType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
      <xsd:documentation>This is a local implementation of the NINO data pattern to accommodate Temporary NINOs</xsd:documentation>
      <xsd:documentation>Updated at v3.8Aa</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-CEGHJ-PR-TW-Z]{1}[A-CEGHJ-NPR-TW-Z]{1}[0-9]{6}[ABCDFM\s]{1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CitizenNameTitleType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CitizenNameForenameType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CitizenNameSurnameType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CitizenNameSuffixType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CitizenNameRequestedNameType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressLineType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VerifiedByType">
    <xsd:annotation>
      <xsd:documentation>A Change of Address specific data type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="cmn:RestrictedStringType">
      <xsd:enumeration value="not verified" />
      <xsd:enumeration value="accepted on balance of probabilities" />
      <xsd:enumeration value="secondary certificate" />
      <xsd:enumeration value="certified copy of birth certificate" />
      <xsd:enumeration value="short form birth certificate or certificate of registration of birth" />
      <xsd:enumeration value="birth certificate" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostCodeType">
    <xsd:annotation>
      <xsd:documentation>eEnvoy type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(GIR 0AA)|((([A-Z][0-9][0-9]?)|(([A-Z][A-HJ-Y][0-9][0-9]?)|(([A-Z][0-9][A-Z])|([A-Z][A-HJ-Y][0-9]?[A-Z])))) [0-9][A-Z]{2})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YesNoMaybeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes" />
      <xsd:enumeration value="no" />
      <xsd:enumeration value="maybe" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="CaseRemarks">
    <xsd:annotation>
      <xsd:documentation>General Remarks Attached To a Case</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2000" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="LAReference">
    <xsd:annotation>
      <xsd:documentation>Local Authority Case Reference</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PartyRole" type="cmn:TypeRoles">
    <xsd:annotation>
      <xsd:documentation>Identifies the role of the party in the context of a  business transaction</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Title" type="cmn:TypeTitle">
    <xsd:annotation>
      <xsd:documentation>Title Restricted By Simple Data Type</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TRSReference">
    <xsd:annotation>
      <xsd:documentation>Rent Service Case Reference</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>