LinqToXsd.Schemas/UK CabinetOffice/Archives and Records Management/DigitalArchive/ManifestationStructure.xml

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.govtalk.gov.uk/nationalarchives/DigitalArchive/accession" 
                      xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                      xmlns="http://www.govtalk.gov.uk/nationalarchives/DigitalArchive/accession" 
                      elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0a">
	<xsd:annotation>
		<xsd:documentation>Metadata according to e-GMS XML Schema Metadata v0.4</xsd:documentation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Contributor>Tessella Support Services plc  http://www.tessella.com</Contributor>
				<Contributor>Public Reocd Office http://www.pro.gov.uk</Contributor>
				<Date>
					<Created>2002-12-12</Created>
				</Date>
				<Date>
					<Modified>2003-03-04</Modified>
				</Date>
				<Description>Schema for Digital Archive Manfestation Structure</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.govtalk.gov.uk/PRO/ARCv1.0</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Office of the e-Envoy, Stockley House,130 Wilton Road, London SW1V 1LQ</Publisher>
				<Relation>
					<Requires>GMSelement structure</Requires>
				</Relation>
				<Rights>unclassified
				<Copyright>Crown copyright 2002</Copyright>
				</Rights>
				<Subject>
					<Category>Government, public records </Category>
				</Subject>
				<Subject>
					<Project>Digital Archive</Project>
				</Subject>
				<Title>Manifestation metadata schema</Title>
				<Type>metadata</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!--																			-->
	<!-- Modification History 														-->
	<!--    Date               User	              Modification 								-->
	<!--   =========== ==========  ==================================== -->
	<!--   16/12/2002     EVAM	       Created										-->
	<!--   15/01/2003	    EVAM		Re-arranged pre metadata elements. Added Status element -->
	<!--	  17/01/2003    EVAM	 	Changed imported schemas to include schemas to remove namespace prefix -->
	<!--   04/03/2003    EVAM		Changed namespace to http://www.govtalk.gov.uk/nationalarchives/DigitalArchive/accession -->
	<!--																			-->
	<xsd:include schemaLocation="GMSelement.xsd"/>
	<!--Manifestation Structure-->
	<xsd:complexType name="ManifestationStructure">
		<xsd:sequence>
			<xsd:element name="ManifestationStatus" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N"/>
						<xsd:enumeration value="M"/>
						<xsd:enumeration value="U"/>
						<xsd:enumeration value="D"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ManifestationIdentifier" type="xsd:string"/>
			<xsd:element name="ManifestationName" type="xsd:string"/>
			<xsd:element name="Metadata" type="MetadataStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Schema definition-->
	<xsd:element name="Manifestation" type="ManifestationStructure"/>
</xsd:schema>
