GeneratedSchemaLibraries/NameMangled/nameMangledSchemaStaticKeywords.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="keywordAttrs">
    <xs:attribute name="abstract" />
    <xs:attribute name="as" />
    <xs:attribute name="base" />
    <xs:attribute name="bool" />
    <xs:attribute name="break" />
    <xs:attribute name="byte" />
    <xs:attribute name="case" />
    <xs:attribute name="catch" />
    <xs:attribute name="char" />
    <xs:attribute name="checked" />
    <xs:attribute name="class" />
    <xs:attribute name="const" />
    <xs:attribute name="continue" />
    <xs:attribute name="decimal" />
    <xs:attribute name="default" />
    <xs:attribute name="delegate" />
    <xs:attribute name="do" />
    <xs:attribute name="double" />
    <xs:attribute name="else" />
    <xs:attribute name="enum" />
    <xs:attribute name="event" />
    <xs:attribute name="explicit" />
    <xs:attribute name="extern" />
    <xs:attribute name="false" />
    <xs:attribute name="finally" />
    <xs:attribute name="fixed" />
    <xs:attribute name="float" />
    <xs:attribute name="for" />
    <xs:attribute name="foreach" />
    <xs:attribute name="goto" />
    <xs:attribute name="if" />
    <xs:attribute name="implicit" />
    <xs:attribute name="in" />
    <xs:attribute name="int" />
    <xs:attribute name="interface" />
    <xs:attribute name="internal" />
    <xs:attribute name="is" />
    <xs:attribute name="lock" />
    <xs:attribute name="long" />
    <xs:attribute name="namespace" />
    <xs:attribute name="new" />
    <xs:attribute name="null" />
    <xs:attribute name="object" />
    <xs:attribute name="operator" />
    <xs:attribute name="out" />
    <xs:attribute name="override" />
    <xs:attribute name="params" />
    <xs:attribute name="private" />
    <xs:attribute name="protected" />
    <xs:attribute name="public" />
    <xs:attribute name="readonly" />
    <xs:attribute name="ref" />
    <xs:attribute name="return" />
    <xs:attribute name="sbyte" />
    <xs:attribute name="sealed" />
    <xs:attribute name="short" />
    <xs:attribute name="sizeof" />
    <xs:attribute name="stackalloc" />
    <xs:attribute name="static" />
    <xs:attribute name="string" />
    <xs:attribute name="struct" />
    <xs:attribute name="switch" />
    <xs:attribute name="this" />
    <xs:attribute name="throw" />
    <xs:attribute name="true" />
    <xs:attribute name="try" />
    <xs:attribute name="typeof" />
    <xs:attribute name="uint" />
    <xs:attribute name="ulong" />
    <xs:attribute name="unchecked" />
    <xs:attribute name="unsafe" />
    <xs:attribute name="ushort" />
    <xs:attribute name="using" />
    <xs:attribute name="virtual" />
    <xs:attribute name="void" />
    <xs:attribute name="volatile" />
    <xs:attribute name="while" />
    <xs:attribute name="add" />
    <xs:attribute name="and" />
    <xs:attribute name="alias" />
    <xs:attribute name="ascending" />
    <xs:attribute name="args" />
    <xs:attribute name="async" />
    <xs:attribute name="await" />
    <xs:attribute name="by" />
    <xs:attribute name="descending" />
    <xs:attribute name="dynamic" />
    <xs:attribute name="equals" />
    <xs:attribute name="file" />
    <xs:attribute name="from" />
    <xs:attribute name="get" />
    <xs:attribute name="global" />
    <xs:attribute name="group" />
    <xs:attribute name="init" />
    <xs:attribute name="into" />
    <xs:attribute name="join" />
    <xs:attribute name="let" />
    <xs:attribute name="managed" />
    <xs:attribute name="nameof" />
    <xs:attribute name="nint" />
    <xs:attribute name="not" />
    <xs:attribute name="notnull" />
    <xs:attribute name="nuint" />
    <xs:attribute name="on" />
    <xs:attribute name="or" />
    <xs:attribute name="orderby" />
    <xs:attribute name="partialrecord" />
    <xs:attribute name="remove" />
    <xs:attribute name="required" />
    <xs:attribute name="scoped" />
    <xs:attribute name="select" />
    <xs:attribute name="set" />
    <xs:attribute name="unmanaged" />
    <xs:attribute name="value" />
    <xs:attribute name="var" />
    <xs:attribute name="when" />
    <xs:attribute name="where" />
    <xs:attribute name="with" />
    <xs:attribute name="yield" />
  </xs:attributeGroup>
  <xs:complexType name="abstract">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="as">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="base">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="bool">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="break">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="byte">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="case">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="catch">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="char">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="checked">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="class">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="const">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="continue">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="decimal">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="default">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="delegate">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="do">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="double">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="else">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="enum">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="event">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="explicit">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="extern">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="false">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="finally">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="fixed">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="float">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="for">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="foreach">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="goto">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="if">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="implicit">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="in">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="int">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="interface">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="internal">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="is">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="lock">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="long">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="namespace">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="new">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="null">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="object">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="operator">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="out">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="override">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="params">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="private">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="protected">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="public">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="readonly">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="ref">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="return">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="sbyte">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="sealed">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="short">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="sizeof">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="stackalloc">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="static">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="string">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="struct">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="switch">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="this">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="throw">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="true">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="try">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="typeof">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="uint">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="ulong">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="unchecked">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="unsafe">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="ushort">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="using">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="virtual">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="void">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="volatile">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="while">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="add">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="and">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="alias">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="ascending">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="args">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="async">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="await">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="by">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="descending">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="dynamic">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="equals">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="file">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="from">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="get">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="global">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="group">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="init">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="into">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="join">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="let">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="managed">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="nameof">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="nint">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="not">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="notnull">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="nuint">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="on">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="or">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="orderby">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="partialrecord">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="remove">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="required">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="scoped">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="select">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="set">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="unmanaged">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="value">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="var">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="when">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="where">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="with">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:complexType name="yield">
    <xs:attributeGroup ref="keywordAttrs" />
  </xs:complexType>
  <xs:element name="abstract" type="abstract" />
  <xs:element name="as" type="as" />
  <xs:element name="base" type="base" />
  <xs:element name="bool" type="bool" />
  <xs:element name="break" type="break" />
  <xs:element name="byte" type="byte" />
  <xs:element name="case" type="case" />
  <xs:element name="catch" type="catch" />
  <xs:element name="char" type="char" />
  <xs:element name="checked" type="checked" />
  <xs:element name="class" type="class" />
  <xs:element name="const" type="const" />
  <xs:element name="continue" type="continue" />
  <xs:element name="decimal" type="decimal" />
  <xs:element name="default" type="default" />
  <xs:element name="delegate" type="delegate" />
  <xs:element name="do" type="do" />
  <xs:element name="double" type="double" />
  <xs:element name="else" type="else" />
  <xs:element name="enum" type="enum" />
  <xs:element name="event" type="event" />
  <xs:element name="explicit" type="explicit" />
  <xs:element name="extern" type="extern" />
  <xs:element name="false" type="false" />
  <xs:element name="finally" type="finally" />
  <xs:element name="fixed" type="fixed" />
  <xs:element name="float" type="float" />
  <xs:element name="for" type="for" />
  <xs:element name="foreach" type="foreach" />
  <xs:element name="goto" type="goto" />
  <xs:element name="if" type="if" />
  <xs:element name="implicit" type="implicit" />
  <xs:element name="in" type="in" />
  <xs:element name="int" type="int" />
  <xs:element name="interface" type="interface" />
  <xs:element name="internal" type="internal" />
  <xs:element name="is" type="is" />
  <xs:element name="lock" type="lock" />
  <xs:element name="long" type="long" />
  <xs:element name="namespace" type="namespace" />
  <xs:element name="new" type="new" />
  <xs:element name="null" type="null" />
  <xs:element name="object" type="object" />
  <xs:element name="operator" type="operator" />
  <xs:element name="out" type="out" />
  <xs:element name="override" type="override" />
  <xs:element name="params" type="params" />
  <xs:element name="private" type="private" />
  <xs:element name="protected" type="protected" />
  <xs:element name="public" type="public" />
  <xs:element name="readonly" type="readonly" />
  <xs:element name="ref" type="ref" />
  <xs:element name="return" type="return" />
  <xs:element name="sbyte" type="sbyte" />
  <xs:element name="sealed" type="sealed" />
  <xs:element name="short" type="short" />
  <xs:element name="sizeof" type="sizeof" />
  <xs:element name="stackalloc" type="stackalloc" />
  <xs:element name="static" type="static" />
  <xs:element name="string" type="string" />
  <xs:element name="struct" type="struct" />
  <xs:element name="switch" type="switch" />
  <xs:element name="this" type="this" />
  <xs:element name="throw" type="throw" />
  <xs:element name="true" type="true" />
  <xs:element name="try" type="try" />
  <xs:element name="typeof" type="typeof" />
  <xs:element name="uint" type="uint" />
  <xs:element name="ulong" type="ulong" />
  <xs:element name="unchecked" type="unchecked" />
  <xs:element name="unsafe" type="unsafe" />
  <xs:element name="ushort" type="ushort" />
  <xs:element name="using" type="using" />
  <xs:element name="virtual" type="virtual" />
  <xs:element name="void" type="void" />
  <xs:element name="volatile" type="volatile" />
  <xs:element name="while" type="while" />
  <xs:element name="add" type="add" />
  <xs:element name="and" type="and" />
  <xs:element name="alias" type="alias" />
  <xs:element name="ascending" type="ascending" />
  <xs:element name="args" type="args" />
  <xs:element name="async" type="async" />
  <xs:element name="await" type="await" />
  <xs:element name="by" type="by" />
  <xs:element name="descending" type="descending" />
  <xs:element name="dynamic" type="dynamic" />
  <xs:element name="equals" type="equals" />
  <xs:element name="file" type="file" />
  <xs:element name="from" type="from" />
  <xs:element name="get" type="get" />
  <xs:element name="global" type="global" />
  <xs:element name="group" type="group" />
  <xs:element name="init" type="init" />
  <xs:element name="into" type="into" />
  <xs:element name="join" type="join" />
  <xs:element name="let" type="let" />
  <xs:element name="managed" type="managed" />
  <xs:element name="nameof" type="nameof" />
  <xs:element name="nint" type="nint" />
  <xs:element name="not" type="not" />
  <xs:element name="notnull" type="notnull" />
  <xs:element name="nuint" type="nuint" />
  <xs:element name="on" type="on" />
  <xs:element name="or" type="or" />
  <xs:element name="orderby" type="orderby" />
  <xs:element name="partialrecord" type="partialrecord" />
  <xs:element name="remove" type="remove" />
  <xs:element name="required" type="required" />
  <xs:element name="scoped" type="scoped" />
  <xs:element name="select" type="select" />
  <xs:element name="set" type="set" />
  <xs:element name="unmanaged" type="unmanaged" />
  <xs:element name="value" type="value" />
  <xs:element name="var" type="var" />
  <xs:element name="when" type="when" />
  <xs:element name="where" type="where" />
  <xs:element name="with" type="with" />
  <xs:element name="yield" type="yield" />
</xs:schema>