GeneratedSchemaLibraries/SWRL/module/owl1-dl-domainRangeGroup.xsd

<!--
"owl1-dl-domainRangeGroup.xsd"
XML Schema Module for the XML Presentation Syntax of OWL 1.0
Copyright: 2002-2003 W3C (MIT, INRIA, Keio), All Rights Reserved.
See http://www.w3.org/Consortium/Legal/.
Revision: 2003/06/01 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:owlx="http://www.w3.org/2003/05/owl-xml"
    targetNamespace="http://www.w3.org/2003/05/owl-xml"
    elementFormDefault="qualified"
    attributeFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation>
      Domain and Range group for OWL DL and OWL Full. This 
      model group replaces "owl1-lite-domainRangeGroup.xsd" 
      provided for OWL Lite. 
    </xsd:documentation>
  </xsd:annotation>

  <xsd:group name="dataPropDomainRange"> 
    <xsd:annotation>
      <xsd:documentation>
        Element types of 'domain' and 'range' are redefined  
        respectively to DescriptionsType and DataRangeType 
        for datatype property. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="domain" type="owlx:DescriptionsType" />
      <xsd:element name="range"  type="owlx:DataRangeType" /> 
    </xsd:choice>
  </xsd:group>
  
  <xsd:group name="objectPropDomainRange"> 
    <xsd:annotation>
      <xsd:documentation>
        Element types of 'domain' and 'range' are 
        extended to DescriptionsType for object property. 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="domain" type="owlx:DescriptionsType" />
      <xsd:element name="range"  type="owlx:DescriptionsType" /> 
    </xsd:choice>
  </xsd:group>

</xsd:schema>
