LinqToXsd.Schemas/UK CabinetOffice/Housing Benefit Matching Service Schemas/RiskReferralCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jon Wright (Comino Plc) -->
<xsd:schema targetNamespace="http://www.comino.com/CominoXML" xmlns:efig4="http://www.govtalk.gov.uk/people/PersonDescriptives" xmlns:egif3="http://www.govtalk.gov.uk/people/bs7666" xmlns:egif2="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns:egif1="http://www.govtalk.gov.uk/core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.comino.com/CominoXML" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="HBMSReferralCommon">
	<xsd:annotation>
		<xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Audience>e-service developers</Audience>
				<Creator>Jonathan Wright (mailto:jonathan.wright@comino.com)</Creator>
				<Date>
					<Created>2004-06-16</Created>
				</Date>
				<Description>Common Types for the electronic transfer of Housing Benefit Matching Service (HBMS) Benefit Claimant Mismatch Information</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>HBMSReferralCommon</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Comino PLC, Vanguard House, Leeds, West Yorks, LS11 5DD</Publisher>
				<Relation>
					<Requires>CommonSimpleTypes-v1-3</Requires>
				</Relation>
				<Relation>
					<IsPartOf>AddressTypes-v1-3</IsPartOf>
				</Relation>
				<Relation>
					<IsPartOf>BS7666-v1-3</IsPartOf>
				</Relation>
				<Relation>
					<IsPartOf>ContactTypes-v1-3</IsPartOf>
				</Relation>
				<Relation>
					<IsPartOf>CitizenIdentificationTypes-v1-3</IsPartOf>
				</Relation>
				<Relation>
					<IsPartOf>PersonDescriptiveTypes-v1-0</IsPartOf>
				</Relation>
				<Relation>
					<IsPartOf>PersonalDetailsTypes-v1-3</IsPartOf>
				</Relation>
				<Subject>
					<Category>Housing Benefit Administration</Category>
				</Subject>
				<Subject>
					<Project>UK GovTalk</Project>
				</Subject>
				<Title>Common HBMS Data Mismatch Type Information</Title>
				<Type>Local Government Services</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://www.govtalk.gov.uk/core" schemaLocation="CommonSimpleTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="AddressTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/bs7666" schemaLocation="BS7666-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="ContactTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="CitizenIdentificationTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="ContactTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="PersonalDetailsTypes-v1-3.xsd"/>
	<xsd:import namespace="http://www.govtalk.gov.uk/people/PersonDescriptives" schemaLocation="PersonDescriptiveTypes-v1-0.xsd"/>
	<xsd:complexType name="PersonStructure">
		<xsd:annotation>
			<xsd:documentation>Person/Claimant Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NINO" type="egif2:NationalInsuranceNumberType">
				<xsd:annotation>
					<xsd:documentation>National Insurance Number </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="egif2:CitizenNameStructure">
				<xsd:annotation>
					<xsd:documentation>Name Details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DOB" type="egif2:CitizenBirthDateStructure">
				<xsd:annotation>
					<xsd:documentation>Date of birth</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gender" type="efig4:GenderCurrentType">
				<xsd:annotation>
					<xsd:documentation>Claimant Gender</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="egif2:UKAddressStructure">
				<xsd:annotation>
					<xsd:documentation>Address Details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RiskDataStructure">
		<xsd:annotation>
			<xsd:documentation>Risk Analysis Information Details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Score">
				<xsd:annotation>
					<xsd:documentation>Calculated Probability Score</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="-1"/>
						<xsd:maxInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Probability">
				<xsd:annotation>
					<xsd:documentation>Percentage Probability Score</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LastReviewDate" type="egif1:DateType">
				<xsd:annotation>
					<xsd:documentation>Date of last review or intervention</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClaimDataStructure">
		<xsd:annotation>
			<xsd:documentation>HBMS Risk Analysis Claim  Data</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Claimant" type="PersonStructure">
				<xsd:annotation>
					<xsd:documentation>Claimant Details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RiskDetails" type="RiskDataStructure">
				<xsd:annotation>
					<xsd:documentation>Risk Analysis Details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HBClaimReference" type="egif1:RestrictedStringType">
				<xsd:annotation>
					<xsd:documentation>Local Authority HB Reference</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
