GeneratedSchemaLibraries/3dps-1_0_0/3dps-view.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://www.opengis.net/3dps/1.0/view"
    targetNamespace="http://www.opengis.net/3dps/1.0/view"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ows="http://www.opengis.net/ows/2.0"
    xmlns:core="http://www.opengis.net/3dps/1.0/core"
    xmlns:view="http://www.opengis.net/3dps/1.0/view"
    version="1.0.0">
    <xs:annotation>
        <xs:documentation>
            OGC 3D Portrayal Service 1.0 is an OGC Standard.
            Copyright (c) 2016, 2023 Open Geospatial Consortium.
            To obtain additional rights of use, visit http://www.ogc.org/legal/ .
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.opengis.net/ows/2.0" schemaLocation="ows/owsCommon.xsd"/>
    <xs:import namespace="http://www.opengis.net/ows/2.0" schemaLocation="ows/ows19115subset.xsd"/>
    <xs:import namespace="http://www.opengis.net/ows/2.0" schemaLocation="ows/owsDomainType.xsd"/>
    <xs:import namespace="http://www.opengis.net/ows/2.0" schemaLocation="ows/owsDataIdentification.xsd"/>
    <xs:import namespace="http://www.opengis.net/3dps/1.0/core" schemaLocation="3dps-core.xsd"/>
    <xs:complexType name="ViewLayerExtensionType">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="Projection" type="view:ProjectionBaseType"/>
    <xs:complexType name="GetViewType">
        <xs:complexContent>
            <xs:extension base="core:AbstractGetPortrayalType">
                <xs:sequence>
                    <xs:element name="BackgroundColor" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TransparentBackground" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Portrayals" type="PortrayalListType" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PortrayalListType">
        <xs:sequence>
            <xs:element name="Portrayal" type="PortrayalType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PerspectiveProjectionType">
        <xs:complexContent>
            <xs:extension base="ProjectionBaseType">
                <xs:sequence>
                    <xs:element name="POC" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="POI" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="UP" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="FOVX" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FOVY" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NearPlane" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FarPlane" type="xs:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ViewPortrayalCapabilitiesExtensionType">
        <xs:sequence>
            <xs:element name="farPlaneHint" type="xs:double" minOccurs="1" maxOccurs="1"/>
            <xs:element name="nearPlaneHint" type="xs:double" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supportsMultipleViews" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AvailableImageLayer" type="ImageLayerType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AvailableProjection" type="AvailableProjectionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrthographicProjectionType">
        <xs:complexContent>
            <xs:extension base="ProjectionBaseType">
                <xs:sequence>
                    <xs:element name="POC" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="POI" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="UP" type="core:Position3DType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Left" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Right" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Bottom" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Top" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NearPlane" type="xs:double" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FarPlane" type="xs:double" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProjectionBaseType">
        <xs:sequence>
            <xs:element ref="ows:Identifier" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ImageLayerType">
        <xs:complexContent>
            <xs:extension base="ows:DescriptionType">
                <xs:sequence>
                    <xs:element name="Identifier" type="ows:CodeType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="AvailableFormat" type="ows:MimeType" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AvailableProjectionType">
        <xs:complexContent>
            <xs:extension base="ows:DescriptionType">
                <xs:sequence>
                    <xs:element ref="ows:Identifier" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ProjectionParameter" type="ProjectionParameterType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProjectionParameterType">
        <xs:complexContent>
            <xs:extension base="ows:DomainType">
                <xs:sequence/>
                <xs:attribute name="required" use="optional" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PortrayalType">
        <xs:sequence>
            <xs:element name="Width" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Height" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ImageLayers" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Formats" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Qualities" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Projection" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PerspectiveProjection" type="view:PerspectiveProjectionType" substitutionGroup="Projection"/>
    <xs:element name="OrthographicProjection" type="view:OrthographicProjectionType" substitutionGroup="Projection"/>
</xs:schema>
