Samples/GH70/XSD/COMPONENT_OF.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Управлением актуализации и модернизации руководств по структурированным электронным медицинским документам (СЭМД) 2024 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xsd:schema xmlns:mif="urn:hl7-org:v3/mif"
	xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"
	xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias"
	xmlns:identity="urn:hl7-ru:identity" xmlns:medService="urn:hl7-ru:medService">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xsd:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xsd:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xsd:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xsd:import namespace="urn:hl7-ru:medService" schemaLocation="medService.xsd"/>
	<xsd:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xsd:include schemaLocation="coreschemas/voc.xsd"/>
	<xsd:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	<!-- Блок "Сведения о случае оказания медицинской помощи" -->
	<xsd:complexType name="POCD_MT000040.Component1">
		<xsd:choice minOccurs="1">
			<xsd:sequence>
				<xsd:element name="encompassingEncounter" type="POCD_MT000040.EncompassingEncounter"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>случай оказания медицинской помощи</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="POCD_MT000040.EncompassingEncounter">
		<xsd:sequence>
			<xsd:element name="id" minOccurs="2" maxOccurs="2">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="II">
							<xsd:attribute name="root" use="required">
								<xsd:simpleType>
									<xsd:restriction base="uid">
										<xsd:pattern value="[0-2](\.(0|[1-9][0-9]*))*.15|[0-2](\.(0|[1-9][0-9]*))*.16|[0-2](\.(0|[1-9][0-9]*))*.17"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="extension" type="st" use="required"/>
							<xsd:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
							<xsd:attribute name="displayable" type="bl" use="prohibited"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="code" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>тип медицинской карты</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="CE_non_elements">
							<xsd:attribute name="code" type="cs" use="required"/>
							<xsd:attribute name="codeSystem" type="uid" use="optional" fixed="1.2.643.5.1.13.13.99.2.723"/>
							<xsd:attribute name="codeSystemName" type="st" use="required"/>							
							<xsd:attribute name="codeSystemVersion" type="st" use="required"/>							
							<xsd:attribute name="displayName" type="st" use="required"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="medService:DocType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>вид медицинской карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>даты случая</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice minOccurs="1">
						<xsd:sequence>
							<xsd:element name="low" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>дата и время начала</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:restriction base="IVXB_TS">
											<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
										</xsd:restriction>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>				
							<xsd:element name="high" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>дата и время окончания</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:restriction base="IVXB_TS">
											<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
										</xsd:restriction>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:choice>
					<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
</xsd:schema>
