Samples/GH70/XSD/CUSTODIAN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Управлением актуализации и модернизации руководств по структурированным электронным медицинским документам (СЭМД) 2024 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xsd:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xsd:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xsd:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xsd:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xsd:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xsd:include schemaLocation="coreschemas/voc.xsd"/>
	<xsd:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	
	<!-- Блок "Сведения о владельце документа" -->
	<xsd:complexType name="POCD_MT000040.Custodian">
		<xsd:sequence>
			<xsd:element name="assignedCustodian" type="POCD_MT000040.AssignedCustodian" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>организация-владелец документа (роль)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
	<xsd:complexType name="POCD_MT000040.AssignedCustodian">
		<xsd:sequence>
			<xsd:element name="representedCustodianOrganization" type="POCD_MT000040.CustodianOrganization" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>организация владелец-документа (организация)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
	<xsd:complexType name="POCD_MT000040.CustodianOrganization">
		<xsd:sequence>
			<xsd:element name="id" type="II_id_org_non_NF" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>уникальный идентификатор медицинской организации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="ON" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>наименование организации или ФИО индивидуального предпринимателя</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="telecom" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>телефон медицинской организации или индивидуального предпринимателя</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="TEL">
							<xsd:attribute name="value" type="url" use="required"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addr" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>адрес медицинской организации или индивидуального предпринимателя</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType> 
					<xsd:sequence>
						<xsd:element name="streetAddressLine" type="adxp.streetAddressLine" minOccurs="1"
									maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>адрес текстом</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="address:stateCode" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>код субъекта РФ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="postalCode" type="adxp.postalCode" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>почтовый индекс</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="fias:Address" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>коды адреса по ФИАС</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="use" use="optional" type="set_PostalAddressUse"/>
					<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="classCode" type="EntityClassOrganization" use="required" fixed="ORG"/>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
</xsd:schema>