Samples/GH70/XSD/identity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Управлением актуализации и модернизации руководств по структурированным электронным медицинским документам (СЭМД) 2024 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xsd:schema xmlns="urn:hl7-ru:identity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-ru:identity" elementFormDefault="qualified" xmlns:hl7="urn:hl7-org:v3">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xsd:import namespace="urn:hl7-org:v3" schemaLocation="coreschemas\datatypes-base.xsd"/>
	<!-- Блок "Отчество" -->
	<xsd:element name="Patronymic" type="hl7:st"/>
	
	<!-- Блок "Наименование структурного подразделения медицинской организации" -->
	<xsd:element name="Dept" type="hl7:st"/>
	
	<!-- Блок "Сведения о документе, удостоверяющем личность" -->
	<xsd:element name="IdentityDoc" type="POCD_MT000040.IdentityDoc">
	</xsd:element>
	<xsd:complexType name="POCD_MT000040.IdentityDoc">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="IdentityCardType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>тип документа</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:CE_non_elements">
								<xsd:attribute name="code" type="hl7:cs" use="required"/>
								<xsd:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.99.2.48"/>
								<xsd:attribute name="codeSystemName" type="hl7:st" use="required"/>							
								<xsd:attribute name="codeSystemVersion" type="hl7:st" use="required"/>							
								<xsd:attribute name="displayName" type="hl7:st" use="required"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>						
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Series" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>серия документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Number" type="hl7:ST_non_NF" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>номер документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IssueOrgName" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>кем выдан документ</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IssueOrgCode" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>кем выдан документ, код подразделения</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IssueDate" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>дата выдачи документа</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:TS">
								<xsd:attribute name="value" use="required" type="hl7:ts"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
	</xsd:complexType>
	
	<!-- Блок "Сведения о полисе ОМС пациента" -->
	<xsd:element name="InsurancePolicy" type="POCD_MT000040.InsurancePolicy">
	</xsd:element>
	<xsd:complexType name="POCD_MT000040.InsurancePolicy">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="InsurancePolicyType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>тип полиса ОМС</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:CE_non_elements">
								<xsd:attribute name="code" type="hl7:cs" use="required"/>
								<xsd:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.11.1035"/>
								<xsd:attribute name="codeSystemName" type="hl7:st" use="required"/>							
								<xsd:attribute name="codeSystemVersion" type="hl7:st" use="required"/>							
								<xsd:attribute name="displayName" type="hl7:st" use="required"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>							
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Series" type="hl7:st" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>серия полиса ОМС</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Number" type="hl7:ST_non_NF" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>номер полиса ОМС</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
	</xsd:complexType>
	
	<!-- Блок "Реквизиты организации" -->
	<xsd:element name="Props" type="POCD_MT000040.Props">
	</xsd:element>
	<xsd:complexType name="POCD_MT000040.Props">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="Ogrn" type="hl7:st" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>код ОГРН</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Ogrnip" type="hl7:st" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>код ОГРНИП</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Okpo" type="hl7:st" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>код ОКПО</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Okato" type="hl7:st" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>код ОКАТО</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
	</xsd:complexType>
	
	<!--Реквизиты организации (пациент)-->
	<xsd:group name="Props_2">
		<xsd:sequence>
			<xsd:element name="Props" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ogrn" type="hl7:ST" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>код ОГРН</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Ogrnip" type="hl7:ST" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>код ОГРНИП</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Okpo" type="hl7:ST_non_NF" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>код ОКПО</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Okato" type="hl7:ST" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>код ОКАТО</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	
	<!-- Блок "Сведения о документе, удостоверяющем полномочия представителя" -->
	<xsd:element name="AuthorityDoc" type="POCD_MT000040.AuthorityDoc">
	</xsd:element>
	<xsd:complexType name="POCD_MT000040.AuthorityDoc">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="IdentityCardType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>тип документа</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:CE_non_elements">
								<xsd:attribute name="code" type="hl7:cs" use="required"/>
								<xsd:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.99.2.313"/>
								<xsd:attribute name="codeSystemName" type="hl7:st" use="required"/>							
								<xsd:attribute name="codeSystemVersion" type="hl7:st" use="required"/>							
								<xsd:attribute name="displayName" type="hl7:st" use="required"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>						
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Series" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>серия документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Number" type="hl7:ST_non_NF" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>номер документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IssueOrgName" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>кем выдан документ</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IssueDate" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>дата выдачи документа</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:TS">
								<xsd:attribute name="value" use="required" type="hl7:ts"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
	</xsd:complexType>

	<!-- Блок "Сведения о документе-основании" -->
	<xsd:element name="DocInfo" type="POCD_MT000040.DocInfo">
	</xsd:element>
	<xsd:complexType name="POCD_MT000040.DocInfo">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="IdentityDocType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>тип документа основания</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:CE_non_elements">
								<xsd:attribute name="code" type="hl7:cs" use="required"/>
								<xsd:attribute name="codeSystem" type="hl7:uid" use="required" fixed="1.2.643.5.1.13.13.99.2.724"/>
								<xsd:attribute name="codeSystemName" type="hl7:st" use="required"/>							
								<xsd:attribute name="codeSystemVersion" type="hl7:st" use="required"/>							
								<xsd:attribute name="displayName" type="hl7:st" use="required"/>
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>							
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="InsurancePolicyType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>тип полиса ОМС</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:CE_non_elements">
								<xsd:attribute name="code" type="hl7:cs" use="optional"/>
								<xsd:attribute name="codeSystem" type="hl7:uid" use="optional" fixed="1.2.643.5.1.13.13.11.1035"/>
								<xsd:attribute name="codeSystemName" type="hl7:st" use="optional"/>							
								<xsd:attribute name="codeSystemVersion" type="hl7:st" use="optional"/>							
								<xsd:attribute name="displayName" type="hl7:st" use="optional"/>
								<xsd:attribute name="nullFlavor" use="optional">
									<xsd:simpleType>
										<xsd:restriction base="hl7:NullFlavor">
											<xsd:enumeration value="NA"/>
											<xsd:enumeration value="NAV"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Series" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>серия документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Number" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>номер документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="INN" type="hl7:ST" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>ИНН организации или физического лица</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="effectiveTime" type="Effective_time" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>срок действия документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="hl7:NullFlavor">
					<xsd:enumeration value="NAV"/>
					<xsd:enumeration value="NA"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!-- Блок "Срок дейсвия документа-основания" -->
	<xsd:complexType name="Effective_time">
		<xsd:choice minOccurs="0">
			<xsd:sequence>
				<xsd:element name="low" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>дата начала действия документа</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:restriction base="hl7:TS">
								<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="prohibited"/>
							</xsd:restriction>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>				
				<xsd:element name="high" type="hl7:TS" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>дата окончания действия документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>		
	</xsd:complexType>
	
	<!-- Элемент "Уникальный идентификатор" устройства, имплантанта -->
	<xsd:element name="Device" type="hl7:st"/>
</xsd:schema>