Samples/GH70/XSD/LEGAL_AUTHENTICATOR.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Управлением актуализации и модернизации руководств по структурированным электронным медицинским документам (СЭМД) 2024 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xsd:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias" xmlns:identity="urn:hl7-ru:identity">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xsd:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xsd:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xsd:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xsd:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xsd:include schemaLocation="coreschemas/voc.xsd"/>
	<xsd:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	
	<!-- Блок "Сведения о лице, придавшем юридическую силу документу" -->
	<xsd:complexType name="POCD_MT000040.LegalAuthenticator">
		<xsd:sequence>
			<xsd:element name="time" type="POCD_MT000040.time" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="signatureCode" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="nullFlavor" type="NullFlavor" use="required" fixed="NI"/>							
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assignedEntity" type="POCD_MT000040.AssignedEntity_LegalAuthenticator" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>лицо, придавшее юридическую силу документу (роль)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
	<xsd:complexType name="POCD_MT000040.AssignedEntity_LegalAuthenticator">
		<xsd:sequence>
			<xsd:element name="id" type="II_id" minOccurs="2" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>уникальный идентификатор лица, придавшего юридическую силу документу, в МИС</xsd:documentation>
					<xsd:documentation>СНИЛС лица, придавшего юридическую силу документу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="code" type="POCD_MT000040.code_profession" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>код должности лица, придавшего юридическую силу документу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Блок "Адрес места работы лица, придавшего юридическую силу документу" -->
			<xsd:element name="addr" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>адрес лица, придавшего юридическую силу документу</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice minOccurs="0">
						<xsd:group ref="AD"/>
					</xsd:choice>
					<xsd:attribute name="use" use="optional" type="set_PostalAddressUse"/>
					<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="telecom" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>контакты лица, придавшего юридическую силу документу</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="TEL">
							<xsd:attribute name="value" type="url" use="required"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assignedPerson" type="POCD_MT000040.Person" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>лицо, придавшего юридическую силу документу (человек)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Блок "Сведения о медицинской организации, где работает лицо, придавшее юридическую силу документу" -->
			<xsd:element name="representedOrganization" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>место работы лица, придавшего юридическую силу документу</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice minOccurs="0">
						<xsd:group ref="Organization"/>
					</xsd:choice>
					<xsd:attribute name="classCode" type="EntityClassOrganization" use="required" fixed="ORG"/>
					<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
</xsd:schema>