GeneratedSchemaLibraries/HR-XML/4.3.0 FINAL/Screening/xml/ScreeningVendorOrderType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hropen="https://hropenstandards.org/schema/xml/" targetNamespace="https://hropenstandards.org/schema/xml/" version="4.3.0" id="ScreeningVendorOrderType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ReferenceObjectTypeArray.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/CodeType.xsd" />
  <xsd:include schemaLocation="../../common/xml/Communication/JurisdictionType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/IndicatorType.xsd" />
  <xsd:include schemaLocation="SubjectType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/NounType.xsd" />
  <xsd:include schemaLocation="../../common/xml/base/TextType.xsd" />
  <xsd:complexType name="CourtSearchOptionsType">
    <xsd:annotation>
      <xsd:documentation>A set of court specific search options.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="jurisdiction" type="hropen:JurisdictionType">
        <xsd:annotation>
          <xsd:documentation>The jurisdiction to be searched.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="numberYearsSearched">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>How many years to search.</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="yearSearchEnds">
        <xsd:simpleType>
          <xsd:annotation>
            <xsd:documentation>Ordinarily not supplied. Used to perform a search on a specific set of years in the past. E.g. a 1996-2000 search, numberOfYearsSearched=5 and yearSearchEnds=2000</xsd:documentation>
          </xsd:annotation>
          <xsd:restriction base="xsd:integer" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="isCopyRequiredIndicator" type="hropen:IndicatorType">
        <xsd:annotation>
          <xsd:documentation>Indicates if court copies need to be obtained.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ScreeningVendorOrderSubjectType">
    <xsd:annotation>
      <xsd:documentation>A set of subject specific properties.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="1" maxOccurs="1" name="subject" type="hropen:SubjectType">
        <xsd:annotation>
          <xsd:documentation>The subject to be researched.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="purpose" type="hropen:TextType">
        <xsd:annotation>
          <xsd:documentation>The reason why this subject is supplied (e.g. to search, for adjudication, etc.).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ScreeningVendorOrderType">
    <xsd:annotation>
      <xsd:documentation>A Screening vendor order.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="documentId" type="hropen:IdentifierType">
        <xsd:annotation>
          <xsd:documentation>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="alternateIds">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Alternative document IDs.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:IdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="language" type="hropen:LanguageCodeList" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dataProtectionPolicy">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDate" type="hropen:DateType">
              <xsd:annotation>
                <xsd:documentation>Date until allowed to keep privacy data. In case 'retentionDays' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="retentionDays">
              <xsd:simpleType>
                <xsd:annotation>
                  <xsd:documentation>Number of days allowed to keep privacy data. In case 'retentionDate' is also present, earlier one is taken as retention limit. In case of no retention property present, data can be kept indefinitely.</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:integer" />
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="geoRestrictions">
              <xsd:complexType>
                <xsd:annotation>
                  <xsd:documentation>Data can be processed only in countries from this list. In case not present, there is no country restriction associated with data.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                    <xsd:complexType>
                      <xsd:all>
                        <xsd:element minOccurs="0" maxOccurs="1" name="country" type="hropen:CountryCodeList">
                          <xsd:annotation>
                            <xsd:documentation>The Country (represented by an ISO 3166 2 letter code) under which the data protection policy applies. If the policy applies to the world, the country is optional.</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="countrySubDivisions">
                          <xsd:complexType>
                            <xsd:annotation>
                              <xsd:documentation>An optional further restriction or application of the data protection policy based on a region within the associated country. It should contain an ISO 3166-2 code for the country. Example would be 'US-CA' for California for further restrictions based on the CCPA regulation.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:AddressComponentType" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element minOccurs="0" maxOccurs="1" name="policy" type="hropen:SecurityPermissionType">
                          <xsd:annotation>
                            <xsd:documentation>The description of the data protection policy (optionally associated with the country and optional region).</xsd:documentation>
                          </xsd:annotation>
                        </xsd:element>
                      </xsd:all>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="serviceCode" type="hropen:CodeType">
        <xsd:annotation>
          <xsd:documentation>The code corresponding to a screening type (e.g. MVR, Criminal, Civil, Credit, Fingerprinting, Education, Employment).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="subjects">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>The subjects of the requested service. Supply multiple subjects if the subject may match on multiple descriptions (e.g. they may be found under different Date of Birth values).</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="item" type="hropen:ScreeningVendorOrderSubjectType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="purpose" type="hropen:TextType">
        <xsd:annotation>
          <xsd:documentation>The reason why this report is requested (e.g. Court Order/Subpoena, Employment, Insurance Underwriting).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="referenceObjects" type="hropen:ReferenceObjectTypeArray">
        <xsd:annotation>
          <xsd:documentation>Reference to the data required for the package.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="instructions" type="hropen:TextType">
        <xsd:annotation>
          <xsd:documentation>Instructions for what information should be sent for a Lead.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="courtSearchOptions" type="hropen:CourtSearchOptionsType">
        <xsd:annotation>
          <xsd:documentation>Court search options.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="workLocations">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Work location used for reporting guidelines.</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="hropen:JurisdictionType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="ScreeningVendorOrder" type="hropen:ScreeningVendorOrderType" />
</xsd:schema>