LinqToXsd.Schemas/UK CabinetOffice/View Council Tax/Council-Tax-view-v0_6-2002-06-07/CTview-v0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Anna Harvey (alphaXML Ltd.) -->
<!--W3C Schema generated by XML Spy v4.0.1 (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.govtalk.gov.uk/LG/CTview" xmlns:apd="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns="http://www.govtalk.gov.uk/LG/CTview" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.6" id="CTview">
	<xs:annotation>
		<xs:documentation>Metadata according to e-GMS XML Schema Metadata v0.4</xs:documentation>
		<xs:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Contributor>alphaXML Ltd  http://www.alphaxml.com</Contributor>
				<Contributor>Technology Policy Team, Office of the e-Envoy, Cabinet Office
		ukgovtalk@citu.gsi.gov.uk</Contributor>
				<Contributor>Sedgemoor District Council</Contributor>
				<Contributor>Sunderland City Council</Contributor>
				<Creator>alphaXML Ltd  http://www.alphaxml.com</Creator>
				<Date>
					<Created>2001-10-19</Created>
				</Date>
				<Date>
					<Modified>2002-05-27</Modified>
				</Date>
				<Description>Schema for Council Tax accounts and yearly transactions</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.govtalk.gov.uk/LG/CTview}v0.6</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Office of the e-Envoy, Stockley House,130 Wilton Road, London SW1V 1LQ</Publisher>
				<Relation>
					<Requires>AddressTypes-v1</Requires>
				</Relation>
				<Relation>
					<Requires>PersonalDetailsTypes-v1</Requires>
				</Relation>
				<Rights>unclassified
				<Copyright>Crown copyright 2002</Copyright>
				</Rights>
				<Subject>
					<Category>Government, politics and public administration</Category>
				</Subject>
				<Subject>
					<Project>Local Authorities Gateway Engagement</Project>
				</Subject>
				<Title>View Council Tax schema</Title>
				<Type>message</Type>
			</Metadata>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="AddressTypes-v1.xsd"/>
	<xs:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="PersonalDetailsTypes-v1.xsd"/>
	<xs:element name="AccountsHeld">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtractionDate"/>
				<xs:element ref="Name"/>
				<xs:element ref="CorrespondenceAddress" maxOccurs="unbounded"/>
				<xs:element name="AccountList" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AccountNumber"/>
							<xs:element ref="Property" maxOccurs="unbounded"/>
							<xs:element ref="AccountDates"/>
							<xs:element ref="Recovery"/>
							<xs:element name="Pending" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="SchemaId" type="xs:string" use="required"/>
			<xs:attribute name="SchemaVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountView">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtractionDate"/>
				<xs:element ref="AccountNumber"/>
				<xs:element ref="Name" maxOccurs="unbounded"/>
				<xs:element ref="Property" maxOccurs="unbounded"/>
				<xs:element ref="Recovery"/>
				<xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="YearDescription" minOccurs="0"/>
							<xs:element ref="Description"/>
							<xs:element ref="Date"/>
							<xs:element name="Balance" type="MonetaryStructure" minOccurs="0"/>
							<xs:element name="Arrears" type="MonetaryStructure" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TotalBalance" type="MonetaryStructure"/>
				<xs:element name="Arrears" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Description" minOccurs="0"/>
							<xs:element ref="Period"/>
							<xs:element ref="Amount"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AccountYear" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="YearDescription" minOccurs="0"/>
							<xs:element ref="YearPeriod"/>
							<xs:element name="OtherDebit" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Date"/>
										<xs:element name="OtherDebitDesc" type="xs:string"/>
										<xs:element ref="Amount"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TotalPayment" type="MonetaryStructure"/>
							<xs:element name="PropertyYear" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="LAPropertyReference"/>
										<xs:element ref="PropertyAddress"/>
										<xs:element name="CTBand" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Period"/>
													<xs:element name="Band" type="BandType"/>
													<xs:element name="BandReduction" type="xs:integer" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="YearCharge" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Description"/>
													<xs:element name="TotalAnnualCharge" type="MonetaryStructure"/>
													<xs:element ref="CalculatedAmount"/>
													<xs:element ref="Period"/>
													<xs:element name="ChargeComponent" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="Description"/>
																<xs:element name="AnnualAmount" type="MonetaryStructure"/>
																<xs:element name="PercentageChange" type="NonNegativeDecimalType" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TotalReduction" type="MonetaryStructure"/>
										<xs:element name="Reduction" minOccurs="0" maxOccurs="20">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Description" minOccurs="0"/>
													<xs:element ref="Period" minOccurs="0"/>
													<xs:element ref="CalculatedAmount"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="PaymentMade" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Adjustment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Description" minOccurs="0"/>
										<xs:element ref="Date"/>
										<xs:element ref="Amount"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentDue">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TotalDue" type="MonetaryStructure"/>
										<xs:element ref="MOP"/>
										<xs:element name="Reference" type="xs:string" minOccurs="0"/>
										<xs:element name="OverduePayment" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="RecoveryText" minOccurs="0"/>
													<xs:element ref="Date"/>
													<xs:element ref="Amount"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FuturePayment" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Date"/>
													<xs:element ref="Amount"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PaymentDiscount" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Date"/>
													<xs:element ref="Amount"/>
													<xs:element name="Percentage" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="SchemaId" type="xs:string" use="required"/>
			<xs:attribute name="SchemaVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountDates" type="PeriodType"/>
	<xs:element name="AccountHolder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="CorrespondenceAddress"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DecimalType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="-?(([1-9][0-9]*)|0)\.[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonNegativeDecimalType">
		<xs:restriction base="DecimalType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISOcurrency">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MonetaryStructure">
		<xs:simpleContent>
			<xs:extension base="DecimalType">
				<xs:attribute name="Currency" type="ISOcurrency" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AccountNumberType">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PeriodType">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
			<xs:element name="NumberofDays" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BandType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganisationNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Name">
		<xs:complexType>
			<xs:choice>
				<xs:element name="PersonName" type="apd:CitizenNameStructure"/>
				<xs:element name="OrganisationName" type="OrganisationNameType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Amount" type="MonetaryStructure"/>
	<xs:element name="CorrespondenceAddress">
		<xs:complexType>
			<xs:choice>
				<xs:element name="OverseasAddress" type="apd:InternationalAddressStructure"/>
				<xs:element name="UKAddress" type="apd:UKAddressStructure"/>
			</xs:choice>
			<xs:attribute name="private" default="no"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CurrentBand" type="BandType"/>
	<xs:element name="Date" type="xs:date"/>
	<xs:element name="MOP" type="xs:string"/>
	<xs:element name="AccountNumber" type="AccountNumberType"/>
	<xs:element name="PaymentMade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="Date"/>
				<xs:element ref="MOP"/>
				<xs:element ref="Amount"/>
				<xs:element name="ChequeDetails" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Period" type="PeriodType"/>
	<xs:element name="Property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LAPropertyReference"/>
				<xs:element ref="PropertyAddress"/>
				<xs:element ref="CurrentBand"/>
				<xs:element ref="Period"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyAddress" type="apd:UKAddressStructure"/>
	<xs:element name="Recovery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RecoveryFlag"/>
				<xs:element ref="RecoveryText" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RecoveryFlag" type="apd:YesNoType"/>
	<xs:element name="RecoveryText" type="xs:string"/>
	<xs:element name="YearPeriod" type="PeriodType"/>
	<xs:element name="Year" type="xs:gYear"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="ExtractionDate" type="xs:dateTime"/>
	<xs:element name="CalculatedAmount" type="MonetaryStructure"/>
	<xs:element name="YearDescription" type="xs:string"/>
	<xs:element name="LAPropertyReference" type="AccountNumberType"/>
</xs:schema>
